<form #createForm="ngForm" (ngSubmit)="submitClick()" autocomplete="off" class="c21-schedule-max-width">
  <div class="ui-g ui-fluid ui-g-12" *ngIf="!!modal.schedule">
    <div class="ui-g-12">
      <strong>{{'schedule.editor.work' | translate }}</strong> {{modal.schedule.obra.nombre}}
    </div>
    <div class="ui-g-12" *ngIf="!!lo">
      <p-calendar [locale]="lo" required [(ngModel)]="modal.schedule.fechaAviso" [showIcon]="true" pTooltip="{{'schedule.editor.date'|translate}}"
        dateFormat="{{lo.formatDate}}" [showTime]="true" name="fechaAviso" placeholder="{{'schedule.editor.date'|translate}}"></p-calendar>
    </div>

    <div class="ui-g-12">

      <input type="text" name="telefonos" pInputText pTooltip="{{ 'schedule.editor.telefono' | translate}}" placeholder="{{ 'schedule.editor.telefono' | translate}}"
        [(ngModel)]="modal.schedule.telefonos">
    </div>
    <div class="ui-g-12">

      <input type="text" name="contacto" pInputText pTooltip="{{ 'schedule.editor.contacto' | translate}}" placeholder="{{ 'schedule.editor.contacto' | translate}}"
        [(ngModel)]="modal.schedule.contacto">
    </div>
    <div class="ui-g-12">
      <p-dropdown name="action" pTooltip="{{'schedule.editor.action' | translate}}" placeholder="{{'schedule.editor.action' | translate}}"
        *ngIf="!!action" [options]="action" optionLabel="nombre" [(ngModel)]="selectedAction" [autoWidth]="false"></p-dropdown>
    </div>
    <div class="ui-g-12">
      <textarea pInputTextarea name="descripcion" pTooltip="{{ 'schedule.editor.descripcion' | translate}}" placeholder="{{ 'schedule.editor.descripcion' | translate}}"
        [(ngModel)]="modal.schedule.descripcion"></textarea>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="avisoEmail" binary="true" label="{{ 'schedule.editor.avisoEmail' | translate}}" 
        [(ngModel)]="modal.schedule.avisoEmail"></p-checkbox>
    </div>
    <button pButton type="submit" class="c21-margin-top--2x  c21-button--third" icon="fa-floppy-o" iconPos="right" label="{{'schedule.editor.save' | translate}}"
      [disabled]="!createForm.valid"></button>
  </div>
</form>