<div class="ui-g-12 ui-g-nopad" *ngIf="!!usuario">
  <div class="ui-g-7 ui-sm-12 c21-bold c21-text-black c21-flex-w-initial ui-g c21-align-center">
    <div class="c21-user__status" *ngIf="usuario.codigo" [class.c21-user__status--off]="!usuario.online">
      <img class="c21-user__status-img " src="assets/shared/unk-white-2.png">
    </div>
    <span class="c21-name">
      {{header}}
    </span>
  </div>
  <div class="ui-g-5 ui-sm-12  c21-align-center ui-g">
    <div class="ui-g-5">
      <span *ngIf="usuario.numeroAccesos"> {{'account.user.totalLogins' | translate }} {{usuario.numeroAccesos}}
      </span>
    </div>
    <div class="ui-g-5 c21-center">
      <img src="assets/alert/main/saved_frec.png" *ngIf="!!usuario.fechaUltimoAcceso">
      <span *ngIf="!!usuario.fechaUltimoAcceso && lo" class="c21-line-fix">
        {{usuario.fechaUltimoAcceso | amDateFormat: lo.momentFormatDateWithHour }}
      </span>
    </div>
    <div class="ui-g-2 ui-g  ui-g-nopad c21-flex-end" *ngIf="usuario.codigo">
      <button type="button" pButton class="c21-button__med c21-button__med--ico c21-button--delete c21-button--danger" (click)="delete()"
        tooltipPosition="left" pTooltip="{{'account.user.delete'|translate}}"></button>
    </div>
  </div>
  <form #myFormUser="ngForm" (ngSubmit)="saveUser()" *ngIf="!!usuario && !collapsed">
    <div class="ui-g-12 ui-g ui-fluid ui-g-nopad">
      <div class="ui-lg-5 ui-sm-12 ui-g-nopad">
        <div class="ui-g ui-fluid ui-g-nopad">

          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top c21-padding-right">
            <input name="nombre" [(ngModel)]="usuario.nombre" type="text" required pInputText pTooltip="{{ 'account.user.name' | translate}}"
              placeholder="{{ 'account.user.name' | translate}}">
          </div>

          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-left">
            <input name="apellidos" [(ngModel)]="usuario.apellidos" type="text" required pInputText pTooltip="{{ 'account.user.apellidos' | translate}}"
              placeholder="{{ 'account.user.apellidos' | translate}}">
          </div>
          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-right">
            <input name="email" [(ngModel)]="usuario.emailNuevo" type="text" required pInputText pTooltip="{{ 'account.user.email' | translate}}"
              placeholder="{{ 'account.user.email' | translate}}">
          </div>


          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-left">
            <p-dropdown name="rol" required placeholder="{{'account.user.rol'|translate}}" pTooltip="{{'account.user.rol'|translate}}"
              [options]="rols" [(ngModel)]="usuario.rol" optionLabel="nombre" [autoWidth]="false"></p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-right">
            <input name="login" [(ngModel)]="usuario.login" type="text" required pInputText pTooltip="{{ 'account.user.login' | translate}}"
              placeholder="{{ 'account.user.login' | translate}}">
          </div>

          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-left">
            <input name="password" [(ngModel)]="usuario.password" type="password" pInputText pTooltip="{{ 'account.user.password' | translate}}"
              placeholder="{{ 'account.user.password' | translate}}">
          </div>
          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-right">
            <input name="confirmacionPassword" [(ngModel)]="usuario.confirmacionPassword" type="password" pInputText pTooltip="{{ 'account.user.confirmacionPassword' | translate}}"
              placeholder="{{ 'account.user.confirmacionPassword' | translate}}">
          </div>


          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-left">
            <p-dropdown name="lang" required placeholder="{{'account.user.language'|translate}}" pTooltip="{{'account.user.language'|translate}}"
              [options]="languages" [(ngModel)]="usuario.idioma" optionLabel="nombre" [autoWidth]="false"></p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-6 c21-padding-bottom--2x c21-padding-top  c21-padding-right">
            <p-dropdown name="status" required placeholder="{{'account.user.status'|translate}}" pTooltip="{{'account.user.status'|translate}}"
              [options]="status" [(ngModel)]="usuarioActivo" (onChange)="userStatusChange()" optionLabel="nombre" [autoWidth]="false"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="ui-lg-7 ui-md-12 ui-sm-12 ui-g ui-g-nopad">
        <div class="ui-lg-4 ui-md-12 ui-sm-12 c21-bottom c21-padding-bottom--2x c21-padding-top">
          <button pButton type="submit" class="c21-button--third c21-button__med c21-button--save" label="{{'shared.form.save' | translate }}"></button>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-sm-12 ui-g-nopad">
          <div class="ui-g ui-fluid c21-align-baseline ui-g-nopad">
            <div class="ui-g-12 ui-g c21-center--vertical c21-padding-bottom">
              <span class="c21-bold c21-text-black c21-padding-bottom--2x c21-padding-top">{{'account.user.permisos' |translate}}</span>
              <span *ngFor="let permiso of permisos" class="c21-padding-bottom">

                <div class="ui-chkbox ui-widget">
                  <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default c21-cursor-default" [class.ui-state-active]="usuario.rol && permiso.codes.indexOf(usuario.rol.codigo) >=0">
                  </div>
                </div>
                {{permiso.nombre}}


              </span>

            </div>
          </div>
          <button pButton *ngIf="!!usuario.codigoCarpeta" label="{{'comun.text.goToFolder' | translate}}" class="c21-margin-folder--fix  c21-button--secondary c21-button__med  c21-button--next"
            (click)="redirectToFolder(usuario.codigoCarpeta)" tooltipPosition="top" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <div class="ui-g-12 c21-center c21-padding-top--2x">
    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="this.collapsed=!this.collapsed">
    </button>
  </div>
  <div class="ui-g-12 c21-hline c21-padding-top--2x c21-margin-top--2x"></div>
</div>