@import '_variables';
.c21-datatable-color {
	&--1 {
		font-weight: bold;

		color: $color-button-danger;
	}
	&--2 {
		font-weight: bold;

		color: $color-button-options;
	}
	&--4 {
		font-weight: bold;

		color: $color-button-options;
	}
}
