<!-- ALERTAS GUARDADAS -->
<p-panel class="ui-g-12 ui-g-nopad c21-panel">

  <!-- header -->
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/carpeta.png" alt="Folders">
          </span>
          {{'folders.main.header.title' | translate}}
        </div>

        <div class="ui-g-offset-2 ui-sm-offset-0 ui-g-2 ui-sm-12">
          <div class="ui-inputgroup">
            <input type="text" class="c21-icon-margin" pInputText placeholder="{{ 'folders.main.header.search' | translate}}"
              [ngModel]="keyword" (ngModelChange)="onChangeKeywordText($event)">
            <span class="ui-inputgroup-addon c21-right-addon">
              <i class="fa fa-search"></i>
            </span>
          </div>

        </div>
      </div>
    </div>
  </p-header>

  <div class="ui-g  ui-g-12">
    <div class="ui-g-3 ui-sm-6 ui-fluid">
      <p-dropdown *ngIf="!!folderList" appendTo="body" [options]="folderList" optionLabel="nameWithNumbers" [(ngModel)]="folderActual"
        (onChange)="onChangeFolder()" [autoWidth]="false">
        <ng-template let-fold pTemplate="selectedItem">
          <span class="{{!fold.value.codigoCarpetaPadre ? 'c21-bold' : ''}}">
            {{fold.label}}
          </span>
        </ng-template>
        <ng-template let-fold pTemplate="item">
          <span class="{{!fold.value.codigoCarpetaPadre ? 'c21-bold' : ''}}">
            {{fold.label}}
          </span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-5 ui-sm-6 c21-center-align">
      <button pButton pTooltip="{{'folders.edit' | translate}}" [class.c21-none]="folderActual?.codigo === 0"
        [disabled]="(!!folderActual && folderActual.codigo === 0)" class="c21-margin-right--2x c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
        tooltipPosition="top" type="button" (click)="editFolder()"></button>
      <button pButton pTooltip="{{'folders.deleteButton' | translate}}" [class.c21-none]="!folderActual?.sePuedeEliminar"
        class="c21-margin-right--2x c21-button--danger  c21-button__med c21-button__med--ico c21-button--delete"
        tooltipPosition="top" type="button" (click)="deleteFolder()"></button>
      <button pButton pTooltip="{{'folders.export' | translate}}" class="c21-margin-right--2x c21-button__med c21-button__med--ico c21-button--download c21-button--third"
        tooltipPosition="top" type="button" (click)="exportFolder()"></button>
    </div>
    <div class="ui-g-4 ui-sm-12 c21-ta-right">
      <button pButton type="button" class="c21-button__med c21-button--add c21-button--third" label="{{  (folderActual?.codigo === 0)? ('folders.createNewFolderLabel' | translate) : ('folders.createNewFolderLabel' | translate) }}"
        (click)="displayCreateNewFolder()"></button>
    </div>
    <div class="c21-hline ui-g-12 c21-margin-top c21-padding-top"></div>
    <div class="ui-g-12 ui-md-2 ui-sm-12 ui-g c21-center--vertical">
      <span class="c21-paginator_results">
        {{paginator?.numeroResultados}} {{'shared.text.resultCount'|translate}}
      </span>
    </div>
    <div class="ui-md-5 ui-sm-12 ui-g c21-center--vertical">
      <span class="c21-paginator_margin ">
        <c21-mini-paginator [paginatorFiller]="paginator" (requestPage)="getFolderWorks($event)"></c21-mini-paginator>
      </span>
    </div>
    <div class="ui-sm-12 ui-md-5 c21-flex-end c21-paginator_buttons-container  ui-g ">
      <button pButton class=" c21-button__med c21-button__med--ico c21-button--download c21-button--third" type="button"
        (click)="openDialogExport()" tooltipPosition="top" pTooltip="{{'comun.exportSelected'|translate}}"></button>
      <button pButton class="c21-margin-left--2x c21-button__med c21-button__med--ico c21-button--folder c21-button--third"
        type="button" pTooltip="{{'folders.addWorksToFolder'|translate}}" tooltipPosition="top" (click)="showFolderPopup()"></button>
      <button pButton class="c21-button--danger c21-button__med c21-button__med--ico c21-button--delete c21-margin-left--2x"
        type="button" pTooltip="{{'folders.deleteWorkFromFolder'|translate}}" tooltipPosition="top" (click)="deleteWorkFromFolder()"
        placeholder="Top"></button>
      <button pButton [class.c21-hidden]="currentViewMosaic" pTooltip="{{'search.filter.columnsChange'|translate}}"
        class="c21-button--warning c21-button__med c21-button__med--ico c21-button--cog c21-margin-left--2x c21-margin-right--2x"
        tooltipPosition="top" type="button" (click)="displayVisibleTableColumns(true)"></button>

      <button pButton class="c21-paginator_view-button c21-margin-left--2x" type="button" [disabled]="!!this.currentViewMosaic"
        (click)="changeView()" icon="fa-th-large" pTooltip="{{'search.filter.viewMosaic'|translate}}" tooltipPosition="top"
        placeholder="Top"></button>

      <button pButton class="c21-paginator_view-button c21-margin-left" type="button" [disabled]="!this.currentViewMosaic"
        (click)="changeView()" icon="fa-align-justify" pTooltip="{{'search.filter.viewGrid'|translate}}"
        tooltipPosition="top" placeholder="Top"></button>


    </div>
    <div *ngIf="!currentViewMosaic" class="ui-g-12">
      <p-dataTable [value]="constructionProvidersElemento" [responsive]="true" [lazy]="true" loadingIcon="fa-spinner"
        (onSort)="foldersSort($event)" (onRowClick)="redirectToWorksheetWithData($event)" [(selection)]="worksSelection"
        dataKey="codigo" [sortField]="sortingColumn ? sortingColumn.attribute : ''" [sortOrder]="paginator?.sortingDirection ? (paginator.sortingDirection === 1? 1:-1) : ''"
        emptyMessage="{{'comun.dataNotAvailable'|translate}}">

        <p-column>
          <ng-template pTemplate="header">
            <p-checkbox [ngModel]="checkedAll" binary="true" (ngModelChange)="checkAll($event)"></p-checkbox>
          </ng-template>
          <ng-template let-col let-car="rowData" pTemplate="body">

            <p-checkbox data-checkselection="true" binary="true" [value]="!!car.checked" [(ngModel)]="car.checked"
              (onChange)="checked(car)"></p-checkbox>

          </ng-template>
        </p-column>

        <!-- Resto de Campos -->
        <p-column *ngFor="let pcol of columnsVisibleTable" [field]="pcol.attribute" [header]="pcol.text
            "
          sortable="true" [style]="pcol.cssStyle" bodyStyleClass="c21-clickable">
          <ng-template let-colObj let-rowObj="rowData" pTemplate="body">

            <span *ngIf="colObj.field==='urlImagen' && !!rowObj.urlImagen">

              <img [src]="rowObj.urlImagen" onError="this.src='assets/shared/search-default.png' ;" style="width:50px;
              height: 50px;">
            </span>

            <span *ngIf="colObj.field==='urlImagen' && !rowObj.urlImagen">
              <img src="assets/shared/search-default.png" style="width: 50px; height: 50px;">
            </span>
            <span *ngIf="colObj.field ==='tipoElemento.nombre'" class="c21-datatable-color--{{rowObj.tipoElemento.codigo}}">{{rowObj.tipoElemento.nombre}}</span>
            <span *ngIf="colObj.field ==='fase'">
              {{rowObj.fase}}
              <p>({{rowObj.fechaFase | amDateFormat: lo.momentFormatDate}})</p>
            </span>

            <span *ngIf="colObj.field ==='gestiones' && rowObj.gestiones?.length > 0" class="c21-center c21-center--vertical">
              <img src="\assets\folder\gestion\{{rowObj.gestiones[0].tipo}}.png" tooltipPosition="top" pTooltip="{{rowObj.gestiones[0].tooltip}}">
              <span>{{rowObj.gestiones[0].fecha | amDateFormat: lo.momentFormatDate}}</span>
              <img *ngIf="rowObj.gestiones?.length > 1" src="\assets\folder\gestion\{{rowObj.gestiones[rowObj.gestiones.length-1].tipo}}.png"
                tooltipPosition="top" pTooltip="{{rowObj.gestiones[rowObj.gestiones.length-1].tooltip}}" class="c21-margin-top">
              <span *ngIf="rowObj.gestiones?.length > 1">{{rowObj.gestiones[rowObj.gestiones.length-1].fecha |
                amDateFormat:
                lo.momentFormatDate}}
              </span>
            </span>
            <span *ngIf="colObj.field==='carpeta.nombre' && folderActual.codigo=== 0">{{rowObj.carpeta?.nombre}}</span>
            <span *ngIf="colObj.field !='urlImagen' && colObj.field !='tipoElemento.nombre' && colObj.field !=='carpeta.nombre'  && colObj.field !=='gestiones' && colObj.field !== 'fase'
              ">
              {{rowObj[colObj.field]}}</span>

          </ng-template>
        </p-column>

      </p-dataTable>

    </div>
    <div *ngIf="currentViewMosaic" class="ui-g-12">
      <p-dataGrid class="c21-data-mosaic" [value]="constructionProvidersElemento" [lazy]="true">

        <p-header>
          <p-dropdown class="c21-header-dropdown" pTooltip="{{'search.mosaic.selectOrderColumn'|translate}}"
            placeholder="{{'search.mosaic.selectOrderColumn'|translate}}" [autoWidth]="false" (onChange)="foldersSort()"
            optionLabel="text" [options]="columnsVisibleTable" [(ngModel)]="sortingColumn" pTooltipPosition="top"></p-dropdown>

          <p-dropdown class="c21-header-dropdown" pTooltip="{{'search.mosaic.selectOrderDirection'|translate}}"
            placeholder="{{'search.mosaic.selectOrderDirection'|translate}}" [autoWidth]="false" (onChange)="foldersSort()"
            optionLabel="nombre" [options]="sortingList" [(ngModel)]="sortingDirectionCombo" pTooltipPosition="top"></p-dropdown>

        </p-header>

        <ng-template let-row pTemplate="item">

          <div class="ui-g-nopad ui-g-12 ui-md-4">
            <div class="c21-data-mosaic_template">
              <p-panel>

                <!-- Panel-Header-->
                <span class="c21-data-mosaic_panel-header">
                  <!-- Imagen 220x160 -->
                  <a (click)="redirectToWorksheet(row)">
                    <img [src]="row.urlImagenGrande? row.urlImagenGrande :  
                    'https://www.construdata21.com/cont/themes/cd21/img/sinimagenAngular.png'"
                      onError="this.src='https://www.construdata21.com/cont/themes/cd21/img/sinimagenAngular.png';">
                  </a>
                </span>
                <!-- ./Panel-Header-->

                <!-- ./Panel-Body -->
                <div class="c21-data-mosaic_panel-body ui-g-nopad ui-g">
                  <div pTooltip={{row.nombre}} tooltipPosition="top" class="c21-data-mosaic_checkbox ui-g-nopad ui-g ui-g-12">
                    <!-- <p-checkbox name="group1" placeholder="Top" label="{{row.nombre}}" inputId="checkMyId" value=""></p-checkbox> -->
                    <p-checkbox data-checkselection="true" label="{{row.nombre}}" binary="true" [value]="!!row.checked"
                      [(ngModel)]="row.checked" class="c21-ellipsis ui-g-12 ui-g-nopad" (onChange)="checked(row)"></p-checkbox>
                  </div>
                  <div pTooltip="{{row.divisionEstatal1}}, {{row.divisionEstatal2}}, {{row.divisionEstatalPais}}"
                    tooltipPosition="top" class="c21-data-mosaic_location c21-ellipsis ui-g-nopad ui-g-12">
                    {{row.divisionEstatal1}}, {{row.divisionEstatal2}}, {{row.divisionEstatalPais}}
                  </div>
                  <div pTooltip="{{row.promotora}}" tooltipPosition="top" class="c21-data-mosaic_forwarder c21-ellipsis">
                    {{row.promotora}}
                  </div>
                  <!-- Budget line -->
                  <div class="c21-data-mosaic_budget-container ui-g-nopad ui-g-12">
                    <div class="c21-data-mosaic_budget-details ui-g-nopad ui-g-6">
                      <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\fase\{{row.tipoElemento.codigo}}_{{row.codigoFase}}.png"
                        tooltipPosition="top" pTooltip="{{row.fase}}" onError="this.src='\assets\search\mosaic\fase\0_0.png';">
                      <span>({{row.fechaFase|date:'dd/MM/yy'}})</span>
                    </div>
                    <div class="c21-data-mosaic_budget-details c21-ellipsis ui-g-nopad ui-g-6">
                      <img class="c21-data-mosaic_icon-size" pTooltip="{{'search.mosaic.budget' |translate}}"
                        tooltipPosition="top" src="\assets\search\mosaic\Presupuesto.png">
                      <span>{{row.presupuesto}}{{!!row.presupuesto?' €':''}}</span>
                    </div>
                  </div>
                </div>
                <!-- ./Panel-Body -->

                <!-- Panel-Footer -->
                <div class="c21-data-mosaic_panel-footer ui-g">
                  <div class="c21-data-mosaic_details-container ui-g-nopad ui-g-12 ui-g ui-fluid ">

                    <div class="c21-data-mosaic_horizontal-rule ui-g-nopad ui-g-12"></div>

                    <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                      <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Superficie.png" pTooltip="{{'search.mosaic.superficie' |translate}}"
                        tooltipPosition="bottom">
                      <span>{{row.superficie}}{{!!row.superficie?' m²':''}}</span>
                    </div>
                    <div class="ui-g-nopad ui-g-8">
                      <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                        <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Habitaciones_viviendas.png"
                          pTooltip="{{'search.mosaic.numeroViviendas' |translate}}" tooltipPosition="bottom">
                        <span>{{row.numeroViviendas}}</span>
                      </div>
                      <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                        <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Pisos_alturas.png" pTooltip="{{'search.mosaic.numeroPisos' |translate}}"
                          tooltipPosition="bottom">
                        <span>{{row.numeroPisos}}</span>
                      </div>
                      <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                        <img pTooltip="{{'search.mosaic.duracion' |translate}}" tooltipPosition="bottom" class="c21-data-mosaic_icon-size"
                          src="\assets\search\mosaic\Duracion.png">
                        <span>{{row.duracion}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Panel-Footer -->

              </p-panel>
            </div>
          </div>
        </ng-template>

      </p-dataGrid>
    </div>
  </div>
</p-panel>

<p-dialog modal="true" width="400" header="{{'comun.exportSelected' | translate}}" [(visible)]="dialogExport">
  {{'comun.futureExport' | translate}}
  <!-- <p-footer>
    <button type="button" pButton icon="fa-close" (click)="dialogExport=false" label="{{'comun.close' |translate}}" class="c21-button--third"></button>
  </p-footer> -->
</p-dialog>

<c21-create-new-folder *ngIf="createNewFolderModal.visible" (displayNone)="closeCreateNewFolder()" [folder]="createNewFolderModal"></c21-create-new-folder>
<c21-works-to-folder *ngIf="worksTofolderModal.display" [worksData]="worksTofolderModal" (displayNone)="closeWorksToFolder()"></c21-works-to-folder>
<c21-visible-table-columns *ngIf="visibleTableColumnsData.display" [incoming]="visibleTableColumnsData" (save)="displayVisibleTableColumns($event)"></c21-visible-table-columns>
<c21-folder-export [lo]="lo" [folderModal]="dialogExportFolder"></c21-folder-export>

<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel=" {{'confirmDialog.yesLabel' | translate}}"
  rejectLabel=" {{'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>