<p-panel class="ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/question.png" alt="Faq">
          </span>
          {{ 'faq.title.header' | translate}}
        </div>
        <div class="ui-g-offset-2 ui-g-2 ui-sm-12 ui-sm-offset-0">
          <div class="ui-inputgroup">
            <input type="text" class="c21-icon-margin" pInputText placeholder="{{ 'folders.main.header.search' | translate}}" [ngModel]="keyword"
              (ngModelChange)="onChangeKeywordText($event)">
            <span class="ui-inputgroup-addon c21-right-addon">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x" *ngIf="!faqList || faqList.length === 0">
    {{'comun.dataNotAvailable' | translate}}
  </div>
  <div class="c21-nav-menu ui-g-12 ui-lg-2">

    <button *ngFor="let faqType of faqList" pButton type="button" class="c21-nav-button c21-button--dark" icon="fa-chevron-right"
      iconPos="right" (click)="onChangeView(faqType)" label="{{faqType.nombre |uppercase }}" [class.c21-nav-button--active]="faqTypeSelected===faqType"></button>
  </div>
  <div class="ui-g-12 ui-lg-10" *ngIf="faqTypeSelected">
    <ng-container *ngFor="let elem of faqTypeSelected.elementos">
      <div class="c21-hline ui-g-12 c21-padding-top--2x c21-margin-top--2x"></div>
      <div class="ui-g-12 c21-text-black c21-padding-bottom--2x">
        <strong>{{elem.nombre}}</strong>
      </div>
      <div class="ui-g-12" *ngIf="elem.visible" [innerHTML]="elem.contenido">
      </div>
      <div class="ui-g-12 c21-center">
        <button pButton class="c21-button c21-button__med c21-button__med--ico c21-button--rowdata" [ngClass]="elem.visible ? 'c21-button--up' : 'c21-button--down'"
          (click)="elem.visible = !elem.visible" tabindex="-1"></button>
      </div>

    </ng-container>
  </div>
</p-panel>