@import '_variables';
.c21-textarea {
	width: 100%;
	height: auto;
	min-height: 10em;
	padding: 1em;
}

.c21-border-panel {
	min-height: 180px;

	border: 1px solid $grey-shadow;
	border-radius: 5px;
}

::ng-deep .c21-button--upload .ui-button {
	font-size: 13px;
	line-height: 20px !important;

	overflow: hidden;

	box-sizing: border-box;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	height: 20px;
	padding: 0 5px;
	padding-right: 20px;

	text-align: left;

	color: $color-button__text;
	border: 0; //border: 1px solid $color-button;

border-radius: $c21-button-border-radius;
	background: $color-button-third;
	background-image: url('/assets/common/add.png');
	background-repeat: no-repeat;
	background-position: 80px center;

	&:enabled:hover,
	&:focus {
		color: $color-button__text-over;
		outline: 0 none; // background: $color-button-third;

box-shadow: 0 0 0 .1rem $color-button__over;
	}
	&:enabled:active {
		color: $color-button__text-over;
		border: 0;
		outline: 0 none; // background: $color-button-third;
	}
	.ui-button-text.ui-clickable {
		padding: 0;
	}
	.ui-button-icon-left.fa.fa-plus {
		display: none;
	}
}
