<p-panel class="ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-lg-10 ui-md-9 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/business.png" alt="Business">
          </span>
          {{'business.title' | translate}}
        </div>
        <div class="ui-lg-2 ui-md-3 ui-g c21-flex-end ui-sm-12" *ngIf="company">
          <input type="text" class="c21-center" pInputText placeholder="{{ 'folders.main.header.search' | translate}}" [ngModel]="company.estado"
            readonly>
        </div>


      </div>
    </div>
  </p-header>
  <div class="ui-g-12 ui-g-nopad" *ngIf="company">
    <div class="ui-g-12  c21-padding-top c21-padding-bottom--2x">
      {{'business.lastUpdate' | translate}}
      <span class="c21-highlight">{{company.fechaActualizacion | amDateFormat: lo.momentFormatDate}}</span>
      <a href="https://www.construdata21.com/historico/historico-de-construcontact/">
        <button pButton type="button" class="c21-button--secondary c21-button__med c21-button--next c21-float-right" label="{{'business.others' | translate }}"></button>
      </a>
    </div>
    <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>

    <div class="ui-g-12 c21-block-title">
      {{'business.data' | translate}}
    </div>
    <div class="ui-g-12 ui-fluid ui-g ui-g-nopad">
      <form #myForm="ngForm" (ngSubmit)="save()" class="ui-g-12 ui-g ui-g-nopad">


        <c21-user-business class="ui-g-12 ui-g-nopad" [(company)]="company" [faxVisible]="true" #c21UserBusiness></c21-user-business>

        <!-- <div class="ui-g-4 ui-sm-12">
          <input name="faxEmpresa" [(ngModel)]="company.faxEmpresa" type="text" pInputText pTooltip="{{ 'business.faxEmpresa' | translate}}"
            placeholder="{{ 'business.faxEmpresa' | translate}}">
        </div> -->
        <div class="ui-g-4 ui-sm-12">
          <input name="web" [(ngModel)]="company.web" type="text" pInputText pTooltip="{{ 'business.web' | translate}}" placeholder="{{ 'business.web' | translate}}">
        </div>
        <div class="ui-g-4 ui-sm-12">
          <input name="emailEmpresa" [(ngModel)]="company.emailEmpresa" type="text" pInputText pTooltip="{{ 'business.emailEmpresa' | translate}}"
            placeholder="{{ 'business.emailEmpresa' | translate}}">
        </div>
        <div class="ui-g-4 ui-sm-12">
          <p-dropdown name="provider" *ngIf="!!providersType" appendTo="body" [options]="providersType" optionLabel="nombre" [(ngModel)]="providersTypeSelected"
            [autoWidth]="false" placeholder="{{ 'business.tipoProveedor' | translate}}" pTooltip="{{ 'business.tipoProveedor' | translate}}"></p-dropdown>

        </div>
        <div class="ui-g-4 ui-sm-12 c21-padding-top ui-g">
          <div class="c21-center--vertical">
            <p-fileUpload #fileUp mode="basic" name="logo[]" accept="image/*" maxFileSize="1000000" pTooltip="{{'business.addLogo'|translate}}"
              auto="true" chooseLabel="{{'business.addLogo'|translate}}" (onSelect)="onUploadLogo($event)" (uploadHandler)="myUploaderLogo($event)"
              class="c21-button--upload" customUpload="true"></p-fileUpload>
            <span class="c21-center c21-padding-top">{{'business.logoReq' | translate}}</span>
          </div>
          <button pButton pTooltip="{{'business.delLogo' | translate}}" class="c21-margin-left--2x c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
            tooltipPosition="top" type="button" (click)="deleteLogo()"></button>
        </div>
        <div class="ui-g-4 ui-sm-12">
          <img *ngIf="company.logoFicha" [src]="company.logoFicha.urlDescarga">
        </div>
        <div class="ui-g-12 c21-hline c21-padding-top--2x c21-margin-top--2x"></div>

        <div class="ui-g-6  c21-padding-top c21-padding-bottom c21-center--vertical ui-g c21-block-title">
          {{'business.details' | translate}}

        </div>
        <div class="ui-md-offset-2  ui-lg-offset-4 ui-lg-2 ui-sm-offset-2 ui-g-offset-4 ui-g-2  ui-md-4 ui-sm-4">
          <p-dropdown name="lag" *ngIf="!!languages" appendTo="body" [options]="languages" optionLabel="nombre" [(ngModel)]="languageSelected"
            [autoWidth]="false" placeholder="{{ 'business.lenguage' | translate}}" pTooltip="{{ 'business.lenguage' | translate}}"
            (onChange)="langChange()" tooltipPosition="left"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-6 ui-sm-12 c21-padding-top--2x">
            <textarea *ngIf="transBusiness" placeholder="{{'business.activity'|translate}}" pTooltip="{{'business.activity'|translate}}"
              name="productos" class="c21-textarea " pInputTextarea [(ngModel)]="transBusiness.actividad"></textarea>
          </div>
          <div class="ui-g-6 ui-sm-12 c21-padding-top--2x">
            <textarea *ngIf="transBusiness" placeholder="{{'business.products'|translate}}" pTooltip="{{'business.products'|translate}}"
              name="actividad" class="c21-textarea " pInputTextarea [(ngModel)]="transBusiness.productos"></textarea>
          </div>
        </div>
        <div class="ui-g-12 c21-hline c21-padding-top--2x c21-margin-top--2x"></div>

        <div class="ui-g-12  c21-padding-top c21-padding-bottom--2x c21-block-title">
          {{'business.personas' | translate}}

        </div>
        <div class="ui-g-12 ui-fluid ui-g ui-g-nopad">
          <div *ngFor="let persona of company.personas" class="ui-g-4 ui-sm-12 ">
            <div class="ui-g-12 c21-border-panel">

              <div class="ui-g-12 c21-padding-bottom c21-padding-bottom--2x">
                <span class="c21-margin-left--2x c21-bold c21-text-black" *ngIf="!!persona.observaciones">{{persona.observaciones}}</span>
              </div>
              <div class="ui-g-12 c21-padding-bottom c21-padding-bottom--2x">
                <span class="c21-margin-left--2x c21-bold c21-text-black" *ngIf="!!persona.nombre">{{persona.nombre}}</span>
              </div>
              <div class="ui-g-12" *ngIf="!!persona.telefonosString">

                <span class="c21-highlight c21-margin-left--2x "> {{'contact.telephone' | translate}}: </span>
                <span class="c21-500">{{persona.telefonosString}}</span>
              </div>
              <div class="ui-g-12" *ngIf="persona.faxString">

                <span class="c21-highlight c21-margin-left--2x "> {{'contact.fax' | translate}}: </span>
                <span class="c21-500">{{persona.faxString}}</span>
              </div>
              <div class="ui-g-12 c21-padding-bottom--2x" *ngIf="persona.emailsString">

                <span class="c21-highlight c21-margin-left--2x ">{{'contact.email' | translate}}: </span>
                <span class="c21-500">{{persona.emailsString}}</span>
              </div>
            </div>

          </div>
        </div>
        <div class="ui-g-12 c21-hline c21-padding-top--2x c21-margin-top--2x"></div>

        <div class="ui-g-12  c21-padding-top c21-padding-bottom--2x c21-block-title">
          {{'business.img' | translate}}

        </div>
        <div *ngFor="let imagen of company.imagenesFicha" class="ui-g-4 ui-sm-12 ">
          <img [src]="imagen.urlDescarga" class="ui-g-12">
          <button pButton pTooltip="{{'business.deleteImage' | translate}}" class="c21-margin-top c21-margin-right c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
            tooltipPosition="top" type="button" (click)="deleteImg(imagen)"></button>
        </div>
        <div class="ui-g-4 ui-sm-12 ui-g">
          <div class="c21-center--vertical">

            <p-fileUpload #fileUpImages multiple="multiple" mode="basic" name="img[]" accept="image/*" maxFileSize="1000000" pTooltip="{{'business.addImg'|translate}}"
              chooseLabel="{{'business.addImg'|translate}}" (onSelect)="onUploadImage($event)" (uploadHandler)="myUploaderImage($event)"
              customUpload="true" auto="true" class="c21-button--upload"></p-fileUpload>
            <span class="c21-center c21-padding-top">{{'business.imgReq' | translate}}</span>
          </div>
        </div>
        <div class="ui-g-12 c21-center c21-margin-top--2x">
          <button pButton type="submit" class="c21-button--third c21-button__med c21-button--save" label="{{'shared.form.save' | translate }}"></button>

          <button pButton type="button" class="c21-button--third c21-button__med c21-button__med--ico c21-button--resend c21-margin-left--2x"
            pTooltip="{{'business.resendButton' | translate }}" (click)="openDialogSend()"></button>
        </div>


      </form>

    </div>

  </div>
</p-panel>



<p-dialog [(visible)]="resendVisible" modal="true" width="700" height="auto" [draggable]="false" [responsive]="true" styleClass="c21-dialog--max">
  <form #resendForm="ngForm" (ngSubmit)="resend()">
    <div class=" ui-g ui-fluid">
      <div class="ui-g-12 ui-fluid">
        {{'business.resendMessage'|translate}}
      </div>
      <div class="ui-g-12">
        <input name="email" placeholder="{{'webshop.help.email'|translate}}" type="email" size="30" pInputText required [(ngModel)]="email">
      </div>
    </div>
    <p-footer>
      <div class="c21-float-right">
        <button pButton type="submit" class="c21-button--danger c21-button__med c21-button--next" label="{{'contact.form.buttonSubmit'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel=" {{'confirmDialog.yesLabel' | translate}}"
  rejectLabel=" {{'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>