<div class="ui-g-10 ui-sm-6 c21-block-title c21-margin-bottom--2x">
    {{'account.user.users' | translate | uppercase}}
</div>
<div class="ui-g-2 ui-sm-6 ui-g c21-flex-end">
    <button pButton *ngIf="!userNew" type="button" class="c21-button__med c21-button--add c21-button--third" label="{{'account.user.create' | translate}}"
        (click)="createNewUser()"></button>
    <button pButton *ngIf="userNew" type="button" class="c21-button__med c21-button__med--ico c21-button--delete c21-button--danger" label="{{'account.user.create' | translate}}"
        (click)="cancelNewUser()"></button>
</div>

    <c21-user-account [usuario]="userNew" (changed)="changeUserNew()"></c21-user-account>

<ng-container *ngFor="let user of userList">
    <c21-user-account [usuario]="user" (changed)="changeUserList()"></c21-user-account>


</ng-container>