@import 'variables';



.c21-alert_panel-params {
	.c21-dropdown.ui-state-default {
		width: 100%;
	}
}
@media screen and (max-width: $c21-md-width) {
	.c21-nopad {
		padding: 0;
	}
}
.c21-alert_panel-assistant {
	.c21-alert_panel-assistant-title {
		font-size: 1.4em;

		margin-top: .5rem;
		margin-bottom: 1rem;

		text-align: center;

		color: $color-text;
	}

	.c21-alert_panel-assistant-inner {
		padding: .5rem;

		.c21-nav-button--activate {
			max-width: 120px;
		}
		.c21-alert_container-assistant {
			.c21-alert_container-assistant-inner {
				min-height: 500px;
				margin-right: .4rem;
				margin-bottom: 1rem;
				margin-left: .4rem;
				padding: .2rem;

				border: solid 1px $color-panel;
				.c21-alert_assistant-header {
					font-size: 1.2em;

					margin: 1em auto;

					text-align: center;

					color: $color-title-danger;
					.c21-alert_assistant-header-img {
						margin-top: .3rem;
					}
				}
				.c21-alert_assistant-title {
					font-weight: bold;

					margin-top: 2.2rem;
					margin-bottom: 1.5rem;
					margin-left: 2.4rem;

					color: $color-text;
				}
				.c21-alert_assistant-body {
					margin-bottom: .5rem;
					margin-left: 1rem;

					.c21-alert_assistant-radiobutton {
						padding-bottom: .15rem;
						padding-top: .15rem;
					}
				}
			}
		}
	}
}
