<form #myForm="ngForm" (ngSubmit)="createAlert()">
    <c21-alert-perfil [newAlertData]="newAlertData">
    </c21-alert-perfil>

    <div class="ui-g-12 c21-hline"></div>
    <div class="c21-alert_panel-assistant ui-g-12 ui-fluid ui-g-nopad">
        <div class="c21-alert_panel-assistant-title ui-g-12">
            <span>{{ 'alerts.saved.assistant.body.title' | translate}}</span>
        </div>

        <div class="c21-alert_panel-assistant-inner ui-g-12 ui-md-12 ui-lg-10 ui-g-nopad">
            <div class="ui-g-12 ui-g-nopad ">
                <div class="ui-g-12 ui-md-6 ui-lg-4 c21-nopad c21-alert_container-assistant">
                    <div class="c21-alert_container-assistant-inner">
                        <div class="c21-alert_assistant-header">
                            <div class="c21-alert_assistant-header-img">
                                <img src="assets/alert/activity.png">
                            </div>
                            {{ 'alerts.saved.assistant.body.whatIsThefunctionOfYourCompany' | translate}}
                        </div>
                        <div class="c21-alert_assistant-title">
                            {{ 'alerts.saved.assistant.body.activity' | translate}}
                        </div>
                        <div *ngIf="!!this.alertFillerData.activity.list" class="c21-alert_assistant-body">
                            <div *ngFor="let activity of this.alertFillerData.activity.list" class="c21-alert_assistant-radiobutton">
                                <p-radioButton name="groupActivity" [value]="activity" [label]="activity.nombre" [(ngModel)]="newAlertData.buscar.codigoActividad">
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4  c21-nopad c21-alert_container-assistant">
                    <div class="c21-alert_container-assistant-inner">
                        <div class="c21-alert_assistant-header">
                            <div class="c21-alert_assistant-header-img">
                                <img src="assets/alert/location.png">
                            </div>
                            {{ 'alerts.saved.assistant.body.whatAreasInterestYou' | translate}}
                        </div>
                        <div class="c21-alert_assistant-title">
                            {{ 'alerts.saved.assistant.body.location' | translate}}
                        </div>
                        <div *ngIf="!!this.alertFillerData.market.list" class="c21-alert_assistant-body">
                            <div *ngFor="let market of this.alertFillerData.market.list" class="c21-alert_assistant-radiobutton">
                                <p-radioButton name="groupLocation" [value]="market" [label]="market.nombre" [(ngModel)]="newAlertData.buscar.codigoMercado">
                                </p-radioButton>

                            </div>
                            <div *ngFor="let countries of this.alertFillerData.countries.list" class="c21-alert_assistant-radiobutton">
                                <p-radioButton name="groupLocation" [value]="countries" [label]="countries.nombre" [(ngModel)]="newAlertData.buscar.codigosPais">
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4  c21-nopad c21-alert_container-assistant">
                    <div class="c21-alert_container-assistant-inner">
                        <div class="c21-alert_assistant-header">
                            <div class="c21-alert_assistant-header-img">
                                <img src="assets/alert/work.png">
                            </div>
                            {{ 'alerts.saved.assistant.body.whatKindOfWorksDoYouWork' | translate}}
                        </div>
                        <div class="c21-alert_assistant-title">
                            {{ 'alerts.saved.assistant.body.typeOfWork' | translate}}
                        </div>
                        <div *ngIf="!!this.alertFillerData.typeOfWork.list" class="c21-alert_assistant-body">
                            <div *ngFor="let typeOfWork of this.alertFillerData.typeOfWork.list" class="c21-alert_assistant-radiobutton">
                                <p-checkbox name="groupTypeOfWork" styleClass="c21-checkbox--danger" [value]="typeOfWork" [label]="typeOfWork.nombre" [(ngModel)]="codigoTipoObraArray">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="c21-alert_panel-assistant-inner ui-g-4 ui-g-offset-8 ui-lg-2 ui-lg-offset-0">
            <button pButton type="submit" class="c21-button--danger c21-nav-button--activate" icon="fa fa-key" iconPos="right" label="{{'alerts.saved.assistant.body.activate' | translate}}"></button>
        </div>
    </div>
</form>