<p-panel class="ui-g-nopad c21-panel" [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/title/case.png" alt="Accounts">
          </span>
          {{'home.main.accounts.title' | translate}}
        </div>

        <div class="ui-g-5 ">
          <p-dropdown [options]="selectAccounts" appendTo="body" optionLabel="nombre" [(ngModel)]="selectAccountsSelected"
            (onChange)="onChange()" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata" *ngIf="!collapsed && ( !lastAccounts || lastAccounts.length === 0)">
    {{'home.noData' | translate}}
  </div>
  <p-scrollPanel #scrollPanel styleClass="ui-g-12  c21-panel__daily" *ngIf="!collapsed && lastAccounts && lastAccounts.length >0">
    <div *ngFor="let acc of lastAccounts" class="ui-g-12 ui-g ui-g-nopad">
      <div class="ui-g-6 c21-c21-ellipsis c21-bold c21-text-black ui-g c21-align-center c21-flex-w-initial">
        <div class="c21-user__status" [class.c21-user__status--off]="!acc.online">
          <img class="c21-user__status-img " src="assets/shared/unk-white-2.png">
        </div>
        <span class="c21-name c21-ellipsis">{{acc.usuario.nombreCompleto}}</span>

      </div>
      <div class="ui-g-2">
        <button pButton class="c21-button c21-button__med c21-button__med--ico c21-button--rowdata" [ngClass]="acc.expanded ? 'c21-button--up' : 'c21-button--down'"
          (click)="acc.expanded = !acc.expanded" tabindex="-1">

        </button>

      </div>
      <div class="ui-g-4 ui-g c21-flex-end ">
        <button pButton pTooltip="{{'folders.edit' | translate}}" class="c21-margin-left c21-margin-right c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
          (click)="editFolder(acc.usuario.codigo)" tooltipPosition="top" type="button"></button>


        <!--  <button pButton pTooltip="{{'home.main.comments.delete' | translate}}" class="c21-margin-left c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
          (click)="deleteAcc(acc)" tooltipPosition="top" type="button"></button> -->
        <button pButton pTooltip="{{'comun.text.goToFolder' | translate}}" class="c21-margin-left c21-button--secondary c21-button__med c21-button__med--ico c21-button--next"
          (click)="redirectToFolder(acc.usuario.codigo)" tooltipPosition="top" type="button"></button>
      </div>
      <div class="ui-g-6">
        {{'home.main.activity.totalAccess' | translate }} {{acc.numAccesosTotales}}
      </div>
      <div class="ui-g-6 c21-ta-right ">
        <img src="assets/alert/main/saved_frec.png" class="c21-position-abs">
        <span class="c21-last-time"> {{acc.fechaUltimoAcceso | amCalendar:referenceTime:formats }}</span>
      </div>
      <div class="ui-g-12" *ngIf="acc.expanded">
        {{'home.main.activity.numObrasConsultadas' | translate }} {{acc.numObrasConsultadas}}
      </div>
      <div class="ui-g-12" *ngIf="acc.expanded">
        {{'home.main.activity.numObrasGuardadasCartera' | translate }} {{acc.numObrasGuardadasCartera}}
      </div>
      <div class="ui-g-12" *ngIf="acc.expanded">
        {{'home.main.activity.numObrasAgendadasMes' | translate }} {{acc.numObrasAgendadasMes}}
      </div>
      <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>

    </div>
  </p-scrollPanel>



  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x" *ngIf="lastAccounts && lastAccounts.length > 0">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>

<c21-create-new-folder *ngIf="createNewFolderModal.visible" [folder]="createNewFolderModal" (displayNone)="onChange()"></c21-create-new-folder>