@import 'variables';
.c21-sidebar {
	position: fixed;
	z-index: 2;

	overflow-x: hidden;
	overflow-y: auto;

	width: $c21-menu-lateral-width;
	height: 100vh;
	padding: 20px 0;
	padding-top: $c21-menu-height;

	transition: .4s;

	background-color: $color-panel;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

// @media (max-width: $c21-md-width) {
//     .c21-sidebar {
//         width: $c21-menu-lateral-width_small;
//     }
// }
.c21-nav-item {
	a {
		display: flex;
		overflow: hidden;
		flex-direction: row;

		height: 40px;
		margin: 15px auto;
		padding: 0;
		padding-left: 25px;

		transition: width .4s;

		color: $color-primary;

		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}
	&__label {
		visibility: hidden;
		overflow: hidden;

		width: 100%;
		max-height: 1em;
		margin-right: 5px;
		padding-left: 10px;

		transition: 1s;

		opacity: 0;
		color: inherit;
	} // a.c21-nav-item--active {
	// 	 color: $color-text-clear;
	// 	 background-color: $color-primary;
	// }
}

.c21-nav-item__img-container {
	min-width: 20px;
	max-width: 20px;
	min-height: 20px;
	max-height: 20px;
}

.c21-nav-link--alert {
	position: relative;
}

.c21-badge {
	font-size: 10px;
	line-height: 18px;

	position: absolute;
	top: 4px;
	right: 20px;

	width: 18px;
	height: 18px;

	transition: .5s;
	text-align: center;

	color: white; // border: solid 1px $color-panel;

border-radius: 100%;
	background-color: $color-button-danger;
}
.c21-badge--active {
	background-color: $color-primary;

}
.c21-sidebar--over {
	width: 220px;
	.c21-badge {
		top: 10px;
	}
	.c21-nav-item a {
		width: calc(100% - 10px);
	}
	.c21-nav-item__label {
		visibility: visible;

		opacity: 1;
	}
}

.c21-nav-item__img {
	flex-shrink: 0;
}
