<nav class="c21-sidebar hidden-xs-down" [class.c21-disabled]="disabled" *ngIf="isAuthenticated()" [class.c21-sidebar--over]="mouseOverClass"
    (mouseover)="mouseOverClass=true" (mouseout)="mouseOverClass=false">
    <ul class="c21-nav">
        <li class="c21-nav-item" *ngIf="permisos.puedeVerNotificaciones">
            <a class="c21-nav-link c21-nav-link--alert" [class.c21-nav-item--active]="rlaNotific.isActive" routerLinkActive #rlaNotific="routerLinkActive"
                [routerLink]="'/notifications'">
                <div class="c21-badge" [class.c21-badge--active]="rlaNotific.isActive" *ngIf="notificationsCount > 0">{{notificationsCount}}</div>
                <img class="c21-nav-item__img" [src]="rlaNotific.isActive ? 'assets/left/avisos-active2.png' : 'assets/left/avisos.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.notifications' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item" *ngIf="permisos.puedeVerAlertas">
            <a class="" [class.c21-nav-item--active]="rlaAlert.isActive" routerLinkActive #rlaAlert="routerLinkActive" [routerLink]="'/alerts/create'">
                <img class="c21-nav-item__img" [src]="rlaAlert.isActive ? 'assets/left/alerta-active2.png': 'assets/left/alerta.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.alert' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item" *ngIf="permisos.puedeCrearCarpeta">
            <a (click)="displayCreateNewFolder(true)" class="" [class.c21-nav-item--active]="createNewFolderModal.visible">
                <img class="c21-nav-item__img" [src]="createNewFolderModal.visible?'assets/left/carpeta-active2.png':'assets/left/carpeta.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.folder' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item c21-none">
            <a class="">
                <img class="c21-nav-item__img" src="assets/left/agenda.png">
                <span class="c21-nav-item__label"> {{'menu.lateral.previousVersion' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item" *ngIf="permisos.puedeVerEmpresa">
            <a class="" [class.c21-nav-item--active]="rlaBus.isActive" routerLinkActive #rlaBus="routerLinkActive" [routerLink]="'/my-business'">
                <img class="c21-nav-item__img" [src]="rlaBus.isActive ? 'assets/left/add-active2.png' : 'assets/left/add.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.myCompany' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item">
            <a class=" " [class.c21-nav-item--active]="rlaFAQ.isActive" routerLinkActive #rlaFAQ="routerLinkActive" [routerLink]="'/faq'">
                <img class="c21-nav-item__img" [src]="rlaFAQ.isActive ? 'assets/left/qm-active2.png' : 'assets/left/qm.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.faq' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item">
            <a class="" [class.c21-nav-item--active]="rlaContact.isActive" routerLinkActive #rlaContact="routerLinkActive" [routerLink]="'/contact'">
                <img class="c21-nav-item__img" [src]="rlaContact.isActive ? 'assets/left/tlf-active2.png' : 'assets/left/tlf.png'">
                <span class="c21-nav-item__label"> {{'menu.lateral.contact' | translate}} </span>
            </a>
        </li>
        <li class="c21-nav-item">
            <a class="" [href]="urlPrevVersion">
                <img class="c21-nav-item__img" src="assets/left/prev-ver.png">
                <span class="c21-nav-item__label"> {{'menu.lateral.previousVersion' | translate}} </span>
            </a>
        </li>
    </ul>
</nav>

<c21-create-new-folder *ngIf="createNewFolderModal.visible" (displayNone)="closeNewFolder($event)" [folder]="createNewFolderModal"></c21-create-new-folder>