<p-table class="c21-table" [columns]="tableFiller.columnas" [value]="tableFiller.elementos" [responsive]="true" [lazy]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [class.c21-table_img]="col.attribute==='urlImagen'">
        {{col.text}}
      </th>
      <th *ngIf="!!gestion">
        Gestiones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr (click)="redirectToWorksheet(rowData)" class="c21-clickable">
      <td *ngFor="let col of columns">
        <!-- Title-Responsive -->
        <span class="ui-column-title">{{col.text}}</span>
        <!-- ./Title-Responsive -->

        <!-- Imagen 50x50 -->
        <span *ngIf="col.attribute==='urlImagen'">
          <img class="c21-lg-img" [src]="rowData[col.attribute]" onError="this.src='assets/shared/search-default.png' ;">
        </span>
        <!-- ./Imagen 50x50 -->

        <!-- Resto de Campos -->
        <span *ngIf="col.attribute!=='urlImagen'">
          {{rowData[col.attribute]}}
        </span>
        <!-- ./Resto de Campos-->

      </td>
      <td *ngIf="!!gestion">
        <span *ngIf="rowData.gestiones?.length > 0" class="c21-center c21-center--vertical">
          <img src="\assets\folder\gestion\{{rowData.gestiones[0].tipo}}.png" tooltipPosition="top" pTooltip="{{rowData.gestiones[0].tooltip}}">
          <span>{{rowData.gestiones[0].fecha | amDateFormat: lo.momentFormatDate}}</span>
          <img *ngIf="rowData.gestiones?.length > 1" src="\assets\folder\gestion\{{rowData.gestiones[rowData.gestiones.length-1].tipo}}.png"
            tooltipPosition="top" pTooltip="{{rowData.gestiones[rowData.gestiones.length-1].tooltip}}" class="c21-margin-top">
          <span *ngIf="rowData.gestiones?.length > 1">{{rowData.gestiones[rowData.gestiones.length-1].fecha | amDateFormat: lo.momentFormatDate}}</span>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>