.c21-width-date {
	width: 120px;
}

.c21-width-price {
	width: 140px;
}

.c21-button--rowdata {
	height: .6em;
}

.c21-row--expanded {
	& > td {
		border-bottom: 0;
	}
	& + tr:hover {
		background-color: initial;
	}
}
