<div class="ui-g-12 c21-block-title">
  {{'account.usage.title' | translate | uppercase}}
</div>




<p-table class="c21-table" [columns]="columnas" [value]="data" [responsive]="true" dataKey="codigo">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="c21-ta-init" *ngFor="let col of columns" [pSortableColumn]="col" [ngClass]="{'c21-width-date': ((col ==='fechaInicio') || (col ==='fechaFin')) }">
        {{'account.usage.table.'+col | translate}}
        <p-sortIcon [field]="col"></p-sortIcon>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
    <tr [class.c21-row--expanded]="expanded">
      <!-- class="c21-clickable"> -->
      <td *ngFor="let col of columns" [class.c21-center--vertical]="col === 'numero'">
        <!-- Resto de Campos -->
        <span *ngIf="col!=='fechaFin' && col !== 'fechaInicio'" class="c21-bold" [ngClass]="{'c21-text-black' : col ==='numero' }">
          {{rowData[col]}}

        </span>
        <ng-container *ngIf="col==='numero' && rowData.numero >0">
          <button pButton [pRowToggler]="rowData" class="c21-button c21-button__med c21-button__med--ico c21-button--rowdata" [ngClass]="expanded ? 'c21-button--up' : 'c21-button--down'">

          </button>
        </ng-container>
        <span *ngIf="col === 'fechaInicio' || col === 'fechaFin'" class="c21-highlight">
          {{rowData[col] | amDateFormat: lo.momentFormatDate}}

        </span>
        <!-- ./Resto de Campos-->

      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">


    <tr>
      <td [attr.colspan]="columns.length">

        <div class="ui-md-offset-6">
          <!--     <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                <div class="ui-g-12 ui-md-9">
           
                        <div class="ui-g-12">
                            <b>Color:</b> {{rowData.compras | json}}
                        </div>
                </div>
            </div>
        </td>
    </tr> -->

          <p-table class="c21-table c21-table--inner" [columns]="columnasCompra" [value]="rowData.compras">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="c21-ta-init" *ngFor="let col of columns" [pSortableColumn]="col" [ngClass]="{'c21-width-date': col ==='fechaCompra' }">
                  {{'account.usage.table.'+col | translate}}
                  <p-sortIcon [field]="col"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <!-- class="c21-clickable"> -->
                <td *ngFor="let col of columns">
                  <!-- Resto de Campos -->
                  <span *ngIf="col!=='fechaCompra'" class="c21-bold">
                    {{rowData[col]}}
                  </span>
                  <span *ngIf="col === 'fechaCompra'" class="c21-highlight">
                    {{rowData[col] | amDateFormat: lo.momentFormatDate}}

                  </span>
                  <!-- ./Resto de Campos-->

                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>

  </ng-template>
</p-table>