<div class="ui-g-12 c21-block-title">
  {{'account.invoices.title' | translate | uppercase}}
</div>


<p-table class="c21-table" [columns]="columnas" [value]="data" [responsive]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="c21-ta-init" *ngFor="let col of columns" [pSortableColumn]="col">
        {{(col!=='download' ?'account.invoices.table.'+col:'') | translate}}
        <p-sortIcon *ngIf="col !== 'download'" [field]="col"></p-sortIcon>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <!-- class="c21-clickable"> -->
      <td *ngFor="let col of columns">

        <button *ngIf="col==='download'" pButton class="c21-button__med c21-button__med--ico c21-button--download c21-button--third"
          type="button" (click)="downloadInvoice(rowData.codigo)" tooltipPosition="top" pTooltip="{{'comun.download'|translate}}"></button>

        <!-- Resto de Campos -->
        <span *ngIf="col!=='download' && col !== 'fechaEmision'" class="c21-bold" [ngClass]="{'c21-text-black' : col ==='total' }">
          {{rowData[col]}}
        </span>
        <span *ngIf="col === 'fechaEmision'" class="c21-highlight">
          {{rowData[col] | amDateFormat: lo.momentFormatDate}}

        </span>
        <!-- ./Resto de Campos-->

      </td>
    </tr>
  </ng-template>
</p-table>