<p-panel class="ui-g-nopad c21-panel " [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/header/h_updates.png" alt="Folders">
          </span>
          {{'home.main.updates.title' | translate}}
        </div>

        <div class="ui-g-5">
          <p-dropdown [options]="selectLastWorks" appendTo="body" optionLabel="nombre" [(ngModel)]="lastWorkSelected" (onChange)="onChangeSelect()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata" *ngIf="!collapsed  && ( !lastWorks || lastWorks.length === 0)">
    {{'home.noData' | translate}}
  </div>
  <div *ngIf="!collapsed">
    <p-scrollPanel #scrollPanel styleClass="ui-g-12 c21-panel__daily" *ngIf="!collapsed && lastWorks && lastWorks.length > 0">
      <ng-container *ngFor="let work of lastWorks">
        <div class="ui-g-12 ui-g-nopad ui-g c21-center">
          <div class="ui-g-10 c21-ellipsis" pTooltip="{{work.nombre}}" tooltipPosition="top">
            {{work.nombre}}
          </div>
          <div class="ui-g-2 c21-flex-end ui-g">
            <button pButton class=" c21-button__med c21-button__med--ico c21-button--next c21-button--secondary" pTooltip="{{'comun.text.goToWork' | translate}}"
              tooltipPosition="top" (click)="redirectToWork(work.tipoElemento.codigo, work.codigo)"></button>
          </div>
        </div>
        <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>
      </ng-container>
    </p-scrollPanel>
  </div>

  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>