@import 'variables';

.ui-accordion {
	.ui-accordion-header {
		font-size: 1.2em;
		font-weight: bold;

		padding-left: .5rem;

		border-top: 1px solid transparent;
		background: none;

		&.ui-state-active{

		}
		:not(.ui-state-active):not(.ui-state-disabled):hover {
			//background: $c21-color-panel-header;
		}

		.fa-caret-down:before {
			content: '\f068';

			color: $color-text-light;
		}
		.fa-caret-right:before {
			content: '\f067';


			color: $color-text-light;
		}
	}

	.ui-accordion-content {
		padding: 0 0 0 1rem;
	}
}


.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
    background: #EDEDF0;
}
