@import 'variables';
.c21-button {
	color: $color-button__text;
	border: 0;
	border-radius: $c21-button-border-radius;

/*	margin-right: 1rem;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
*/
	outline: 0 none;
	background-color: $white; //	border: 1px solid $color-button;
	&:hover {
		color: $color-button__text;
		border-color: $color-button; // background-color: $color-button;
	}
	&--danger {
		font-size: 1.1em;

		color: $color-button__text;
		border: 0;
		border-color: $color-button-danger;
		border-radius: $c21-button-border-radius;
		background-color: $color-button-danger;
		&:active {
			color: $color-button__text;
			border-color: $color-button-danger;
			outline: 0 none;
			background-color: $color-button-danger;
			box-shadow: 0 0 0 .2rem rgba( $color-button-danger, .438);
		}
		&:hover,
		&:focus {
			color: $color-button__text;
			border-color: $color-button-danger;
			outline: 0 none;
			background-color: $color-button-danger;
		}
	}
	&--warning {
		font-size: 1.1em;

		color: $color-button__text;
		border: 0;
		border-color: $color-button-warning;
		border-radius: $c21-button-border-radius;
		background-color: $color-button-warning;
		&:active {
			color: $color-button__text;
			border-color: $color-button-warning;
			outline: 0 none;
			background-color: $color-button-warning;
		}
		&:hover,
		&:focus {
			color: $color-button__text;
			border-color: $color-button-warning;
			outline: 0 none;
			background-color: $color-button-warning;
		}
	}
	&--dark {
		font-size: 1.1em;

		color: $color-button__text;
		border: 0;
		border-radius: $c21-button-border-radius;
		background: $color-button;
		&:enabled:hover,
		&:focus {
			// color: $color-button__text-over;
			outline: 0 none; // background: $color-button__over;

box-shadow: 0 0 0 .1rem $color-button__over;
		}
		&:enabled:active {
			color: $color-button__text-over; // background: $color-button__over;
		}
	}
	&--secondary {
		font-size: 1.1em;

		color: $color-button__text;
		border: 0; //border: 1px solid $color-button;

border-radius: $c21-button-border-radius;
		background: $color-button-secondary;
		&:enabled:hover,
		&:focus {
			color: $color-button__text-over;
			outline: 0 none; // background: $color-button-secondary;

box-shadow: 0 0 0 .1rem $color-button__over;
		}
		&:enabled:active {
			color: $color-button__text-over;
			border: 0; // background: $color-button-secondary;
		}
	}
	&--third {
		font-size: 1.1em;

		color: $color-button__text;
		border: 0; //border: 1px solid $color-button;

border-radius: $c21-button-border-radius;
		background: $color-button-third;
		&:enabled:hover,
		&:focus {
			color: $color-button__text-over;
			outline: 0 none; // background: $color-button-third;

box-shadow: 0 0 0 .1rem $color-button__over;
		}
		&:enabled:active {
			color: $color-button__text-over;
			border: 0;
			outline: 0 none; // background: $color-button-third;
		}
	}
	&--link {
		border: none;
		background: none;
		&:enabled:hover,
		&:focus {
			outline: 0 none;
		}
	}
}

.c21-button__med {
	line-height: 20px !important;

	overflow: hidden;

	box-sizing: border-box;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	height: 20px;
	padding: 0 5px;
	padding-right: 20px;

	text-align: left;

	background-repeat: no-repeat;
	background-position: 80px center;
	&.c21-button__med--ico {
		width: 20px;
		min-width: 20px;
		max-width: 20px;
		padding: 0 5px;

		background-repeat: no-repeat;
		background-position: center;
		.ui-button-text {
			display: none;
		}
		span[class^='ui-button-icon'] {
			left: 25%;

			width: 1em;
			height: 1em;
			margin-top: -.3em;
			margin-left: -.50em;
			margin-left: -.5em;
		}
	}
	span {
		line-height: inherit !important;
	}
	.ui-button-text {
		font-size: 13px;

		padding: 0 !important;
	}
	span[class^='ui-button-icon'] {
		position: relative;
		top: unset;
		right: unset;
		bottom: unset;
		left: unset;

		margin: 0;
		padding: 0;
	}
}

.c21-button--save {
	background-image: url('assets/common/save.png');
}

.c21-button--edit {
	background-image: url('assets/common/edit.png');
}

.c21-button--delete {
	background-image: url('assets/common/delete.png');
}

.c21-button--first {
	background-image: url('assets/common/ch-first.png');
}

.c21-button--prev {
	background-image: url('assets/common/ch-prev.png');
}

.c21-button--next {
	background-image: url('assets/common/ch-next.png');
}

.c21-button--last {
	background-image: url('assets/common/ch-last.png');
}

.c21-button--help {
	background-image: url('assets/common/help.png');
}

.c21-button--search {
	background-image: url('assets/common/search.png');
}

.c21-button--download {
	background-image: url('assets/common/download.png');
}

.c21-button--folder {
	background-image: url('assets/common/folder.png');
}

.c21-button--folder-b {
	background-image: url('assets/common/folder-b.png');
}

.c21-button--cog {
	background-image: url('assets/common/cog.png');
}

.c21-button--power {
	background-image: url('assets/common/power.png');
}

.c21-button--res {
	background-image: url('assets/common/rest.png');
}

.c21-button--resend {
	background-image: url('assets/common/resend.png');
}

.c21-button--add {
	background-image: url('assets/common/add.png');
}

.c21-button--up {
	transition: .3s;
	transform: rotate(-180deg);

	background-image: url('assets/common/down.png');
}

.c21-button--upw {
	transition: .3s;
	transform: rotate(-180deg);

	background-image: url('assets/common/down_w.png');
}

.c21-button--down {
	transition: .3s;
	transform: rotate(0);

	background-image: url('assets/common/down.png');
}

.c21-button--downw {
	transition: .3s;
	transform: rotate(0);

	background-image: url('assets/common/down_w.png');
}

.c21-button__icon {
	display: inline-block;

	box-sizing: border-box;
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	height: 30px;
}

.c21-button__icon_small {
	font-size: .85em;

	width: 20px;
	min-width: 20px;
	max-width: 20px;
	height: 20px;

	border-radius: 5px;
}

.c21-line-button--ico {
	line-height: 20px;
}

.c21-line-fix {
	line-height: 16px;

	padding-left: 10px;
}

.c21-button-small {
	font-size: .85em;

	color: $color-text-light;
	border: 0;
	outline: none;
	background-color: $color-background;
}

.c21-icon-button--inline {
	font-size: 14px;
	font-weight: bold;
	line-height: 1;

	display: flex;
	flex-direction: row;

	margin-right: 1.5em;

	text-align: left;
	letter-spacing: .2em;

	color: $black-medium !important;

	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	.ui-button-text.ui-button-text.ui-button-text {
		line-height: inherit;
	}
}

.c21-button--inline__img {
	min-width: 20px;
	min-width: 20px;
	margin-right: .25em;
}

.c21-button-line {
	flex: 1;
}

.c21-button-block {
	display: flex;

	max-width: 125px;
}
