@import 'variables';
.c21-checkbox--danger {
	.ui-chkbox-box.ui-state-active {
		background-color: $color-radiobutton-active;
	}
}

.c21-checklist-panel {
	width: 100%;
	.ui-panel-titlebar {
		background: none;
		.ui-chkbox-label {
			font-size: 1.1em;
			font-weight: bold;

			padding-left: .4rem;

			color: $color-check-header;
		}
	}
	.ui-panel-content-wrapper {
		.ui-panel-content {
			.c21-checklist_item-title {
				margin-bottom: .6rem;
				.ui-chkbox-label {
					font-size: 1.1em;
					font-weight: bold;

					padding-left: .4rem;

					color: $color-check-header;
				}
			}
			.c21-checklist_item {
				margin-bottom: .2rem;
				.ui-chkbox-label {
					padding-left: .4rem;

					color: $color-check-body;
				}
			}
		}
	} // .c21-checkbox__cropped > .ui-chkbox-label {
	// 	max-width: calc(100% - 30px);
	// }
}
