@import 'variables';
.ui-datatable {
	table {
		border-spacing: 0 .5rem;
		border-collapse: separate;
	}
	.fa-check {
		color: $color-secondary;
	} // ** HEADER
	.ui-datatable-thead {
		tr {
			th:first-child {
				width: 40px;
			}
			th {
				color: $c21-table_text-header;
				border: none;
				background: none;
				.ui-column-title {
					color: $c21-table_text-header;
				}
				&.ui-sortable-column:not(.ui-state-active):hover {
					color: $c21-table_text-header-hover;
					border-color: none;
					background: none;
				}
				.ui-sortable-column-icon {
					width: 15px;
					height: 12px;
					margin-left: 5px;
					&:before {
						content: none;
					}
				}
				.ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-desc {
					transition: .3s;
					transform: rotate(0);

					background-image: url('assets/common/down.png');
				}
				.ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-asc {
					transition: .3s;
					transform: rotate(-180deg);

					background-image: url('assets/common/down.png');
				}
				.ui-sortable-column-icon.fa.fa-fw.fa-sort {
					background-image: url('assets/common/down-g.png');
				}
				&.ui-state-default {
					border-color: none;
					background: none;
				}
				&.ui-state-active {
					color: none;
					background: none;
				}
			}
		}
	} // ** BODY
	.ui-datatable-data {
		tr {
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			&:hover {
				background-color: $c21-table_row-hover;
				.ui-chkbox {
					.ui-chkbox-box {
						border: 1px solid $c21-table_text-content;
					}
				}
			&	.c21-button__med{
					background-color: $c21-table_row-hover;
				}
			}
			td:last-child {
				margin-bottom: 40px;
			}
			td {
				overflow: hidden;

				padding-bottom: .3rem;

				vertical-align: middle;
				text-decoration: none;
				text-overflow: ellipsis;

				color: $c21-table_text-content;
				border: none;
				border-bottom: 1px solid $c21-color-panel-header;
				a {
					color: $c21-table_text-content;
				}
			}
		}
	}
}

.ui-table .ui-table-thead {
	.ui-sortable-column-icon {
		width: 15px;
		height: 12px;
		margin-left: 5px;
		&:before {
			content: none;
		}
	}
	.ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-desc {
		transition: .3s;
		transform: rotate(0);

		background-image: url('assets/common/down.png');
	}
	.ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-asc {
		transition: .3s;
		transform: rotate(-180deg);

		background-image: url('assets/common/down.png');
	}
	.ui-sortable-column-icon.fa.fa-fw.fa-sort {
		background-image: url('assets/common/down-g.png');
	}
}
