@import 'variables';
.c21-data-mosaic {
	.ui-datagrid-header {
		text-align: left;

		background: linear-gradient(to bottom, transparent 0%, transparent 100%);
		a {
			margin-right: 1rem;

			color: $c21-table_text-header;
			span.fa:hover {
				color: $c21-table_text-header-hover;
				border-color: none;
				background: none;
			}
		}
	}
	.ui-datagrid-content {
		position: relative;
		.c21-data-mosaic_template {
			margin: .5em .75em;
			padding: 0;

			border: 2px solid $c21-color-panel-header;
			.ui-panel {
				.ui-panel-titlebar {
					padding: 0;

					background: transparent;
				}
				.ui-panel-content-wrapper {
					.ui-panel-content {
						min-height: 440px;
						padding: 0; //
						// Panel-Header
						.c21-data-mosaic_panel-header {
							img {
								width: 100%;
								min-height: 278px;
							}
						} //
						// Panel-body
						.c21-data-mosaic_panel-body {
							min-height: 110px;
							max-height: 110px;
							margin: 0;
							margin-top: .5em;
							.c21-data-mosaic_checkbox {
								font-weight: bold;

								margin: .5em .5em; //margin-top: .5em;
								.ui-chkbox {
									font-size: smaller;

									float: left;

									margin-right: .5em;

									color: $c21-table_text-content-light;
								}
								.ui-chkbox-label {
									font-size: small;

									display: block;
									overflow: hidden;

									padding-right: 1em;

									white-space: nowrap;
									text-overflow: ellipsis;

									color: $c21-table_text-content;
								}
							}
							.c21-data-mosaic_location {
								font-size: small;

								margin: .6em .5em;

								color: $c21-table_text-content-light;
							}
							.c21-data-mosaic_forwarder {
								font-size: small;
								font-weight: normal;

								position: relative;

								overflow: hidden;

								width: 100%;
								max-height: 4em;
								margin: .25em .5em;

								color: $c21-table_text-content;
								;
								&:after {
									position: absolute;
									top: 3em;
									left: -8px;

									width: 100%;
									height: 1em;

									content: '...';
									text-align: right;

									background: linear-gradient(to right, transparent, white);
								}
							}
							.c21-data-mosaic_budget-container {
								margin: .25em 0;
								.c21-data-mosaic_budget-details {
									overflow: hidden;

									white-space: nowrap;
									img {
										vertical-align: middle;
									}
									span {
										font-size: small;

										color: $c21-table_text-content-light;
									}
								}
							}
						} //
						// Panel-footer
						.c21-data-mosaic_panel-footer {
							margin: 0;
							.c21-data-mosaic_details-container {
								margin: .5em 0;
								div.c21-data-mosaic_detail {
									img {
										vertical-align: text-bottom;
									}
									span {
										font-size: small;

										color: $c21-table_text-content-light;
									}
								}
							}
						}
					}
				}
			}
			.c21-data-mosaic_icon-size {
				width: 32px;
				height: 32px;
			}
			.c21-data-mosaic_horizontal-rule {
				height: 4px;
				margin: 0 .5em;
				margin-bottom: .25em;

				border: 0;
				box-shadow: inset 0 4px 4px -4px $color-hr-background;
			}
		}
	}
}

.c21-title-mosaic {
	font-size: small;

	overflow: hidden;

	width: 85%;
	padding-top: 4px;

	vertical-align: super;
	vertical-align: -moz-middle-with-baseline;
	white-space: nowrap;
	text-overflow: ellipsis;
}
