@import 'variables';
.c21-dialog {
	&--max {
		margin-right: 10px;
	}
	&--padding {
		padding: .5em;
	}
	&__noheader.ui-dialog.ui-widget .ui-dialog-titlebar {
		padding: 0;
		padding-top: 15px;
		padding-right: 15px;

		background-color: $c21-color-fondo;
	}
}
