

@import 'variables';

.c21-filter-panel {
	.c21-filter_filters {
		color: $color-text-light;
	}
	.c21-filter_container-buttons {
		@include clearfix;

		font-size: 1.3em;

		float: right;

		.c21-filter_button {
			box-sizing: border-box;
			width: 30px;
			height: 30px;
			margin-right: .5rem ;

			color: $white;
			border: 0 solid #000000;
			border-radius: 5px;
			background: $color-button-secondary;

			&--danger {
				border-color: $color-button-danger;
				background-color: $color-button-danger;
				&:active {
					color: $white;
					border-color: $color-button-danger;
					background-color: $color-button-danger;
					box-shadow: 0 0 0 .2rem rgba( $color-button-danger, .438);
				}
				&:hover {
					color: $white;
					border-color: $color-button-danger;
					background-color: $color-button-danger;
				}
			}
		}
	}
}
