@import 'variables';
.ui-inputgroup .ui-inputgroup-addon.c21-right-addon {
	padding-top: .50em;

	border-top: 1px solid;
	border-top-color: $color-inputs-border;
	border-right: 0;
	border-right-color: $color-inputs-border;
	border-bottom-color: $color-inputs-border;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: $color-background;
}

.c21-icon-margin {
	margin-right: -21px;
	padding-right: 21px;
}

/*#region "Validation" */

// The control's value has changed.		ng-dirty	ng-pristine
// The control has been visited.		ng-touched	ng-untouched
input.ng-invalid {
	// The control's value is valid.	ng-valid	ng-invalid
	border-left: 4px solid $c21-Validation-invalid;
}

textarea.ng-invalid {
	// The control's value is valid.	ng-valid	ng-invalid
	border-left: 4px solid $c21-Validation-invalid;
}

p-dropdown.ng-invalid > div:first-child {
	border-left: 4px solid $c21-Validation-invalid;
}

p-calendar.ng-invalid > span > input {
	// The control's value is valid.	ng-valid	ng-invalid
	border-left: 4px solid $c21-Validation-invalid;
}

/*#endregion "Validation" */
