@import 'variables';
.c21-nav-menu {
	display: flex;
	flex-direction: column;

	justify-content: center; // ** BUTTON
	.c21-nav-dropdown {
		.ui-dropdown-trigger {
			& span:before {
				content: none;
			}
			.fa.fa-fw.fa-caret-down {
				font-size: 2.5em;

				width: 15px;
				height: 15px;
				padding-right: 0;

				background-image: url('assets/common/down_w.png');
			}
		}
		.ui-dropdown {
			position: relative;

			display: inline-block;

			min-width: 150px;
			margin-right: 20px;
			margin-bottom: 25px;
			padding-top: 2px;
			padding-bottom: 2px;

			cursor: pointer;
			vertical-align: middle;

			border: 1px solid transparent;
			.ui-dropdown-label {
				height: 36px;
				padding-top: 12px;
				padding-left: 1em;

				text-align: left;
				letter-spacing: 1px;

				border-radius: 3px;
			}
			&:hover {
				//color: $color-button__over;
				//border-color: $color-button__over;
				box-shadow: 0 0 0 .1rem rgba( $color-button-options, .6);
			}
			&:active {
				//color: $color-button__over;
				//border-color: $color-button__over;
				box-shadow: 0 0 0 .1rem rgba( $color-button-options, .6);
			}
			&.ui-state-default {
				padding: 0;
			}
		}
	} // ** BUTTON
	.c21-nav-button {
		min-width: 150px;
		max-width: 150px;
		margin-right: 20px;
		margin-bottom: 25px;
		padding-top: 2px;
		padding-bottom: 2px;

		letter-spacing: 1px;

		color: $color-button__text--dark;
		border-radius: 3px;
		background-color: $color-button;
		box-shadow: 0 0 0 .1rem transparent;
		&:active {
			border-color: $color-button;
			box-shadow: 0 0 0 .1rem rgba( $color-button-options, .6);
		}
		&--active {
			color: $color-button__text-over;
			border: 1px solid $color-button-options;
			background: $color-button-options;
		}
		&--danger {
			min-width: 120px;
			padding-top: 0;
			padding-bottom: 0;

			color: $white;
			border-color: $color-button-danger;
			background-color: $color-button-danger;
			&:active {
				color: $white;
				border-color: $color-button-danger;
				background-color: $color-button-danger;
				box-shadow: 0 0 0 .1rem rgba( $color-button-danger, .6);
			}
			&:hover {
				color: $white;
				border-color: $color-button-danger;
				background-color: $color-button-danger;
			}
		}
		&--warning {
			min-width: 120px;
			padding-top: 0;
			padding-bottom: 0;

			color: $white;
			border-color: $color-button-warning;
			background-color: $color-button-warning;
			&:active {
				color: $white;
				border-color: $color-button-warning;
				background-color: $color-button-warning;
				box-shadow: 0 0 0 .1rem rgba( $color-button-warning, .6);
			}
			&:hover {
				color: $white;
				border-color: $color-button-warning;
				background-color: $color-button-warning;
			}
		}
		&--search {
			min-width: 126px;
			height: 26px;
			margin-left: .5rem;
			.ui-button-text {
				margin: 0;
				padding: 0;
			}
			&:hover {
				color: $white;
				border-color: $color-button-danger;
				background-color: $color-button-danger;
			}
		}
	}
}

@media (max-width: $c21-md-width) {
	.c21-nav-menu {
		flex-direction: row;

		flex-wrap: wrap;
	}
}

.c21-nav-menu .c21-nav-button {
	& span:before {
		content: none;
	}
	.fa.fa-fw.fa-chevron-right {
		background-image: url('assets/common/right-g.png');
	}
	&.c21-nav-button--active .fa.fa-fw.fa-chevron-right {
		background-image: url('assets/common/right-w.png');
	}
	.fa {
		width: 15px;
	}
}

.c21-nav-menu .c21-nav-button .ui-button-text {
	font-weight: bold;

	text-align: left;
}
