@import 'variables';
// .c21-paginator {
// 	padding-top: 4px;
// 	padding-right: 6px;
// 	padding-bottom: 0;
// 	padding-left: 6px;
// 	color: $color-button__text-over;
// 	border-color: $color-button-options;
// 	background-color: $color-button-options;
// 	&:hover {
// 		background-color: $color-button-options;
// 		box-shadow: none;
// 	}
// 	&:focus {
// 		background-color: $color-button-options;
// 		box-shadow: none;
// 	}
// }
.c21-paginator {
	// display:block;
	// position:relative;
	// text-align: center;
	// width: 100%;
	// height: 100%;
	button {
		margin-right: .2em;
		margin-left: .2em;
	}
	.c21-paginator_button {
		min-width: 24px;
		min-height: 24px;
		padding: 5px;

		color: $color-button__text-over;
		border: 0 solid $color-secondary;
		border-color: $color-secondary;
		border-radius: .20rem .20rem .20rem .20rem;
		background-color: $color-secondary;
		&:hover {
			background-color: $color-button-options;
			box-shadow: none;
		}
		&:focus {
			background-color: $color-button-options;
			box-shadow: none;
		}
	}
	.c21-paginator_pages {
		margin-right: 10px;
		margin-left: 10px;

		vertical-align: text-top;
		vertical-align: -moz-middle-with-baseline;
	}
}

.c21-paginator_buttons {
	button {
		margin-right: .2em;
		margin-left: .2em;
	}
	.c21-paginator_button {
		font-size: 1.3em;

		box-sizing: border-box;
		width: 30px;
		height: 30px;
		margin-right: .5rem;

		color: $white;
		border: 0 solid #000000;
		border-radius: 5px;
		background: $color-button-secondary;
		&--active {
			color: $color-button__text-over;
			border: 1px solid $color-button-options;
			background: $color-button-options;
		}
		&--warning {
			border-color: $color-button-warning;
			background-color: $color-button-warning;
			&:active {
				color: $white;
				border-color: $color-button-warning;
				background-color: $color-button-warning;
				box-shadow: 0 0 0 .2rem rgba( $color-button-warning, .438);
			}
			&:hover {
				color: $white;
				border-color: $color-button-warning;
				background-color: $color-button-warning;
			}
		}
	}
}

.c21-paginator_view-button {
	font-size: 1.3em;

	width: 20px;
	height: 20px;

	color: grey;
	border: 0 solid transparent;
	border-radius: 5px;
	background-color: transparent;
	&:disabled {
		color: $color-button-disabled;
	}
	&--active {
		color: $color-button__text-over;
		border: 1px solid $color-button-options;
		background: $color-button-options;
	}
}
