@import 'variables';
.c21-panel {
	&__popup {
		position: absolute;
		z-index: 10;
		left: 0;
		&.c21-panel > .ui-panel {
			margin: auto 50px;
		}
	}
	&__header {
		@include clearfix;

		font-weight: 700;

		padding: .8em 2em;
		padding-right: 0;

		color: $color-panel-text;
	}
	&__title-icon {
		line-height: normal;

		display: inline-block;

		width: 30px;
		height: 30px;
		margin-right: 5px;
		margin-bottom: 5px;
		padding-top: 5px;

		text-align: center;
		vertical-align: middle;

		border-radius: 50%;
		background: $color-secondary;
		img {
			width: 20px;
		}
	}
	&--options .ui-panel-titlebar {
		padding: 0;
	}
	&--options .c21-panel__header {
		padding: 1.5em 2.75em;
	}
	&--options .c21-panel__toolbar {
		padding: .5em 2em; // border-bottom: 1px solid $c21-color-panel-header;

padding-bottom: 0;

		background-color: $color-panel-secondary;
	}
	& > .ui-panel {
		overflow: hidden;

		margin: 30px 20px 10px;

		background-color: $c21-color-fondo;
		box-shadow: $shadow-basic;
		& > .ui-panel-content-wrapper > .ui-panel-content {
			padding: .5em 2.0em;
			padding-top: 1.5em;
		}
	}
}

// .c21-panel>.ui-panel .ui-panel-content {
// 	padding: .5em 2.0em;
// }
.c21-panel__title {
	letter-spacing: .2em;
	input {
		letter-spacing: 0;
	}
	.ui-inputtext {
		letter-spacing: 0;
	}
}

.c21-panel-bg-reset {
	background-color: $c21-color-fondo;
}

.c21-panel .c21-title > .ui-panel-titlebar.ui-widget-header {
	font-weight: bold;

	background: none !important;
}

.c21-hline {
	width: calc(100% - 1em);
	height: 4px;
	margin-left: .5em;

	border: 0;
	box-shadow: inset 0 1px 0 0 $color-hr-background;
}

.c21-panel__toolbar {
	display: flex;
	flex-direction: row;

	color: $color-panel-text;

	flex-wrap: wrap;
	justify-content: flex-start; // align-items: baseline;
	 > button,
	.c21-panel__toolbar-buttons > button {
		width: 200px;
		margin: .4em 0;
	}
}
