@import 'variables';
.custombar1 .ui-scrollpanel-wrapper {
	border-right: 9px solid #F4F4F4;
}

.custombar1 .ui-scrollpanel-bar {
	transition: background-color .3s;

	opacity: 1;
	background-color: #1976D2;
}

.custombar1 .ui-scrollpanel-bar:hover {
	background-color: #135BA1;
}

.ui-scrollpanel-wrapper {
	position: relative;

	padding-bottom: 25px;
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 30px;

		content: '';
		pointer-events: none; // border-bottom: 1px solid rgba(236, 236, 236, .911);

background: linear-gradient(transparent, $white);
	}
}
