@import 'variables';
.ui-sidebar.c21-sidebar {
	overflow: hidden;

	width: $c21-menu-lateral-width;
	padding: 0;

	color: $white;
	background-color: $color-primary;
	.ui-sidebar-close {
		display: none;
	}
}

.c21-sidebar__menu {
	overflow: hidden;

	width: 75px;
}

.c21-sidebar__item {
	font-size: 10px;

	width: 75px;
	padding: 12px 0;

	text-align: center;

	color: $white;
	&--active {
		color: $color-primary;
		background-color: $white;
	}
}

.c21-sidebar__link {
	&#{&} {
		text-transform: uppercase;

		color: inherit;
	}
	img {
		margin-bottom: 5px;
	}
}
