@import 'variables';
.c21-table {
	.ui-table .ui-table-thead>tr>th
	{
		padding: 0.5em;
		padding-bottom:1.25em;
	}
	 .ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-tfoot>tr>td{
		padding:0.5em;
	}
	table {
		border-spacing: 0 .5rem;
		border-collapse: separate; // ** HEADER
		th {
			color: $c21-table_text-header;
			border: none;
			background: none;
			    font-weight: 500;
		}
		tr {
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			&:last-child > td {
				border-bottom: 0;
			}
		}
		.ui-table-tbody > tr:hover {
			background-color: $c21-table_row-hover;
		}
		td {
			padding-bottom: .3rem;

			vertical-align: middle;

			color: $c21-table_text-content;
			border: none;
			border-bottom: 1px solid $c21-color-panel-header;
			img.c21-lg-img {
				width: 50px;
				height: 50px;
			}
			img {
				width: 20px;
				height: 20px;
			}
			.ui-column-title {
				color: $c21-color-panel-header;
			}
		}
	}
	.c21-table_img {
		width: 90px;
	}
}

.c21-table--inner table td {
	border: none;
}
