@import 'variables';
.c21-user__status {
	.c21-user__status-img {
		min-width: 32px;
		min-height: 32px;
	}
	&::before {
		position: absolute;

		width: 10px;
		height: 10px;
		margin: 0 25px;

		content: ''; // border: 1px solid $color-primary;

border-radius: 100%;
		background-color: $color-button-connected;
	}
	&--off::before {
		background-color: $color-button-disconnected;
	}
}

.c21-name {
	padding-left: 10px;

	vertical-align: middle;
}
