<fieldset ngModelGroup="alertPerfil">
  <div class="c21-alert_panel-params  ui-g-nopad ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-lg-2 ">
      <input type="text" name="nombrePerfil" required pInputText pTooltip="{{ 'alerts.saved.assistant.params.profileNameLabel' | translate}}"
        placeholder="{{ 'alerts.saved.assistant.params.profileNameLabel' | translate}}" [(ngModel)]="newAlertData.perfil.nombrePerfil">
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-2">
      <input type="text" name="emails" [required]="newAlertData.perfil.notificacion?.codigo" pInputText pTooltip="{{ 'alerts.saved.assistant.params.emailsLabel' | translate}}"
        placeholder="{{ 'alerts.saved.assistant.params.emailsLabel' | translate}}" [(ngModel)]="newAlertData.perfil.emails">
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-2">
      <p-dropdown appendTo="body" name="frequency" pTooltip="{{'alerts.saved.assistant.params.frequencyLabel' | translate}}" placeholder="{{'alerts.saved.assistant.params.frequencyLabel' | translate}}"
        *ngIf="!!frequency" [options]="frequency" optionLabel="nombre" [(ngModel)]="newAlertData.perfil.frecuencia" [autoWidth]="false"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-2">
      <p-dropdown appendTo="body" name="html" pTooltip="{{'alerts.saved.assistant.params.profileHtmlLabel' | translate}}" placeholder="{{'alerts.saved.assistant.params.profileHtmlLabel' | translate}}"
        *ngIf="!!html" [options]="html" optionLabel="nombre" [(ngModel)]="newAlertData.perfil.html" [autoWidth]="false"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-2">
      <p-dropdown appendTo="body" name="typeProfile" pTooltip="{{'alerts.saved.assistant.params.typeProfileLabel' | translate}}" placeholder="{{'alerts.saved.assistant.params.typeProfileLabel' | translate}}"
        *ngIf="!!typeProfile" [options]="typeProfile" optionLabel="nombre" [(ngModel)]="newAlertData.perfil.tipoEnvioPerfil.codigo"
        [autoWidth]="false"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-2">
      <p-dropdown appendTo="body" name="notification" pTooltip="{{'alerts.saved.assistant.params.profileNotificationLabel' | translate}}" placeholder="{{'alerts.saved.assistant.params.profileNotificationLabel' | translate}}" tooltipPosition="left"
        *ngIf="!!notification" [options]="notification" optionLabel="nombre" [(ngModel)]="newAlertData.perfil.notificacion"
        [autoWidth]="false"></p-dropdown>
    </div>
  </div>
</fieldset>