@import 'variables';
.c21-login--center {
	margin: 0 auto;
}

.c21-login-panel {
	width: 600px;
	margin: 0 auto;
	margin: 0 auto;
	margin-top: 125px;
	margin-top: 125px;
	padding: 9px;

	color: $color-text-clear;
	border-radius: 10px;
	background-color: $color-primary;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, .5);
}

.c21-pad {
	padding-top: 12vh;
	// padding-right: $c21-menu-lateral-width;
}
