<h1 class="display-4 text-center" [innerHTML]="'login.text.construdata21' | translate">Bienvenido a Construdata21!</h1>
<div [class.c21-pad.class.ui-fluid]="('login.text.construdata21' | translate)== ''" class="ui-g ui-fluid">
  <div class="ui-fluid c21-login-panel">
    <div class="ui-g">
      <div class="alert alert-danger" *ngIf="authenticationError" [innerHTML]="'login.text.error.authentication' | translate">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form role="form" (ngSubmit)="login()">
        <div class="ui-g-12">
          <label for="username" translate="shared.form.username">Login</label>
          <input type="text" class="ui-inputtext ui-widget" name="username" id="username" placeholder="{{'shared.form.username' | translate}}"
            [(ngModel)]="username">
        </div>
        <div class="ui-g-12">
          <label for="password" translate="login.form.password">Password</label>
          <input type="password" class="ui-inputtext ui-widget" name="password" id="password" placeholder="{{'login.form.password' | translate}}"
            [(ngModel)]="password">
        </div>
        <div class="ui-g-12">

          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
            <span translate="login.form.rememberme">Remember me</span>
          </label>
        </div>
        <div class="ui-g-12">

          <button pButton type="submit" class="c21-button c21-button--danger" label="{{'login.form.button' |translate}}"></button>
        </div>
      </form>
    </div>
  </div>
</div>