<p-panel class="ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/contact.png" alt="Contact">
          </span>
          {{'contact.title' | translate}}
        </div>



      </div>
    </div>
  </p-header>
  <div *ngIf="contact">
    <div class="ui-g-4 ui-sm-12">
      <div class="ui-g-12 c21-padding-top--2x c21-padding-bottom--2x">
        <span class="c21-margin-left--2x c21-bold c21-text-black" *ngIf="!!contact.nombreComercial">{{contact.nombreComercial}}</span>
      </div>
      <div class="ui-g-12">

        <span class="c21-highlight c21-margin-left--2x "> {{'contact.telephone' | translate}}: </span>
        <span class="c21-500">{{contact.telefonoComercial}}</span>
      </div>
      <div class="ui-g-12">

        <span class="c21-highlight c21-margin-left--2x "> {{'contact.fax' | translate}}: </span>
        <span class="c21-500">{{contact.faxComercial}}</span>
      </div>
      <div class="ui-g-12 c21-padding-bottom--2x">

        <span class="c21-highlight c21-margin-left--2x ">{{'contact.email' | translate}}: </span>
        <span class="c21-500">{{contact.emailComercial}}</span>
      </div>
    </div>
    <div class="ui-g-8 ui-sm-12 ui-g ui-fluid">
      <form #helpForm="ngForm" (ngSubmit)="askHelp()">
        <div class="ui-g-4 ui-sm-12">
          <input name="name" placeholder="{{'contact.form.name'|translate}}" pTooltip="{{'contact.form.name'|translate}}" pInputText
            required [(ngModel)]="name">
        </div>
        <div class="ui-g-4 ui-sm-12">
          <input name="telephone" placeholder="{{'contact.form.telephone'|translate}}" pTooltip="{{'contact.form.telephone'|translate}}"
            pInputText required [(ngModel)]="telephone">
        </div>
        <div class="ui-g-4 ui-sm-12">
          <input name="email" placeholder="{{'contact.form.email'|translate}}" pTooltip="{{'contact.form.email'|translate}}" pInputText
            required [(ngModel)]="email">
        </div>
        <div class="ui-g-12 c21-padding-top--2x">
          <textarea required placeholder="{{'contact.form.message'|translate}}" pTooltip="{{'contact.form.message'|translate}}" name="message"
            class="c21-textarea c21-print-none" pInputTextarea [(ngModel)]="message"></textarea>
        </div>
        <div class="ui-g-12 c21-conditions">
          {{'contact.form.conditionsHTML' | translate}}
          <a (click)="showModalPrivacy()">
            <strong>{{'contact.form.conditionsHTML2' | translate}}</strong>
          </a>

        </div>
        <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x">

          <button pButton type="submit" class="c21-button--danger c21-button__med c21-button--next" label="{{'contact.form.buttonSubmit'|translate}}"></button>
        </div>

      </form>
    </div>
  </div>
</p-panel>

<c21-privacy [(privacyVisible)]="privacyVisible"></c21-privacy>