<header class="c21-navbar" [ngSwitch]="isAuthenticated()">

    <div class="c21-header-bar" [class.c21-disabled]="disabled">
        <button class="c21-btn-menu--small" (click)="toggleMenu()" type="button" aria-expanded="false" aria-label="Toggle navigation"
            *ngSwitchCase="true">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="c21-logo__container">
            <img class="navbar-brand c21-header-bar__logo" src="assets/logo/logo.png">
        </div>

        <div class="c21-header__user c21-status--small" *ngSwitchCase="true">
            <div class="c21-user__status c21-status--small">
                <img class="c21-user__status-img " src="assets/shared/unk1.png">
            </div>

            <span class="c21-header__user__text hidden-xs-down" translate="menu.header.helloUsername" [translateParams]="{userName: userName}">
            </span>

            <button pButton [routerLink]="['/user']" class="c21-button c21-button--warning  c21-button__med c21-button__med--ico c21-button--cog hidden-xs-down"
                pTooltip="{{ 'menu.header.account' | translate}}" tooltipPosition="top">

            </button>

            <button pButton class="c21-button c21-button--danger c21-button__med c21-button__med--ico c21-button--power hidden-xs-down"
                (click)="logout()" pTooltip="{{ 'menu.header.logout' | translate}}" tooltipPosition="left">

            </button>

        </div>







        <div class="c21-menu__main">
            <ul class="c21-menu__list" *ngSwitchCase="true">
                <li class="c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="nav-link " routerLinkActive #rlaH="routerLinkActive" [routerLink]="'/home'">
                        <img class="c21-nav-item__icon" [src]="rlaH.isActive  ? 'assets/header/home-active.png' :'assets/header/home.png'" class=""
                            alt="Home">
                        <span class="c21-nav-item__txt" translate="menu.header.home">Inicio</span>

                    </a>
                </li>

                <li class="nav-item  c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeBuscar">
                    <a class="nav-link " routerLinkActive #rlaS="routerLinkActive" [routerLink]="'/search'">

                        <img class="c21-nav-item__icon" [src]="rlaS.isActive  ? 'assets/header/search-active.png' :'assets/header/search.png'" alt="Search">
                        <span class="c21-nav-item__txt" translate="menu.header.search">Buscador</span>

                    </a>
                </li>


                <li class="nav-item  c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeVerAlertas">
                    <a class="nav-link " routerLinkActive #rlaA="routerLinkActive" [routerLink]="'/alerts'">

                        <img class="c21-nav-item__icon" [src]="rlaA.isActive  ? 'assets/header/alerta-active.png' :'assets/header/alerta.png'" class=""
                            alt="Alerts">
                        <span class="c21-nav-item__txt" translate="menu.header.alerts">Alertas</span>

                    </a>
                </li>

                <li class="nav-item  c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="nav-link " routerLinkActive #rlaF="routerLinkActive" [routerLink]="'/folders'">

                        <img class="c21-nav-item__icon" [src]="rlaF.isActive  ? 'assets/header/carpeta-active.png' :'assets/header/carpeta.png'"
                            class="" alt="Folders">
                        <span class="c21-nav-item__txt" translate="menu.header.folders">Carpetas</span>

                    </a>
                </li>


                <li class="nav-item  c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="nav-link " routerLinkActive #rlaSchedule="routerLinkActive" [routerLink]="'/schedule'">

                        <img class="c21-nav-item__icon" [src]="rlaSchedule.isActive  ? 'assets/header/agenda-active.png' :'assets/header/agenda.png'"
                            class="" alt="Schedule">
                        <span class="c21-nav-item__txt" translate="menu.header.schedule">Agenda</span>

                    </a>
                </li>

                <li class="c21-nav-item" [routerLinkActive]="'c21-nav-item--active'" [class.c21-nav-item__disabled]="disabled" *ngIf="permisos.puedeComprar">
                    <a class="nav-link " routerLinkActive #rlaW="routerLinkActive" [routerLink]="'/webshop'">

                        <img class="c21-nav-item__icon" [src]="rlaW.isActive  ? 'assets/header/webshop-active.png' :'assets/header/webshop.png'"
                            class="" alt="Webshop">
                        <span class="c21-nav-item__txt" translate="menu.header.webshop">Webshop</span>

                    </a>
                </li>


            </ul>
        </div>

        <div class="c21-header__user" *ngSwitchCase="true">
            <div class="c21-user__status">
                <img class="c21-user__status-img " src="assets/shared/unk1.png">
            </div>

            <span class="c21-header__user__text" translate="menu.header.helloUsername" [translateParams]="{userName: userName}">
            </span>

            <button pButton [routerLink]="['/user']" class="c21-button c21-button--warning  c21-button__med c21-button__med--ico c21-button--cog"
                pTooltip="{{ 'menu.header.account' | translate}}" tooltipPosition="top">

            </button>

            <button pButton class="c21-button c21-button--danger c21-button__med c21-button__med--ico c21-button--power" (click)="logout()"
                pTooltip="{{ 'menu.header.logout' | translate}}" tooltipPosition="left">

            </button>

        </div>

    </div>
    <p-sidebar [(visible)]="menuSmall" appendTo="body" styleClass="c21-sidebar">
        <div class="c21-sidebar__item c21-sidebar__item--close" [class.c21-nav-item__disabled]="disabled">
            <a class="c21-sidebar__link " (click)="closeMenu()">
                <img src="assets/header/close-menu.png" class="" alt="Home">
            </a>
        </div>
        <p-scrollPanel styleClass="c21-menu__panel">
            <ul class="c21-sidebar__menu" [class.c21-menu-small--deactivated]="!menuSmall" *ngSwitchCase="true">
                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaH="routerLinkActive" [routerLink]="'/home'">
                        <img [src]="rlaH.isActive  ? 'assets/header/home-active.png' :'assets/header/home.png'" class="" alt="Home">
                        <div translate="menu.header.home">Inicio</div>

                    </a>
                </li>

                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeBuscar">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaS="routerLinkActive" [routerLink]="'/search'">

                        <img [src]="rlaS.isActive  ? 'assets/header/search-active.png' :'assets/header/search.png'" alt="Search">
                        <div translate="menu.header.search">Buscador</div>

                    </a>
                </li>


                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeVerAlertas">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaA="routerLinkActive" [routerLink]="'/alerts'">

                        <img [src]="rlaA.isActive  ? 'assets/header/alerta-active.png' :'assets/header/alerta.png'" class="" alt="Alerts">
                        <div translate="menu.header.alerts">Alertas</div>

                    </a>
                </li>

                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaF="routerLinkActive" [routerLink]="'/folders'">

                        <img [src]="rlaF.isActive  ? 'assets/header/carpeta-active.png' :'assets/header/carpeta.png'" class="" alt="Folders">
                        <div translate="menu.header.folders">Carpetas</div>

                    </a>
                </li>


                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaSchedule="routerLinkActive" [routerLink]="'/schedule'">

                        <img [src]="rlaSchedule.isActive  ? 'assets/header/agenda-active.png' :'assets/header/agenda.png'" class="" alt="Schedule">
                        <div translate="menu.header.schedule">Agenda</div>

                    </a>
                </li>

                <li class="c21-sidebar__item" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeComprar">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaW="routerLinkActive" [routerLink]="'/webshop'">

                        <img [src]="rlaW.isActive  ? 'assets/header/webshop-active.png' :'assets/header/webshop.png'" class="" alt="Webshop">
                        <div translate="menu.header.webshop">Webshop</div>

                    </a>
                </li>
                <li class="c21-sidebar__item hidden-sm-up" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link c21-sidebar__item--badge" (click)="navigated()" routerLinkActive #rlaAvisos="routerLinkActive"
                        [routerLink]="'/notifications'">
                        <div class="c21-badge" *ngIf="notificationsCount > 0">{{notificationsCount}}</div>
                        <img [src]="rlaAvisos.isActive  ? 'assets/header/avisos-active.png' :'assets/header/avisos.png'" alt="avisos">
                        <div translate="menu.header.avisos"></div>

                    </a>
                </li>

                <li class="c21-sidebar__item hidden-sm-up" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled"
                    *ngIf="permisos.puedeVerEmpresa">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaW="routerLinkActive" [routerLink]="'/my-business'">

                        <img [src]="rlaW.isActive  ? 'assets/header/add-active.png' :'assets/header/add.png'" class="" alt="empresa">
                        <div translate="menu.header.ficha">Ficha</div>

                    </a>
                </li>

                <li class="c21-sidebar__item hidden-sm-up" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaFAQ="routerLinkActive" [routerLink]="'/faq'">

                        <img [src]="rlaFAQ.isActive  ? 'assets/header/qm-active.png' :'assets/header/qm.png'" class="" alt="faq">
                        <div translate="menu.header.preguntas">Preguntas</div>

                    </a>
                </li>

                <li class="c21-sidebar__item hidden-sm-up" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" routerLinkActive #rlaW="routerLinkActive" [routerLink]="'/contact'">

                        <img [src]="rlaW.isActive  ? 'assets/header/tlf-active.png' :'assets/header/tlf.png'" class="" alt="contact">
                        <div translate="menu.header.contact">contact</div>

                    </a>
                </li>

                <li class="c21-sidebar__item hidden-sm-up" [routerLinkActive]="'c21-sidebar__item--active'" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="navigated()" [routerLink]="['/user']">
                        <button pButton [routerLink]="['/user']" class="c21-button c21-button--warning  c21-button__med c21-button__med--ico c21-button--cog "
                            pTooltip="{{ 'menu.header.account' | translate}}" tooltipPosition="top">
                        </button>
                        <div> {{'menu.header.account' |translate }}</div>
                    </a>
                </li>

                <li class="c21-sidebar__item hidden-sm-up" [class.c21-nav-item__disabled]="disabled">
                    <a class="c21-sidebar__link " (click)="logout()">
                        <button pButton class="c21-button c21-button--danger c21-button__med c21-button__med--ico c21-button--power">
                        </button>
                        <div translate="menu.header.logoutButton">Log Out</div>
                    </a>
                </li>

            </ul>
        </p-scrollPanel>
    </p-sidebar>
</header>