$c21-logo_minwidth: 250px;
$c21-logo_maxwidth: 350px;
@import 'variables';
.c21-navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: $color-primary;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.c21-header-bar {
    display: flex;
    flex-direction: row;
    height: $c21-menu-height;
    min-height: $c21-menu-height;
    align-items: center;
}

.c21-menu__main {
    display: flex;
    flex: 4;
}

.c21-menu-small {
    box-shadow: 0 0 10px 8px;
    &--deactivated {
        display: none;
    }
}

.c21-menu__list {
    display: flex;
}

.c21-logo__container {
    display: flex;
    flex: 1; // min-width: $c21-logo_minwidth;
    padding-right: 20px; // max-width: $c21-logo_minwidth;
    padding-left: 30px; // justify-content: center;
}

.c21-nav-item {
    font-size: 10px;
    min-width: 50px;
    padding: 10px 15px 8px 15px;
    text-align: center;
    color: $white;
    &--active {
        color: $color-primary;
        background: $white;
        box-shadow: 0 13px 0 white;
    }
    &-small {
        font-size: 10px;
        min-width: 50px;
        text-align: center;
        color: $white;
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, .1);
        &--active {
            color: $color-primary;
            background: $white;
            box-shadow: 0 0 0 white;
        }
        &#{&} a {
            display: flex;
            margin: 0;
            padding: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 25px;
            color: inherit;
        }
        &__txt {
            font-weight: bold;
            display: block;
            margin-top: 10px;
            text-transform: uppercase;
            color: inherit;
        }
    }
    &__disabled {
        box-shadow: 0 0 0 white;
    }
    &#{&} a {
        margin: 0;
        padding: 0;
        color: inherit;
    }
    &#{&} img {
        vertical-align: unset;
    }
    &__txt {
        font-weight: bold;
        display: block;
        margin-top: 6px;
        text-transform: uppercase;
            letter-spacing:0.2em;
            color: inherit;
    }
}

.c21-sidebar__item--close {
    display: flex;
    height: 75px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.c21-sidebar__item--badge {
    position: relative;
}

.c21-header__user {
    display: flex;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    &__text {
        font-size: 1.3em;
        margin: 0 15px;
        color: $color-text-clear;
    }
    .c21-button {
        font-size: 1.2em;
        min-width: 25px;
        max-width: 25px;
        min-height: 25px;
        max-height: 25px;
        margin: 0 5px; //padding: 6px;
        text-align: center;
        border-radius: 5px;
    }
}

::ng-deep .c21-menu__panel {
    height: calc( 100vh - 75px);
    background: $color-primary;
    .ui-scrollpanel-wrapper:after {
        background: linear-gradient(transparent, $color-primary);
    }
}

.c21-badge {
    --tam: 18px;
    font-size: 10px;
    line-height: var(--tam);
    position: absolute;
    width: var(--tam);
    height: var(--tam);
    right: -10px;
    top: -22px;
    color: white;
    // border: solid 1px $color-panel;
    border-radius: 100%;
    background-color: $color-button-danger;
}

@media (max-width: $c21-md-width) {
    .c21-menu__main,
    .c21-header__user {
        display: none;
    }
    .c21-status--small {
        display: inherit; // padding-right: 30px;
    }
    .c21-header-bar {
        justify-content: space-between;
    }
    .c21-btn-menu--small {
        font-size: 1.4em;
        margin-right: 5px;
        padding-left: 20px;
        color: white;
        border: 0;
        border-radius: 3px;
        outline: 0;
        background-color: transparent;
        .fa {
            font-size: 1.3em;
        }
    }
}

@media (min-width: 1025px) {
    .c21-btn-menu--small {
        display: none;
        margin-right: 50px;
    }
    .c21-menu--small {
        display: none;
    }
    .c21-status--small {
        display: none;
    }
}