<p-panel class="ui-md-12 ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8">
          <span class="c21-panel__title-icon">
            <img src="assets/header/webshop.png" alt="Folders">
          </span>
          {{'webshop.main.finished.title' | translate}}
        </div>

      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-margin-bottom--2x c21-margin-top--2x c21-text-big">
    {{'webshop.main.finished.text' | translate}}
  </div>
</p-panel>