<p-dialog [(visible)]="folderModal.visible" modal="modal" width="400" [responsive]="true" [closable]="true" [blockScroll]="true"
  appendTo="body" (onHide)="clear()">
  <form #createFolderForm="ngForm">
    <div class="ui-g-12">
      {{'folders.exportText' | translate}}
    </div>
    <div class="ui-g-6 ui-fluid">

      <p-calendar appendTo="body" name="start" [locale]="lo" [(ngModel)]="dateStart" [showIcon]="true" pTooltip="{{'search.filter.fromDate'|translate}}"
        dateFormat="{{lo.formatDate}}" placeholder="{{'search.filter.fromDate'|translate}}"></p-calendar>

    </div>
    <div class="ui-g-6 ui-fluid">
      <p-calendar appendTo="body" name="end" [locale]="lo" dateFormat="{{lo.formatDate}}" pTooltip="{{'search.filter.toDate'|translate}}"
        placeholder="{{'search.filter.toDate'|translate}}" [(ngModel)]="dateEnd" [showIcon]="true"></p-calendar>
    </div>

    <p-footer>
      <div class="c21-dialog--padding">
        <div class="ui-g-6 c21-center">
          <button pButton class="c21-button--third c21-button__med c21-button--save" label="{{'worksheet.menu.saveModal.savePdf'|translate}}"
            (click)="generatePdf()"></button>
        </div>
        <div class="ui-g-6 c21-center">

          <button pButton class="c21-button--third c21-button__med c21-button--save" label="{{'worksheet.menu.saveModal.saveExcel'|translate}}"
            (click)="generateXls()"></button>
        </div>
      </div>
    </p-footer>

  </form>
</p-dialog>