<div class="ui-g ui-fluid ui-nopad" *ngIf="!!company">
  <div class="ui-g-12 ui-md-4">
    <input name="empresa" [(ngModel)]="company.empresa" type="text" required pInputText pTooltip="{{ 'webshop.main.confirm.empresa' | translate}}"
      placeholder="{{ 'webshop.main.confirm.empresa' | translate}}">
  </div>
  <div class="ui-g-12 ui-md-4">
    <input name="cif" [(ngModel)]="company.cif" type="text" pInputText required pTooltip="{{ 'webshop.main.confirm.CIF' | translate}}"
      placeholder="{{ 'webshop.main.confirm.CIF' | translate}}">
  </div>
  <div class="ui-g-12" [class.ui-md-4]="!faxVisible" [class.ui-md-2]="faxVisible">
    <input name="telefonosEmpresa" [(ngModel)]="company.telefonosEmpresa" type="text" required pInputText pTooltip="{{ 'webshop.main.confirm.telephone' | translate}}"
      placeholder="{{ 'webshop.main.confirm.telephone' | translate}}">
  </div>
  <div class="ui-g-12 ui-md-2" *ngIf="faxVisible">
    <input name="faxEmpresa" [(ngModel)]="company.faxEmpresa" type="text" pInputText pTooltip="{{ 'business.faxEmpresa' | translate}}"
      placeholder="{{ 'business.faxEmpresa' | translate}}">
  </div>
  <div class="ui-g-12 ui-md-4">
    <p-dropdown appendTo="body" pTooltip="{{'webshop.main.confirm.pais' | translate}}" placeholder="{{'webshop.main.confirm.pais' | translate}}"
      *ngIf="!!countryList" [options]="countryList" optionLabel="nombre" name="divisionEstatalPais" [(ngModel)]="company.divisionEstatalPais"
      [autoWidth]="false" (onChange)="onCountryChange()" required="true"></p-dropdown>

  </div>
  <div class="ui-g-12 ui-md-4">

    <p-dropdown appendTo="body" pTooltip="{{'webshop.main.confirm.comunidad' | translate}}" placeholder="{{'webshop.main.confirm.comunidad' | translate}}"
      *ngIf="!!division1List" [options]="division1List" optionLabel="nombre" name="divisionEstatalNivel1" [(ngModel)]="company.divisionEstatalNivel1"
      [autoWidth]="false" (onChange)="onDivision1Change()" required="true"></p-dropdown>


  </div>
  <div class="ui-g-12 ui-md-4">
    <p-dropdown appendTo="body" pTooltip="{{'webshop.main.confirm.provincia' | translate}}" placeholder="{{'webshop.main.confirm.provincia' | translate}}"
      *ngIf="!!division2List" [options]="division2List" optionLabel="nombre" name="divisionEstatalNivel2" [(ngModel)]="company.divisionEstatalNivel2"
      [autoWidth]="false" required="true"></p-dropdown>


  </div>

  <div class="ui-g-12 ui-md-4">
    <input name="direccion" [(ngModel)]="company.direccion" type="text" required pInputText pTooltip="{{
    'webshop.main.confirm.direccion' | translate}}" placeholder="{{ 'webshop.main.confirm.direccion' | translate}}">
  </div>
  <div class="ui-g-12 ui-md-4">
    <input name="localidad" [(ngModel)]="company.localidad" type="text" required pInputText pTooltip="{{
    'webshop.main.confirm.localidad' | translate}}" placeholder="{{ 'webshop.main.confirm.localidad' | translate}}">
  </div>
  <div class="ui-g-12 ui-md-4">
    <input name="cp" [(ngModel)]="company.cp" type="text" required pInputText pTooltip="{{ 'webshop.main.confirm.CP' | translate}}
  " placeholder="{{ 'webshop.main.confirm.CP' | translate}}">
  </div>
</div>