<div class="ui-g">
  <div class="c21-paginator">
    <button class="c21-button__med c21-button__med--ico c21-button--first c21-button--secondary" [disabled]="paginatorFiller?.pagina === 1"
      [class.ui-state-disabled]="paginatorFiller?.pagina === 1" (click)="getViewPage(1)" tabindex="-1">
    </button>
    <button class="c21-button__med c21-button__med--ico c21-button--prev c21-button--secondary" [disabled]="paginatorFiller?.pagina === 1"
      [class.ui-state-disabled]="paginatorFiller?.pagina === 1" (click)="getViewPage(this.paginatorFiller.pagina-1)" tabindex="-1">
    </button>
    <span class="c21-paginator_pages">
      {{paginatorFiller?.pagina}} {{'shared.text.paginatorSeparator' | translate }} {{paginatorFiller?.numeroPaginas }}
    </span>
    <button class="c21-button__med c21-button__med--ico c21-button--next c21-button--secondary" [disabled]="paginatorFiller?.pagina >= paginatorFiller?.numeroPaginas"
      [class.ui-state-disabled]="paginatorFiller?.pagina >= paginatorFiller?.numeroPaginas" (click)="getViewPage(this.paginatorFiller.pagina+1)"
      tabindex="0">
    </button>
    <button class="c21-button__med c21-button__med--ico c21-button--last c21-button--secondary" [disabled]="paginatorFiller?.pagina >= paginatorFiller?.numeroPaginas"
      [class.ui-state-disabled]="paginatorFiller?.pagina >= paginatorFiller?.numeroPaginas" (click)="getViewPage(this.paginatorFiller.numeroPaginas)"
      tabindex="0">
    </button>
  </div>
</div>