<p-dialog header="Columnas a mostrar" [(visible)]="incoming.display" modal="modal"  [responsive]="true" [closable]="true"
  (onHide)="dialogClose()">
  <div class="ui-g" *ngFor="let column of incoming.availableColumns" style="width:250px;margin-bottom:10px">
    <p-checkbox name="columnsgroup" [label]="column.text" [value]="column.attribute" [(ngModel)]="columnsUserConfig"></p-checkbox>
  </div>
  <p-footer>
    <button style="float:left " class="c21-button--warning c21-button__med c21-button--res c21-margin-bottom " type="button "
      pButton (click)="setDefaultVisibleColumns() " pTooltip="{{ 'comun.text.restoreColumns' |translate}} ">{{ 'comun.text.restore' |translate}} </button>

    <button class="c21-button--third c21-button__med c21-button--right c21-button--save c21-margin-bottom c21-float-right
      " type="button " pButton (click)="saveColumns()">{{'shared.form.save'| translate}}</button>

  </p-footer>
</p-dialog>