.c21-highlight--r {
	font-weight: bold;

	color: #BE3636;
}

.c21-highlight--y {
	font-weight: bold;

	color: #DD9F41;
}

.c21-highlight--b {
	font-weight: bold;

	color: #5699B9;
}

.c21-circle {
	width: 10px;
	height: 10px;

	border-radius: 5px;
}
