<p-panel class="ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/title/file.png" alt="Data">
          </span>
          {{'home.main.data.title' | translate}}
        </div>
        <div class="ui-g-5 ">
          <p-dropdown [options]="selectData" appendTo="body" optionLabel="nombre" [(ngModel)]="selectDataSelected" (onChange)="onChange()"
            [autoWidth]="false"></p-dropdown>
        </div>

      </div>
    </div>
  </p-header>
  <div *ngIf="lastData">
    <div class="ui-g-12">
      <p-chart type="doughnut" [data]="dataWorks" [options]="optionsWork" [responsive]="true">
      </p-chart>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-text-black c21-bold c21-padding-top--2x c21-padding-bottom--2x">
      {{'home.main.data.workType' | translate | uppercase }}
    </div>
    <div class="ui-g-12 c21-padding-left--2x" *ngFor="let key of html.keys(lastData.estadisticasTipoObra); let i = index">
      <div [style.background-color]="backgroundColorWork[i]" class="c21-circle c21-position-abs">

      </div>
      <span class="c21-padding-left--2x">{{key}}: {{addSeparator(lastData.estadisticasTipoObra[key])}}</span>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-padding-top--2x">
      {{'home.main.data.workNew' | translate}}
      <span class="c21-highlight--r">{{ addSeparator(lastData?.numObrasNuevas) }}</span>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-padding-bottom--2x">
      {{'home.main.data.workUpdate' | translate}}
      <span class="c21-highlight--r">{{ addSeparator(lastData?.numObrasActualizadas) }}</span>
    </div>
    <div class="ui-g-12 c21-hline"></div>

    <div class="ui-g-12">

      <p-chart type="doughnut" [data]="dataFase" [options]="optionsWork" [responsive]="true">
      </p-chart>

    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-text-black c21-bold c21-padding-top--2x c21-padding-bottom--2x">
      {{'home.main.data.phases' | translate | uppercase }}
    </div>
    <div class="ui-g-12 c21-padding-left--2x" *ngFor="let key of html.keys(lastData.estadisticasTipoHito); let i = index">
      <div [style.background-color]="backgroundColorFase[i]" class="c21-circle c21-position-abs">

      </div>
      <span class="c21-padding-left--2x">{{key}}: {{addSeparator(lastData.estadisticasTipoHito[key])}}</span>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-padding-top--2x">
      {{'home.main.data.initialPhases' | translate}}
      <span class="c21-highlight--y">{{ addSeparator(lastData?.numFasesIniciales)}}</span>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-padding-bottom--2x">
      {{'home.main.data.finalPhases' | translate}}
      <span class="c21-highlight--y">{{ addSeparator(lastData?.numFasesFinales)}}</span>
    </div>
    <div class="ui-g-12 c21-hline"></div>

    <div class="ui-g-12">

      <p-chart type="doughnut" [data]="dataLics" [options]="optionsWork" [responsive]="true">
      </p-chart>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-text-black c21-bold c21-padding-top--2x c21-padding-bottom--2x">
      {{'home.main.data.tenders' | translate | uppercase }}
    </div>
    <div class="ui-g-12 c21-padding-left--2x" *ngFor="let key of html.keys(lastData.estadisticasConcursosPublicos); let i = index">
      <div [style.background-color]="backgroundColorLics[i]" class="c21-circle c21-position-abs">

      </div>
      <span class="c21-padding-left--2x">{{key}}: {{addSeparator(lastData.estadisticasConcursosPublicos[key])}}</span>
    </div>

    <div class="ui-g-12 c21-padding-left--2x c21-padding-top--2x">
      {{'home.main.data.lics' | translate}}
      <span class="c21-highlight--b">{{ addSeparator(lastData?.numInstalaciones) }}</span>
    </div>
    <div class="ui-g-12 c21-padding-left--2x c21-padding-bottom--2x">
      {{'home.main.data.adjudication' | translate}}
      <span class="c21-highlight--b ">{{ addSeparator(lastData?.numAdjudicaciones) }}</span>
    </div>
  </div>
  <!-- <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x" *ngIf="lastData">
    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div> -->
</p-panel>