<div class="ui-g-12 c21-block-title">
  {{'account.products.title' | translate | uppercase}}
</div>




<p-table class="c21-table" [columns]="columnas" [value]="data" [responsive]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="c21-ta-init" *ngFor="let col of columns" [pSortableColumn]="col"  [ngClass]="{'c21-width-date': ((col ==='fechaInicio') || (col ==='fechaFin')), 'c21-width-price': col === 'precioString' }">
        {{'account.products.table.'+col | translate}}
        <p-sortIcon [field]="col"></p-sortIcon>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <!-- class="c21-clickable"> -->
      <td *ngFor="let col of columns">
        <!-- Resto de Campos -->
        <span *ngIf="col!=='fechaFin' && col !== 'fechaInicio'" class="c21-bold" [ngClass]="{'c21-text-black' : col ==='precio' }">
          {{rowData[col]}}
        </span>
        <span *ngIf="col === 'fechaInicio' || col === 'fechaFin'" class="c21-highlight">
          {{rowData[col] | amDateFormat: lo.momentFormatDate}}

        </span>
        <!-- ./Resto de Campos-->

      </td>
    </tr>
  </ng-template>
</p-table>