<p-panel class="ui-g-nopad c21-panel" [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/title/bubble.png" alt="Comments">
          </span>
          {{'home.main.comments.title' | translate}}
        </div>

        <div class="ui-g-5 ">
          <p-dropdown [options]="selectComments" appendTo="body" optionLabel="nombre" [(ngModel)]="selectCommentsSelected" (onChange)="onChange()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata"   *ngIf="!collapsed  && (!lastComments || lastComments.length === 0)">
    {{'home.noData' | translate}}
  </div>
  <p-scrollPanel #scrollPanelCom styleClass="ui-g-12 c21-panel__daily" *ngIf="!collapsed && lastComments && lastComments.length > 0">

    <ng-container *ngFor="let comment of lastComments">
      <div class="ui-g-12">
        <div class="c21-center">
            <span class="c21-highlight c21-margin-right">{{comment.fecha | amDateFormat: lo?.momentFormatDate}}</span>

          <div class="c21-button-line c21-ellipsis">
            <span class="c21-bold " [escape]="false" pTooltip="{{ comment.autor === user ? comment.comentario : txtAutor + comment.autor + '<br>' + comment.comentario}}"
              tooltipPosition="top"> {{comment.comentario}}</span>
          </div>
          <div class="c21-button-block">
            <button pButton pTooltip="{{'home.main.comments.edit' | translate}}" class="c21-margin-left c21-margin-right  c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
              *ngIf="comment.autor === user" (click)="startEditComment(comment.obra.codigo, comment.codigoTipoElemento, comment.codigo,comment.comentario)"
              tooltipPosition="top" type="button"></button>
            <button pButton pTooltip="{{'home.main.comments.delete' | translate}}" class="c21-margin-left c21-margin-right  c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
              *ngIf="comment.autor === user" (click)="deleteComment(comment.obra.codigo, comment.codigoTipoElemento, comment.codigo)"
              tooltipPosition="top" type="button"></button>
            <button pButton pTooltip="{{'comun.text.goToWork' | translate}}" class="c21-margin-left c21-button--secondary c21-button__med c21-button__med--ico c21-button--next"
              (click)="redirectToWork(comment.codigoTipoElemento, comment.obra.codigo)" tooltipPosition="top" type="button"></button>
          </div>
        </div>

      </div>
      <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>
    </ng-container>
  </p-scrollPanel>


  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>



<p-dialog [(visible)]="startComment" modal="true" width="700" height="auto" [draggable]="false" [responsive]="true" styleClass="c21-dialog--max">
  <form #helpForm="ngForm" (ngSubmit)="editComment()">
    <div class=" ui-g ui-fluid">
      <div class="ui-g-12 ui-fluid">
        {{'home.main.comments.edit'|translate}}
      </div>
      <div class="ui-g-12 ui-fluid">
        <textarea name="comment" class="c21-textarea" pInputTextarea [(ngModel)]="comentario"></textarea>
      </div>
    </div>
    <p-footer>
      <div class="c21-float-right">
        <button pButton type="submit" class="c21-button--third c21-button--save c21-button__med c21-button--save" label="{{'shared.form.save'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>