<svs-spinner></svs-spinner>


<c21-menu-component [disabled]="disabled"></c21-menu-component>

<c21-menu-lateral-component [disabled]="disabled"></c21-menu-lateral-component>

<div class="c21-content">
    <div class="main">
        <router-outlet>
        </router-outlet>
    </div>
</div>
<p-growl [immutable]="false" appendTo="body" [value]="growl.msgs" [life]="growl.life"></p-growl>