@import 'variables';
.c21-content {
	padding-top: $c21-menu-height;
	padding-left: $c21-menu-lateral-width;
}

@media (max-width: 640px) {
	.c21-content {
		padding-left: 0;
	}
}

::ng-deep .ui-growl {
	z-index: 999999 !important;
}
