<p-panel class="ui-md-5 ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8">
          <span class="c21-panel__title-icon">
            <img src="assets/header/schedule.png" alt="Folders">
          </span>
          {{'schedule.main.schedule.title' | translate}}
        </div>

        <div class="ui-g-4">
          <p-dropdown *ngIf="!!selectSchedule" appendTo="body" [options]="selectSchedule" optionLabel="nombre" [(ngModel)]="selectScheduleSelected"
            (onChange)="onChangeselectSchedule()" [autoWidth]="false"></p-dropdown>
        </div>

      </div>
    </div>
  </p-header>
  <div class="ui-g ui-g-12">
    <div *ngIf="!scheduleList || scheduleList.length === 0" class="ui-g-12 c21-center">
      <span>{{'comun.dataNotAvailable'|translate}}</span>
    </div>
    <div class="c21-panel__body ui-g-nopad  ui-g-12">
      <p-scrollPanel #scrollPanel class="ui-g-12 ui-g-nopad" styleClass="ui-g-12 c21-panel__daily ui-g-nopad">
        <ng-container *ngFor="let sche of scheduleList">
          <c21-schedule-card [schedule]="sche" (onSave)="onEdit(sche)" (onDelete)="onDelete($event)"></c21-schedule-card>
        </ng-container>

      </p-scrollPanel>
    </div>


    <ng-container *ngIf="!!scheduleList && scheduleList.length > 0">
      <div class="ui-g-12 c21-hline"></div>

      <div class="ui-g-12 c21-center">
        <button pButton pTooltip="{{'schedule.main.schedule.download' | translate}}" class="c21-button__med c21-button__med--ico c21-button--download c21-button--third"
          tooltipPosition="top" type="button" (click)="downloadSchedule()"></button>
      </div>
    </ng-container>
  </div>
</p-panel>



<p-panel class="ui-md-7 ui-g-12 ui-g-nopad c21-panel c21-panel--calendar">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-6 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/calendar.png" alt="Folders">
          </span>
          {{'schedule.main.calendar.title' | translate}}
        </div>


        <p-dropdown *ngIf="!!months" appendTo="body" [options]="months" [(ngModel)]="currentMonth" optionLabel="nombre" class="ui-g-3 ui-sm-12"
          (onChange)="onDateChange()" [autoWidth]="false"></p-dropdown>

        <p-dropdown *ngIf="!!years" class="ui-g-3 ui-sm-12" appendTo="body" [options]="years" optionLabel="nombre" [(ngModel)]="currentYear"
          (onChange)="onDateChange()" [autoWidth]="false"></p-dropdown>

      </div>
    </div>
  </p-header>
  <div class="c21-panel__body ui-g ui-fluid ui-g-12 ">
    <p-calendar selectionMode="none" class="ui-g-12 c21-schedule" [(ngModel)]="dateCalendar" panelStyleClass="ui-g-12" [locale]="lo"
      [inline]="true" [showOtherMonths]="false">
      <ng-template pTemplate="date" let-date>
        <span class="{{!!dateTooltip[date.day] && dateTooltip[date.day].length > 0  ? 'c21-schedule__date' : ''}}" tooltipStyleClass="c21-schedule__tooltip"
          tooltipPosition="bottom" [escape]="false" pTooltip="{{dateTooltip[date.day]}}">{{date.day}}</span>
      </ng-template>
    </p-calendar>
  </div>
</p-panel>


<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel=" {{'confirmDialog.yesLabel' | translate}}"
  appendTo="body" rejectLabel=" {{'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>