@import 'variables';
::ng-deep .c21-schedule__tooltip {
	&.ui-tooltip.ui-tooltip-top,
	&.ui-tooltip.ui-tooltip-bottom {
		padding-top: 8px;
	}
	.ui-tooltip-text {
		padding: 20px 10px; // padding-top: 20px;

// padding-bottom: 20px;
		// padding-left: 10px;
		// padding-right: 10px;

		background: $blue-med-dark;
	}
	.ui-tooltip-arrow {
		top: 5px; // border-bottom-width: 20px;

border-bottom-color: $blue-med-dark;
	}
}

::ng-deep .c21-panel__daily {
	height: 50vh;
}
::ng-deep .c21-panel--calendar {
	& > .ui-panel > .ui-panel-content-wrapper > .ui-panel-content{
padding:0;
	}
	& .c21-panel__body{
	padding:0;
}
}
::ng-deep .c21-schedule {
	.ui-datepicker.ui-widget .ui-datepicker-header {
		display: none;
	}
	.ui-datepicker-header {
		background-color: $white;
	}
	.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
		background-color: $white;
	}
	.ui-datepicker.ui-widget .ui-datepicker-calendar td {
		border-bottom: none;
	}
	.ui-widget a {
		font-weight: bold;

		color: $grey-light;
	}
	.ui-datepicker td span,
	.ui-datepicker td a {
		text-align: center;
		cursor: initial;
		line-height: 1.7em;
	}
	.c21-schedule__date {
		line-height: 1.7em;

		width: 2em;
		height: 2em;
		margin: 0 auto;

		text-align: center;

		color: $white;
		border-radius: 50%;
		background-color: $blue-med-dark;
	}
	.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
		background-color: transparent;
	}
}
