@import 'variables';
a {
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
}

body {
	font-size: 13px;
}

.c21-none {
	display: none;
}

.c21-hidden {
	visibility: hidden;
}

.c21-fa-lg-fix {
	line-height: 1;

	right: .3em;
}

.c21-float-right {
	float: right;
}

.c21-flex-end {
	justify-content: flex-end;
}

.c21-flex-between {
	justify-content: space-between;
}

.c21-ta-right {
	text-align: right;
}

.c21-ta-init {
	text-align: initial;
}

.c21-align-baseline {
	align-items: baseline;
}

.c21-align-center {
	align-items: center;
}

.c21-flex-w-initial {
	flex-wrap: initial;
}

.c21-margin-right {
	margin-right: 10px;
}

.c21-margin-right--2x {
	margin-right: 20px;
}

.c21-margin-left {
	margin-left: 10px;
}

.c21-margin-left--2x {
	margin-left: 20px;
}

.c21-padding-left--2x {
	padding-left: 20px;
}

.c21-padding-left {
	padding-left: 10px;
}

.c21-padding-right {
	padding-right: 10px;
}

.c21-margin-top {
	margin-top: 10px;
}

.c21-margin-bottom {
	margin-bottom: 10px;
}

.c21-padding-bottom {
	padding-bottom: 10px;
}

.c21-padding-top {
	padding-top: 10px;
}

.c21-padding-top--2x {
	padding-top: 20px;
}

.c21-margin-bottom--1_5x {
	margin-bottom: 1.5em;
}

.c21-padding-bottom--2x {
	padding-bottom: 20px;
}

.c21-pad-right-fix {
	padding-right: .5em;
}

.c21-margin-top--2x {
	margin-top: 2em;
}

.c21-margin-bottom--2x {
	margin-bottom: 2em;
}

.c21-bgc {
	background-color: $c21-color-fondo;
}

.c21-disabled {
	pointer-events: none;

	opacity: .25;
}

.c21-conditions {
	font-weight: 300;

	text-align: justify;
}

.c21-pointer-none {
	pointer-events: none;
}

.c21-highlight {
	font-weight: bold;

	color: $color-secondary;
}

.c21-bold {
	font-weight: bold;
}

.c21-center-align {
	display: flex;

	align-items: center;
}

.c21-center {
	display: flex;

	align-items: center;
	justify-content: center;
	&--vertical {
		flex-direction: column;

		justify-content: center;
	}
	&--bottom {
		align-items: flex-end;
	}
}

.c21-bottom {
	display: flex;

	align-items: flex-end;
	justify-content: center;
}

.c21-clickable {
	cursor: pointer;
}

.c21-cursor-default {
	cursor: auto;
}

.c21-ellipsis {
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.c21-text-black {
	color: $c21-text-black;
}

.c21-position-abs {
	position: absolute;
}

.c21-500 {
	font-weight: 500;
}

.c21-block-title {
	font-weight: bold;

	letter-spacing: .2em;

	color: $c21-text-black;
}

@mixin clearfix {
	&:after {
		display: table;
		clear: both;

		content: '';
	}
}
