@media print {
	* {
		transition: none !important;
	}
	.c21-panel__toolbar {
		display: none !important;
	}
	.c21-sidebar {
		display: none !important;
	}
	.c21-header-bar {
		display: none !important;
	}
	.c21-panel__header {
		display: none !important;
	}
	.c21-panel > .ui-panel {
		width: 100% !important;

		box-shadow: none !important;
	}
	.c21-content {
		margin: 0 !important;
		padding: 0 !important;
	}
	.c21-panel_galeria-img * {
		overflow: hidden !important;
	}
	.c21-panel__body {
		overflow: hidden !important;

		padding: 0 !important;
	}
	.ui-growl {
		display: none !important;
	}
	.c21-print-none {
		display: none !important;
	}
	.c21-print-visible {
		display: inherit !important;
	}
	.c21-status__item--active:after {
		display: none !important;
	}
	.ui-galleria,
	.ui-galleria-panel-wrapper,
	.ui-galleria-panel {
		height: auto !important;
	}
	.ui-galleria-panel,
	.ui-panel-images {
		position: relative !important;

		display: block !important;

		margin-bottom: 2em !important;
	}
	.ui-galleria-filmstrip-wrapper,
	.ui-galleria-nav-prev,
	.ui-galleria-nav-next {
		display: none !important;
	}
	@media (min-width:0) {
		.c21-status__item:not(.c21-status__item--active) {
			display: flex !important;
			flex-direction: column !important;

			border-bottom: 10px solid #9BD4DD;
		}
		.c21-status__item--active {
			border-bottom: 10px solid #FD0006 !important;
			&:after {
				display: none;
			}
		}
	} //En firefox este hace que no se pinte nada en la impresora
	.c21-panel > .ui-panel > .ui-panel-content-wrapper > .ui-panel-content {
		overflow: visible !important;
	}
}
