::ng-deep .c21-home-alert-panel c21-search-component > .c21-panel > .ui-panel > .ui-panel-titlebar {
	display: none;
}

::ng-deep .c21-home-alert-panel .c21-panel__daily {
	padding: 0;
}

::ng-deep .c21-home-alert-panel c21-search-component > .c21-panel > .ui-panel {
	margin: 0;

	box-shadow: none;
}

::ng-deep .c21-panel--home-alert .ui-scrollpanel-content {
	padding-right: 0;
	padding-left: 0;
}

// ::ng-deep .c21-panel--home-alert .ui-scrollpanel-bar-y {
// 	margin-left: -10px;
// }

::ng-deep .c21-home-alert-panel.c21-dialog--max.c21-position-abs {
	z-index: 5;
	top: 50px !important;
	left: 2vw !important;

	width: 90vw;
}

::ng-deep .c21-home-alert-panel.c21-dialog--max.c21-position-abs.ui-dialog.ui-widget .ui-dialog-content {
	height: 100% !important;
	padding: 0;
}

// ::ng-deep .c21-home-alert-panel .c21-filter-panel .ui-g-nopad.ui-g-12.ng-star-inserted {
// 	display: none;
// }

.c21-paginator_margin {
	margin-top: .5em;
	margin-bottom: 1em;
}
