<p-panel class="ui-g-nopad c21-panel " styleClass="c21-panel--home-alert" [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/title/disk.png" alt="Alert">
          </span>
          {{'home.main.alert.title' | translate}}
        </div>

        <div class="ui-g-5 ">
          <p-dropdown [options]="selectAlerts" appendTo="body" optionLabel="nombre" [(ngModel)]="selectAlertsSelected" (onChange)="onChange()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata"  *ngIf="!collapsed  && (!lastAlerts || lastAlerts.length === 0)">
    {{'home.noData' | translate}}
  </div>

  <p-scrollPanel #scrollPanel styleClass="ui-g-12  c21-panel__daily" *ngIf="!collapsed && lastAlerts && lastAlerts.length> 0">
    <ng-container *ngFor="let alert of lastAlerts">
      <div class="ui-g-12 ui-g c21-center">
        <div class="c21-text-black c21-button-line c21-ellipsis">
          {{alert.nombrePerfil}}
        </div>
        <div class="c21-button-block">
          <button pButton pTooltip="{{'alerts.saved.edit' | translate}}" class="c21-margin-left c21-margin-right c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
            (click)="editAlert(alert)" tooltipPosition="top" type="button"></button>
          <button pButton pTooltip="{{'alerts.saved.deleteButton' | translate}}" class="c21-margin-left c21-margin-right c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
            (click)="deleteAlert(alert)" tooltipPosition="top" type="button"></button>
          <button pButton pTooltip="{{'alerts.saved.search' | translate}}" class="c21-margin-left c21-button--third c21-button__med c21-button__med--ico c21-button--search"
            (click)="showAlert(alert)" tooltipPosition="top" type="button"></button>
        </div>
        <div class="ui-g-12 ui-g ui-g-nopad c21-padding-top">
          <img src="assets/alert/main/saved_mail.png">
          <span class="c21-line-fix">{{ 'alerts.saved.notification.'+ alert.notificacion | translate}} </span>
        </div>
      </div>
      <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>
    </ng-container>
  </p-scrollPanel>



  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>


<p-dialog header="{{'alerts.saved.assistant.modal.title'|translate}}" [(visible)]="c21EditAlert" [draggable]="false" [responsive]="false"
  appendTo="body" [autoZIndex]="false" modal="true" height="-5" styleClass="c21-dialog--max c21-position-abs c21-home-alert-panel"
  (onHide)="enableMenu()">
  <c21-search-component [newAlertData]="newAlertData" isEditAlert="true" (alertSaved)="alertSaved()"></c21-search-component>
</p-dialog>