.spinner__container {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;

	width: 100%;
	height: 120%;

	background-color: rgba(211, 211, 211, .5);
}

.loading {
	width: 7em;
	height: 7em;
	margin: 25em auto 0 auto;

	transition: border-left .5s ease;
	animation: spin 2s cubic-bezier(.51, .31, .07, .8) infinite;

	border-top: solid 1em transparent;
	border-left: solid 1em #334D66;
	border-radius: 50%;
}

@keyframes spin {
	50% {
		transform: rotate(1turn);

		border-left: solid 1em #E04E4E;
	}
	to {
		transform: rotate(2turn);

		border-left: solid 1em #334D66;
	}
}
