<p-dialog [header]="translation.modalTitle" [(visible)]="folder.visible" modal="modal" width="400" [responsive]="true" [closable]="true" [blockScroll]="true" appendTo="body">
  <form #createFolderForm="ngForm" (ngSubmit)="submitClick()">
    <div class="ui-g-12">
      <div class="c21-dialog--padding ui-g ui-fluid">
        <input required name="nombre" placeholder="{{'folders.createNewFolder.modal.folderNamePlaceholder'|translate}}" type="text"
          size="30" pInputText [(ngModel)]="folder.carpeta.nombre">
      </div>
      <div class="c21-dialog--padding ui-g ui-fluid">
        <p-checkbox name="avisoEmail" [class.c21-none]="folder.carpeta.tipoCarpeta?.codigo!==5" [(ngModel)]="folder.carpeta.avisoEmail"
          binary="true" label="{{'folders.createNewFolder.modal.avisoMail' | translate}}"></p-checkbox>
      </div>
    </div>
    <p-footer>
      <div class="c21-dialog--padding" >
        <button pButton type="submit" class="c21-button--third c21-button__med c21-button--save"  [label]="translation.buttonSubmit"
          [disabled]="!createFolderForm.valid"></button>
      </div>
    </p-footer>

  </form>
</p-dialog>