::ng-deep.c21-modal-condition {
	.ui-widget-content,
	.ui-dialog-titlebar.ui-widget-header {
		color: white;
		background-color: #9AD3DC;
	}
	.fa-close {
		color: white;
	}
	h1,
	h2,
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: inherit;
		font-weight: 500;
		line-height: 1.1;

		color: inherit;
	}
	h1 {
		font-size: 13px;
		font-weight: bold;

		letter-spacing: .2em;
		text-transform: uppercase;

		border: 0;
	}
	h2 {
		font-size: 14px;

		margin-bottom: 3em;
	}
	h3 {
		font-size: 12px;
	}
	p {
		margin: 0 0 10px;
	}
}
