<p-dialog [(visible)]="privacyVisible.visible" modal="true" width="700" height="auto" [draggable]="false" [responsive]="true"
  styleClass="c21-dialog--max c21-modal-condition">
  <div [innerHTML]="textoHtmlCondiciones"></div>
</p-dialog>