<p-panel class="ui-g-nopad c21-panel" [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/header/schedule.png" alt="Schedule">
          </span>
          {{'home.main.schedule.title' | translate}}
        </div>

        <div class="ui-g-5 ">
          <p-dropdown [options]="selectSchedules" appendTo="body" optionLabel="nombre" [(ngModel)]="selectScheduleSelected" (onChange)="onChange()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata"  *ngIf="!collapsed  && ( !lastSchedules || lastSchedules.length === 0)">
    {{'home.noData' | translate}}
  </div>
  <p-scrollPanel #scrollPanel styleClass="ui-g-12 c21-panel__daily" *ngIf="!collapsed && lastSchedules && lastSchedules.length > 0">
    <ng-container *ngFor="let sche of lastSchedules">
      <c21-schedule-card [schedule]="sche" (onSave)="onEdit(sche)" (onDelete)="onDelete($event)" [isShortView]="true"></c21-schedule-card>
    </ng-container>

  </p-scrollPanel>



  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>