<p-panel *ngIf="!!dataset.work.list" class="c21-panel c21-panel--options ui-g-12 ui-g-nopad">
  <p-header>


    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-10 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/search.png" alt="Works">
          </span>
          {{'worksheet.header.title' | translateLang:prefijoLocale:getTrans}}
        </div>
        <div *ngIf="worksheetParams.codigoTipoElemento === 1" class="ui-g-2 ui-sm-12">
          <p-dropdown placeholder="{{'worksheet.menu.languagesPlaceholder'|translateLang:prefijoLocale:getTrans}}" [options]="dataset.languages.list"
            pTooltip="" [(ngModel)]="dataset.languages.selected" optionLabel="nombre" (onChange)="dataset.work.getTranslation()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>

    </div>

    <div class="ui-g-12 c21-panel__toolbar">


      <!-- <div class="ui-g-10 ui-md-10 ui-g-nopad ui-lg-10" [class.ui-g-offset-2]="worksheetParams.codigoTipoElemento !== 1"> -->

      <!-- "_line-1" -->
      <button pButton class="c21-icon-button--inline c21-button--link" label="{{'worksheet.menu.goBack' | translateLang:prefijoLocale:getTrans }}"
        (click)="goBack()">
        <img src="assets/worksheet/mini/9.png" class="c21-button--inline__img" alt="{{'worksheet.menu.goBack'| translateLang:prefijoLocale:getTrans}}">
        <!-- <img src="assets/worksheet/mini/1.png"> -->
      </button>

      <div class="c21-panel__toolbar-buttons">
        <button pButton *ngIf="dataset.work.list.sePuedeNotificarError" label="{{'worksheet.menu.notifyError'|translateLang:prefijoLocale:getTrans}}"
          class="c21-icon-button--inline c21-button--link" (click)="dataset.notifyError.display = true">
          <img src="assets/worksheet/mini/1.png" class="c21-button--inline__img" alt="{{'worksheet.menu.notifyError'|translateLang:prefijoLocale:getTrans}}">
        </button>

        <button pButton *ngIf="dataset.work.list.sePuedeActualizarEstado" class="c21-icon-button--inline c21-button--link" (click)="updateStatus()"
          label="{{'worksheet.menu.updateStatus'|translateLang:prefijoLocale:getTrans}}">
          <img src="assets/worksheet/mini/2.png" class="c21-button--inline__img" alt="{{'worksheet.menu.updateStatus'|translateLang:prefijoLocale:getTrans}}">
        </button>
        <button pButton *ngIf="dataset.work.list.sePuedeAgregarCarpeta" class="c21-icon-button--inline c21-button--link" (click)="addWorksToFolder()"
          label="{{'worksheet.menu.folders'|translateLang:prefijoLocale:getTrans}}">
          <img src="assets/worksheet/mini/4.png" class="c21-button--inline__img" alt="{{'worksheet.menu.folders'|translateLang:prefijoLocale:getTrans}}">
        </button>


        <button *ngIf="!((dataset.work.list.comentarios.length === 0) && !dataset.work.list.sePuedeRealizarAnotaciones)" pButton
          class="c21-icon-button--inline c21-button--link" (click)="goToAnchor()" label="{{'worksheet.menu.myAnnotations'|translateLang:prefijoLocale:getTrans}}">
          <img src="assets/worksheet/mini/5.png" class="c21-button--inline__img" alt="{{'worksheet.menu.myAnnotations'|translateLang:prefijoLocale:getTrans}}">
        </button>
        <button pButton *ngIf="dataset.work.list.sePuedeParticiparEnObra" class="c21-icon-button--inline c21-button--link" (click)="setMyCompanyParticipates()"
          label="{{'worksheet.menu.myCompanyParticipates'|translateLang:prefijoLocale:getTrans}}" pTooltip="{{'worksheet.menu.myCompanyParticipatesTooltip' | translateLang:prefijoLocale:getTrans}}"
          tooltipPosition="top">
          <img class="" src="assets/worksheet/mini/6.png" class="c21-button--inline__img" alt="{{'worksheet.menu.myCompanyParticipates'|translateLang:prefijoLocale:getTrans}}">
        </button>

        <button pButton class="c21-icon-button--inline c21-button--link" label="{{'worksheet.menu.toPrint'|translateLang:prefijoLocale:getTrans}}"
          (click)="printWorksheet()">
          <img src="assets/worksheet/mini/7.png" class="c21-button--inline__img" alt="{{'worksheet.menu.toPrint'|translateLang:prefijoLocale:getTrans}}">
        </button>
        <button pButton *ngIf="dataset.work.list.sePuedeExportarPDF || dataset.work.list.sePuedeExportarRTF" class="c21-icon-button--inline c21-button--link"
          (click)="showSave()" label="{{'worksheet.menu.save'|translateLang:prefijoLocale:getTrans}}">
          <img class="c21-button--inline__img" src="assets/worksheet/mini/8.png">
        </button>
        <!-- </div> -->
        <!--#endregion "right" -->
      </div>
    </div>
  </p-header>
  <!--#endregion "header" -->


  <div class="ui-g-12 c21-panel__body">


    <!--#region "banner BUENO" -->
    <div *ngIf="!!dataset.work.banner" class="ui-g-12 ui-g-nopad c21-center c21-banner">
      <a href="{{dataset.work.banner.urlClick}}" class="c21-banner__link" target="_blank">
        <img src="{{dataset.work.banner.urlImagenPublicidad}}" title="Publicity" alt="Publicity" class="c21-banner__title" />
        <img title="{{dataset.work.banner.nombre}}" src="{{dataset.work.banner.urlImagenFinal}}" class="c21-banner__img ui-g-12"
        />
      </a>
    </div>


    <!--#endregion "banner BUENO" -->









    <!--#region "identificacion-obra" -->
    <section class="ui-g-12  c21-section">

      <h2 class="c21-section__title">
        {{ this.worksheetParams.codigoTipoElemento == 1? ('worksheet.identificationWork.title'|translateLang:prefijoLocale:getTrans)
        : (this.worksheetParams.codigoTipoElemento == 3? ('worksheet.identificationWork.titleProvider'|translateLang:prefijoLocale:getTrans)
        : ('worksheet.identificationWork.titleTender'|translateLang:prefijoLocale:getTrans) ) }}
      </h2>
      <h3 class="c21-page-subtitle">{{dataset.work.list.nombre?dataset.work.list.nombre:'worksheet nombre'}}</h3>
      <h4 class="c21-page-desc" *ngIf="!!dataset.work.list.referencia">{{'worksheet.identificationWork.reference'|translateLang:prefijoLocale:getTrans}}:
        {{dataset.work.list.referencia}}
      </h4>
      <p class="c21-basic-text" *ngFor="let direccion of dataset.work.list.direcciones">
        <strong>{{'worksheet.identificationWork.address'|translateLang:prefijoLocale:getTrans}}:</strong>
        {{direccion.direccionCompleta}}
        <a href="{{direccion.urlMapa}}" target="_blank">
          <img src="assets/worksheet/pin.png">
        </a>
      </p>
      <p class="c21-basic-text" *ngIf="!!dataset.work.list.tiposObra || !!dataset.work.list.tipoObraOLicitacion">
        <strong>{{'worksheet.identificationWork.typeOfWork'|translateLang:prefijoLocale:getTrans}}:</strong>
        {{dataset.work.list.tiposObra?dataset.work.list.tiposObra:''}}
        <span class="c21-margin-left--2x">{{dataset.work.list.tipoObraOLicitacion?dataset.work.list.tipoObraOLicitacion:''}}
          {{dataset.work.list.tiposTrabajo?dataset.work.list.tiposTrabajo:''}}
        </span>
      </p>

      <!--#region "icons-detalles" -->
      <div class="ui-fluid c21-center-items c21-icons" *ngIf="!!dataset.work.list.numeroViviendas ||
      !!dataset.work.list.numeroPisos ||
      !!dataset.work.list.presupuesto ||
      !!dataset.work.list.duracion ||
      !!dataset.work.list.superficieTerreno ||
      !!dataset.work.list.superficieConstruccion">
        <div *ngIf="!!dataset.work.list.numeroViviendas" class="c21-image-item">
          <img src="assets/worksheet/1.png" alt="{{'worksheet.identificationWork.roomUnits'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.roomUnits'|translateLang:prefijoLocale:getTrans}}:</strong>
            {{dataset.work.list.numeroViviendas}}
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.numeroPisos" class="c21-image-item">
          <img src="assets/worksheet/2.png" alt="{{'worksheet.identificationWork.floorUnits'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.floorsUnits'|translateLang:prefijoLocale:getTrans}}:</strong>
            {{dataset.work.list.numeroPisos}}
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.presupuesto" class="c21-image-item">
          <img src="assets/worksheet/3.png" alt="{{'worksheet.identificationWork.budget'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.budget'|translateLang:prefijoLocale:getTrans}}:</strong>
            <p>{{dataset.work.list.presupuesto + '€'}}</p>
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.duracion" class="c21-image-item">
          <img src="assets/worksheet/4.png" alt="{{'worksheet.identificationWork.duration'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.duration'|translateLang:prefijoLocale:getTrans}}:</strong>
            <p>{{dataset.work.list.duracion}} {{(dataset.work.list.duracion == 1? 'worksheet.identificationWork.durationMonth'
              : 'worksheet.identificationWork.durationMonths') | translateLang:prefijoLocale:getTrans}} </p>
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.superficieTerreno" class="c21-image-item">
          <img src="assets/worksheet/5.png" alt="{{'worksheet.identificationWork.surfaceGround'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.surfaceGround'|translateLang:prefijoLocale:getTrans}}:</strong>
            <p>{{dataset.work.list.superficieTerreno + ' m²'}}</p>
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.superficieConstruccion" class="c21-image-item">
          <img src="assets/worksheet/6.png" alt="{{'worksheet.identificationWork.surfaceBuilding'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <strong>{{'worksheet.identificationWork.surfaceBuilding'|translateLang:prefijoLocale:getTrans}}:</strong>
            <p>{{dataset.work.list.superficieConstruccion + ' m²'}}</p>
          </div>
        </div>

      </div>
      <!--#endregion "icons-detalles" -->


      <!--#region "icons-fechas" -->

      <p class="c21-basic-text" *ngIf="!!dataset.work.list.descripcion">
        <strong>{{'worksheet.identificationWork.generalCharacteristics'|translateLang:prefijoLocale:getTrans}}:</strong>
        {{dataset.work.list.descripcion}}
      </p>

      <div class="ui-fluid c21-center-items c21-icons" *ngIf="!!dataset.work.list.fechaInicio || !!dataset.work.list.fechaFin || !!dataset.work.list.tipoContratacionOConcurso || !!dataset.work.list.tipoProteccionViviendaOTramitacion || !!dataset.work.list.fechaPlazoPresentacionOfertas || !!dataset.work.list.boletin || !!dataset.work.list.fechaBoletin || !!dataset.work.list.licenciaExpediente || !!dataset.work.list.estadoLicenciaOClasificacion || !!dataset.work.list.fechaLicencia">

        <div *ngIf="!!dataset.work.list.fechaInicio || !!dataset.work.list.fechaFin" class="c21-image-item c21-image-item--2x">
          <img src="assets/worksheet/2_1.png" alt="{{'worksheet.identificationWork.dateStartEnd'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <p *ngIf="!!dataset.work.list.fechaInicio">
              <strong>{{'worksheet.identificationWork.start'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.fechaInicio| amDateFormat: lo.momentFormatDate}}
            </p>
            <p *ngIf="!!dataset.work.list.fechaFin">
              <strong>{{'worksheet.identificationWork.end'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.fechaFin| amDateFormat: lo.momentFormatDate}}
            </p>
          </div>
        </div>



        <div *ngIf="!!dataset.work.list.tipoContratacionOConcurso || !!dataset.work.list.tipoProteccionViviendaOTramitacion" class="c21-image-item c21-image-item--2x">
          <img src="assets/worksheet/2_2.png" alt="{{
            this.worksheetParams.codigoTipoElemento == 1?
            ('worksheet.identificationWork.hiring'|translateLang:prefijoLocale:getTrans) :
            ('worksheet.identificationWork.procedimiento'|translateLang:prefijoLocale:getTrans) 
          }}">
          <div class="c21-image-item__text">
            <p *ngIf="!!dataset.work.list.tipoContratacionOConcurso">
              <strong>{{ this.worksheetParams.codigoTipoElemento == 1? ('worksheet.identificationWork.hiring'|translateLang:prefijoLocale:getTrans)
                : ('worksheet.identificationWork.procedimiento'|translateLang:prefijoLocale:getTrans) }}:
              </strong>
              {{dataset.work.list.tipoContratacionOConcurso}}
            </p>
            <p *ngIf="!!dataset.work.list.tipoProteccionViviendaOTramitacion">
              <strong>{{ this.worksheetParams.codigoTipoElemento == 1? ('worksheet.identificationWork.protection'|translateLang:prefijoLocale:getTrans)
                : ('worksheet.identificationWork.tramitation'|translateLang:prefijoLocale:getTrans) }}:
              </strong>
              {{dataset.work.list.tipoProteccionViviendaOTramitacion}}
            </p>
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.fechaPlazoPresentacionOfertas || !!dataset.work.list.boletin || !!dataset.work.list.fechaBoletin"
          class="c21-image-item c21-image-item--2x">
          <img src="assets/worksheet/2_3.png" alt="{{'worksheet.identificationWork.publishing'|translateLang:prefijoLocale:getTrans}}">

          <div class="c21-image-item__text">

            <p *ngIf="!!dataset.work.list.fechaPlazoPresentacionOfertas">
              <strong>{{'worksheet.identificationWork.offerLimit'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.fechaPlazoPresentacionOfertas| amDateFormat: lo.momentFormatDate}}
            </p>

            <p *ngIf="!!dataset.work.list.boletin">
              <strong>{{'worksheet.identificationWork.officialBulletin'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.boletin}}
            </p>


            <p *ngIf="!!dataset.work.list.fechaBoletin">
              <strong>{{'worksheet.identificationWork.bulletinDate'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.fechaBoletin| amDateFormat: lo.momentFormatDate}}
            </p>
          </div>
        </div>

        <div *ngIf="!!dataset.work.list.licenciaExpediente || !!dataset.work.list.estadoLicenciaOClasificacion || !!dataset.work.list.fechaLicencia"
          class="c21-image-item c21-image-item--2x">
          <img src="assets/worksheet/2_4.png" alt="{{'worksheet.identificationWork.license'|translateLang:prefijoLocale:getTrans}}">
          <div class="c21-image-item__text">
            <p *ngIf="!!dataset.work.list.licenciaExpediente">
              <strong>{{ this.worksheetParams.codigoTipoElemento == 1? ('worksheet.identificationWork.license'|translateLang:prefijoLocale:getTrans)
                : ('worksheet.identificationWork.expediente'|translateLang:prefijoLocale:getTrans) }}:
              </strong>
              {{dataset.work.list.licenciaExpediente}}
            </p>
            <p *ngIf="!!dataset.work.list.estadoLicenciaOClasificacion">
              <strong>{{ this.worksheetParams.codigoTipoElemento == 1? ('worksheet.identificationWork.licenseStatus'|translateLang:prefijoLocale:getTrans)
                : ('worksheet.identificationWork.licenseClass'|translateLang:prefijoLocale:getTrans) }}:
              </strong>
              {{dataset.work.list.estadoLicenciaOClasificacion}}
            </p>

            <p *ngIf="!!dataset.work.list.fechaLicencia">
              <strong>{{'worksheet.identificationWork.licenseDate'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{dataset.work.list.fechaLicencia| amDateFormat: lo.momentFormatDate}}
            </p>
          </div>
        </div>
      </div>





      <!--#endregion "icons-fechas" -->

      <!--#region "materiales" -->

      <p class="c21-basic-text" *ngIf="!!dataset.work.list.stringMateriales">
        <strong>{{'worksheet.identificationWork.materials'|translateLang:prefijoLocale:getTrans}}:</strong>
        {{dataset.work.list.stringMateriales}}
      </p>

      <p class="c21-basic-text" *ngIf="!!dataset.work.list.memoriaCalidades">
        <strong>{{'worksheet.identificationWork.qualityMemo'|translateLang:prefijoLocale:getTrans}}:</strong>
        {{dataset.work.list.memoriaCalidades}}
      </p>

      <!--#endregion "materiales" -->
    </section>


    <!--#endregion "identificacion-obra" -->
    <!--#region "estado-obra" -->
    <section class="ui-g-12 ui-g-nopad c21-section" *ngIf="!!dataset.work.list.descripcionFase || !!dataset.work.list.fechaFase ||!!dataset.work.list.etiquetaFechaFase ">
      <h2 class="c21-section__title">{{'worksheet.workStatus.title'|translateLang:prefijoLocale:getTrans}}</h2>
      <div *ngIf="!!dataset.work.list.etiquetaFechaFase" class="c21-date">
        <span class="c21-date__label">
          {{dataset.work.list.etiquetaFechaFase}}
        </span>
        {{dataset.work.list.fechaFase| amDateFormat: lo.momentFormatDate}}
      </div>
      <p class="c21-basic-text" *ngIf="!!dataset.work.list.descripcionFase">
        {{dataset.work.list.descripcionFase}}
      </p>
      <!--#region "codigoFase" -->

      <ng-container *ngIf="([1,2,4].indexOf(worksheetParams.codigoTipoElemento) >= 0 && !!dataset.work.list.codigoFase)">
        <ol class="c21-status" *ngIf="worksheetParams.codigoTipoElemento === 1 && dataset.work.list.codigoFase<=8">
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===1">
            <img src="assets/worksheet/codigoFase/anuncio.png" alt="{{'worksheet.workStatus.announcement'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.announcement'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===2">
            <img src="assets/worksheet/codigoFase/redaccion.png" alt="{{'worksheet.workStatus.writing'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.writing'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="[3,4].indexOf(dataset.work.list.codigoFase) !== -1">
            <img src="assets/worksheet/codigoFase/licitacion.png" alt="{{'worksheet.workStatus.bidding'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.bidding'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===5">
            <img src="assets/worksheet/codigoFase/acondicionamiento.png" alt="{{'worksheet.workStatus.conditioning'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.conditioning'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===6">
            <img src="assets/worksheet/codigoFase/estructura.png" alt="{{'worksheet.workStatus.structure'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.structure'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===7">
            <img src="assets/worksheet/codigoFase/cerramientos.png" alt="{{'worksheet.workStatus.enclosures'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.enclosures'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===8">
            <img src="assets/worksheet/codigoFase/finalizacion.png" alt="{{'worksheet.workStatus.ending'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.ending'|translateLang:prefijoLocale:getTrans}}
          </li>
        </ol>
        <ol class="c21-status" *ngIf="worksheetParams.codigoTipoElemento === 1 && (dataset.work.list.codigoFase===27 ||   dataset.work.list.codigoFase===28)">
          <li class="c21-status__item">
            <img src="assets/worksheet/codigoFase/anuncio.png" alt="{{'worksheet.workStatus.announcement'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.announcement'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item">
            <img src="assets/worksheet/codigoFase/redaccion.png" alt="{{'worksheet.workStatus.writing'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.writing'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item">
            <img src="assets/worksheet/codigoFase/licitacion.png" alt="{{'worksheet.workStatus.bidding'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.bidding'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" *ngIf="dataset.work.list.codigoFase===27" [class.c21-status__item--active]="dataset.work.list.codigoFase===27">
            <img src="assets/worksheet/codigoFase/ejecucion.png" alt="{{'worksheet.workStatus.development'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.development'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" *ngIf="dataset.work.list.codigoFase===28" [class.c21-status__item--active]="dataset.work.list.codigoFase===28">
            <img src="assets/worksheet/codigoFase/parada.png" alt="{{'worksheet.workStatus.stopped'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.stopped'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item">
            <img src="assets/worksheet/codigoFase/finalizacion.png" alt="{{'worksheet.workStatus.ending'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.ending'|translateLang:prefijoLocale:getTrans}}
          </li>
        </ol>
        <ol class="c21-status" *ngIf="worksheetParams.codigoTipoElemento === 2 && dataset.work.list.codigoFase>=1 &&   dataset.work.list.codigoFase<=10">
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===5">
            <img src="assets/worksheet/codigoFase/plazo_abierto.png" alt="{{'worksheet.workStatus.open'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.open'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===6">
            <img src="assets/worksheet/codigoFase/plazo_cerrado.png" alt="{{'worksheet.workStatus.closed'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.closed'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===2">
            <img src="assets/worksheet/codigoFase/sin_adjudicar.png" alt="{{'worksheet.workStatus.uncontracted'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.uncontracted'|translateLang:prefijoLocale:getTrans}}
          </li>
          <li class="c21-status__item" [class.c21-status__item--active]="dataset.work.list.codigoFase===1">
            <img src="assets/worksheet/codigoFase/adjudicada.png" alt="{{'worksheet.workStatus.contracted'|translateLang:prefijoLocale:getTrans}}">            {{'worksheet.workStatus.contracted'|translateLang:prefijoLocale:getTrans}}
          </li>

        </ol>
      </ng-container>

      <!--#endregion "codigoFase" -->

    </section>
    <!--#endregion "estado-obra" -->
    <!--#region "proveedores" -->
    <section class="ui-g-12 ui-g-nopad c21-section" *ngIf="dataset.work.list.proveedores.length >0">
      <!-- Titulo Pricipal -->
      <h2 class="c21-section__title">{{'worksheet.providers.title'|translateLang:prefijoLocale:getTrans}}</h2>
      <ng-container *ngFor="let proveedor of dataset.work.list.proveedores; let i = index;">

        <h3 class="c21-section__subtitle" *ngIf="!!proveedor.stringTiposProveedor && (i === 0 || proveedor.stringTiposProveedor !== dataset.work.list.proveedores[i-1].stringTiposProveedor )">{{proveedor.stringTiposProveedor}}</h3>
        <div class="c21-block c21-block--flex">
          <div class="c21-block__content">
            <div class="c21-panel__toolbar c21-block__options c21-float-right c21-block__options--max">

              <a *ngIf="proveedor.sePuedeConsultarHistorial" (click)="openWorksHistory(proveedor)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/hist.png"> {{'worksheet.providers.linkWorksHistory'|translateLang:prefijoLocale:getTrans}}
              </a>
              <a *ngIf="proveedor.sePuedeAgendarCita" (click)="openScheduleAppointment(proveedor)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/reserv.png">
                <div class="" *ngIf="!!proveedor.agenda">
                  <p *ngFor="let txt of proveedor.agenda.tooltip.split('<br/>')">{{txt}}</p>
                </div>
                <ng-container *ngIf="!proveedor.agenda">
                  {{'worksheet.providers.linkScheduleAppointment' | translateLang:prefijoLocale:getTrans}}
                </ng-container>

              </a>
              <a *ngIf="proveedor.sePuedeAgendarCita && proveedor.agenda" (click)="deleteAppointment(proveedor.agenda.codigo)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/trash.png" pTooltip="{{'worksheet.providers.linkDeleteScheduleAppointment'|translateLang:prefijoLocale:getTrans}}"
                  tooltipPosition="top">
                <!-- {{'worksheet.providers.linkDeleteScheduleAppointment'|translateLang:prefijoLocale:getTrans}} -->
              </a>
            </div>
            <p class="c21-block__title" *ngIf="!!proveedor.nombre">
              <strong>{{proveedor.nombre}}</strong> {{!!proveedor.cif?'('+proveedor.cif+')':''}}
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.stringDivisionEstatalMatriz">
              {{'worksheet.providers.divisionEstatal'|translateLang:prefijoLocale:getTrans}}: {{proveedor.stringDivisionEstatalMatriz}}
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.tipoProveedorEstado?.nombre">
              {{'worksheet.providers.status'|translateLang:prefijoLocale:getTrans}}: {{proveedor.tipoProveedorEstado?.nombre}}
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.stringDireccionCompleta">{{proveedor.stringDireccionCompleta}}</p>
            <p class="c21-block__text" *ngIf="!!proveedor.stringTelefonos">{{'worksheet.providers.phone'|translateLang:prefijoLocale:getTrans}}:
              {{proveedor.stringTelefonos}}
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.stringFax">{{'worksheet.providers.fax'|translateLang:prefijoLocale:getTrans}}:
              {{proveedor.stringFax}}
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.email">
              <a href="mailto:{{proveedor.email}}">{{proveedor.email}}</a>
            </p>
            <p class="c21-block__text" *ngIf="!!proveedor.web">
              <a href="{{proveedor.web}}" target="_blank">{{proveedor.web}}</a>
            </p>
            <p class="c21-block__text" *ngFor="let pers of proveedor.personasContacto;let isFirst = first" [class.c21-margin-top--2x]="isFirst">
              <strong>{{pers.tipoProveedorPersonaContacto.nombre}}:</strong> {{pers.nombre}} {{!!pers.stringTelefonos? ('worksheet.providers.phone'|translateLang:prefijoLocale:getTrans)
              + ': ' + pers.stringTelefonos : '' }}
              <a href="mailto:{{pers.email}}" *ngIf="!!pers.email">{{pers.email}}</a>

            </p>
            <div class="c21-panel__toolbar c21-block__options c21-float-right c21-block__options--min">

              <a *ngIf="proveedor.sePuedeConsultarHistorial" (click)="openWorksHistory(proveedor)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/hist.png"> {{'worksheet.providers.linkWorksHistory'|translateLang:prefijoLocale:getTrans}}
              </a>
              <a *ngIf="proveedor.sePuedeAgendarCita" (click)="openScheduleAppointment(proveedor)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/reserv.png">
                <div class="" *ngIf="!!proveedor.agenda">
                  <p *ngFor="let txt of proveedor.agenda.tooltip.split('<br/>')">{{txt}}</p>
                </div>
                <ng-container *ngIf="!proveedor.agenda">
                  {{'worksheet.providers.linkScheduleAppointment' | translateLang:prefijoLocale:getTrans}}
                </ng-container>

              </a>
              <a *ngIf="proveedor.sePuedeAgendarCita && proveedor.agenda" (click)="deleteAppointment(proveedor.agenda.codigo)" class="c21-icon-button--inline c21-button--link">
                <img class="c21-button--inline__img" src="assets/worksheet/trash.png" pTooltip="{{'worksheet.providers.linkDeleteScheduleAppointment'|translateLang:prefijoLocale:getTrans}}"
                  tooltipPosition="top">
                <!-- {{'worksheet.providers.linkDeleteScheduleAppointment'|translateLang:prefijoLocale:getTrans}} -->
              </a>
            </div>
          </div>


        </div>
      </ng-container>
    </section>
    <!--#region "observaciones" -->
    <section class="ui-g-12 ui-g-nopad c21-section" *ngIf="!!dataset.work.list.observaciones">
      <h2 class="c21-section__title">
        {{'worksheet.observation.title'|translateLang:prefijoLocale:getTrans}}
      </h2>
      <p class="c21-basic-text">
        {{dataset.work.list.observaciones}}
      </p>

    </section>
    <!--#endregion "observaciones" -->

    <!--#region "complementaria" -->
    <section class="ui-g-12 ui-g-nopad c21-section" *ngIf="dataset.work.list.agrupacionUrls.length > 0">
      <h2 class="c21-section__title">
        {{'worksheet.additionalInformation.title'|translateLang:prefijoLocale:getTrans}}
      </h2>
      <ng-container *ngFor="let grupo of dataset.work.list.agrupacionUrls">
        <h3 class="c21-section__subtitle2">
          {{grupo.nombre}}
        </h3>
        <ul class="c21-basiclist">
          <li *ngFor="let link of grupo.urls" class="c21-basic-text c21-basic-text--naºrrow">
            <a href="{{link.url}}" target="_blank" *ngIf="!link.urlEsImagen">{{link.url}}</a>
            <a href="{{link.url}}" target="_blank" [escape]="false" *ngIf="link.urlEsImagen" pTooltip="<img src='{{link.url}}'>" tooltipPosition="top">{{link.url}}</a>
            <span *ngIf="!!link.fechaActualizacion" class="c21-text--dimmed">({{link.fechaActualizacion| amDateFormat: lo.momentFormatDate}})</span>
          </li>
        </ul>
      </ng-container>
    </section>
    <!--#region "mis-anotaciones" -->
    <section class="ui-g-12 ui-g-nopad c21-section" *ngIf="!((dataset.work.list.comentarios.length === 0) && !dataset.work.list.sePuedeRealizarAnotaciones)"
      [class.c21-print-none]="dataset.work.list.comentarios.length === 0">
      <!-- <span #myAnnotations></span> -->
      <h2 #myAnnotations class="c21-section__title">
        {{'worksheet.myAnnotations.title'|translateLang:prefijoLocale:getTrans}}
      </h2>
      <div class="c21-block ">

        <!--#region "LISTADO DE COMENTARIOS" -->
        <ng-container *ngIf="!!dataset.work.list.comentarios">

          <div *ngFor="let c of dataset.work.list.comentarios; let i=index" class="c21-comment">
            <label class="c21-comment__label" [attr.for]="i">
              <strong class="">{{'worksheet.myAnnotations.annotationDate'|translateLang:prefijoLocale:getTrans}}:</strong>
              {{c.fecha| amDateFormat: lo.momentFormatDate}}
            </label>
            <textarea class="c21-textarea c21-print-none" [attr.id]="i" pInputTextarea [(ngModel)]="c.comentario"></textarea>
            <p class="c21-none c21-print-visible">{{c.comentario}}</p>
            <div class="c21-form-actions c21-print-none">
              <a class="c21-icon-button--inline c21-button--link" (click)="removeComment(c)">
                <img class="c21-button--inline__img" src="assets/worksheet/delete.png"> {{'worksheet.myAnnotations.remove'|translateLang:prefijoLocale:getTrans}}
              </a>

              <a class="c21-icon-button--inline c21-button--link" (click)="editComment(c)">
                <img class="c21-button--inline__img" src="assets/worksheet/edit.png"> {{'worksheet.myAnnotations.save'|translateLang:prefijoLocale:getTrans}}
              </a>
            </div>
          </div>
        </ng-container>
        <!--#endregion "LISTADO DE COMENTARIOS" -->
        <!--#region "NUEVO COMENTARIO" -->
        <div *ngIf="dataset.work.list.sePuedeRealizarAnotaciones" class="c21-comment c21-print-none">
          <label class="c21-comment__label c21-section__subtitle2" for="new-comment">
            {{'worksheet.myAnnotations.new'|translateLang:prefijoLocale:getTrans}}
          </label>
          <textarea pInputTextarea [(ngModel)]="dataset.work.myAnnotations" class="c21-textarea c21-textarea--main" #myAnnotationsInput
            id="new-comment"></textarea>
          <div class="c21-form-actions c21-print-none">
            <a class="c21-icon-button--inline c21-button--link" (click)="saveComment()">
              <img class="c21-button--inline__img" src="assets/worksheet/edit.png"> {{'worksheet.myAnnotations.save'|translateLang:prefijoLocale:getTrans}}
            </a>
          </div>
        </div>
        <!--#endregion "NUEVO COMENTARIO" -->
      </div>
    </section>



    <!--#region "galeria-img" -->
    <section *ngIf="images.length > 0" class="ui-g-12 ui-g-nopad c21-section">
      <div class="c21-block c21-block--alt">
        <p-galleria [images]="images" panelWidth="300" panelHeight="250" [showCaption]="false" [autoPlay]="false" class="c21-gallery"
          [activeIndex]="imgSelected"></p-galleria>
      </div>

    </section>

    <!--#endregion "galeria-img" -->


  </div>
</p-panel>


<!--#region "btn_notifyError" -->
<p-dialog header="{{'worksheet.menu.notifyError'|translateLang:prefijoLocale:getTrans}}" [(visible)]="dataset.notifyError.display"
  modal="true" [responsive]="true" [blockScroll]="true" [width]="500">
  <form #notifyErrorForm="ngForm" (ngSubmit)="submitNotifyError()">
    <div class=" ui-g ui-fluid">
      <div class="ui-g-12">
        <textarea required name="message" placeholder="{{'worksheet.modal.notifyError.messagePlaceholder'|translateLang:prefijoLocale:getTrans}}"
          rows="8" cols="80" pInputTextarea [(ngModel)]="dataset.notifyError.message"></textarea>
      </div>
      <p class="ui-g-12">
        {{'worksheet.modal.notifyError.emailUser1'|translateLang:prefijoLocale:getTrans}}
      </p>
      <p class="ui-g-12">
        <strong>{{emailUser}}</strong>
      </p>

      <div class="ui-g-12 ui-fluid">
        <input name="email" placeholder="{{'worksheet.modal.notifyError.emailPlaceholder'|translate}}" type="email" size="30" pInputText
          [(ngModel)]="dataset.notifyError.email">
      </div>
    </div>

    <p-footer>
      <div class="c21-float-right">
        <button pButton type="submit" class="c21-button--danger c21-button__med c21-button--next" label="{{'worksheet.modal.notifyError.buttonSubmit'|translateLang:prefijoLocale:getTrans}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
<!--#endregion "btn_notifyError" -->

<!--#region "btn_folders-Dialog" -->
<c21-works-to-folder *ngIf="worksTofolderModal.display" [worksData]="worksTofolderModal" (displayNone)="displayWorksToFolder($event)"></c21-works-to-folder>
<!--#endregion "btn_folders-Dialog" -->


<p-dialog appendTo="body" header="{{'schedule.editor.title'|translateLang:prefijoLocale:getTrans}}" [(visible)]="showEdit.visible"
  modal="true" height="480" [draggable]="false" [responsive]="true" [blockScroll]="true">
  <c21-schedule-editor #c21ScheduleEditor [(modal)]="showEdit" (onSave)="onSaveSchedule()"></c21-schedule-editor>

</p-dialog>


<p-dialog appendTo="body" header="{{'worksheet.menu.saveModal.title'|translate}}" [(visible)]="showSaveModal" modal="true"
  [width]="350" [draggable]="false" [responsive]="false" styleClass="ui-fluid" [blockScroll]="true" *ngIf="!!dataset.work.list">
  <div class="ui-g-6 c21-center" *ngIf="dataset.work.list.sePuedeExportarPDF">
    <button pButton class="c21-button--third c21-button__med c21-button--save" label="{{'worksheet.menu.saveModal.savePdf'|translate}}"
      (click)="generatePdf()"></button>
  </div>
  <div class="ui-g-6 c21-center" *ngIf="dataset.work.list.sePuedeExportarRTF">

    <button pButton class="c21-button--third c21-button__med c21-button--save" label="{{'worksheet.menu.saveModal.saveRtf'|translate}}"
      (click)="generateRtf()"></button>
  </div>
</p-dialog>



<p-dialog [header]="miniSearchDialog.title" [(visible)]="miniSearchDialog.display" height="auto" [draggable]="false" appendTo="body"
  [modal]="true" styleClass="c21-dialog--max" [blockScroll]="true">
  <div class="ui-g-12 ui-md-2">
    <span class="">
      {{miniSearchView.paginator.numeroResultados}} {{'shared.text.resultCount'|translateLang:prefijoLocale:getTrans}}
    </span>
  </div>
  <div class="ui-g-12 ui-md-8">
    <span class="c21-paginator_margin c21-center">
      <c21-mini-paginator [paginatorFiller]="miniSearchView.paginator" (requestPage)="refreshMiniSearchViewer($event)"></c21-mini-paginator>
    </span>
  </div>
  <div class="ui-g-12">
    <c21-mini-search-viewer [tableFiller]="miniSearchView.table" [gestion]="true"></c21-mini-search-viewer>
  </div>
</p-dialog>



<!--#region  "ConfirmDialog" -->
<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel=" {{'confirmDialog.deleteLabel' | translateLang:prefijoLocale:getTrans}}"
  icon="fa-trash-o" rejectLabel=" {{'confirmDialog.noLabel' | translateLang:prefijoLocale:getTrans}}">
</p-confirmDialog>
<!--#endregion  "ConfirmDialog" -->