<p-panel class="ui-md-12 ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title  ui-g ui-fluid">
        <div class="ui-g-12">
          <span class="c21-panel__title-icon">
            <img src="assets/header/user.png" alt="Folders">
          </span>
          {{'user.main.title' | translate}}
        </div>



      </div>
    </div>
  </p-header>



  <div class="c21-nav-menu ui-g-12 ui-lg-2">
    <button pButton [routerLinkActive]="'c21-nav-button--active'" [routerLink]="['user-data']" data-toggle="tooltip" type="button"
      class="c21-nav-button c21-button--dark " icon="fa-chevron-right" iconPos="right" label="{{'user.menu.datos' | translate}}"></button>
    <button pButton *ngIf="mapPermisos.puedeVerProductos" [routerLinkActive]="'c21-nav-button--active'" [routerLink]="['user-products']"
      type="button" class="c21-nav-button c21-button--dark " icon="fa-chevron-right" iconPos="right" label="{{'user.menu.productos' | translate}}"></button>
    <button pButton *ngIf="mapPermisos.puedeVerConsumo" [routerLinkActive]="'c21-nav-button--active'" [routerLink]="['user-usage']"
      type="button" class="c21-nav-button c21-button--dark " icon="fa-chevron-right" iconPos="right" label="{{'user.menu.consumo' | translate}}"></button>
    <button pButton *ngIf="mapPermisos.puedeVerCuentaFacturas" [routerLinkActive]="'c21-nav-button--active'" [routerLink]="['user-invoices']"
      type="button" class="c21-nav-button c21-button--dark " icon="fa-chevron-right" iconPos="right" label="{{'user.menu.facturas' | translate}}"></button>
    <button pButton *ngIf="mapPermisos.puedeGestionarUsuarios" [routerLinkActive]="'c21-nav-button--active'" [routerLink]="['user-users']"
      type="button" class="c21-nav-button c21-button--dark " icon="fa-chevron-right" iconPos="right" label="{{'user.menu.usuarios' | translate}}"></button>

    <!-- ./panel-navbar -->
  </div>
  <!-- ./panel-middle-box -->

  <div class="ui-g-12 ui-lg-10">
    <router-outlet></router-outlet>
  </div>
  <!-- ./panel-content -->

  <!-- <div class="panel-footer ui-g-12">
          <div class="row justify-content-center align-items-center">
            <button class="close" aria-label="Close" type="button" class="btn">
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </button>
          </div>
        </div> -->

  <!-- ./panel-footer -->


</p-panel>

<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel="
            {{ 'confirmDialog.yesLabel' | translate}} " rejectLabel=" {{ 'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>