<p-dialog #pd header="{{'folders.addWorksToFolder'|translate}}" [(visible)]="worksData.display" modal="modal" width="400"
  [responsive]="true" [closable]="true" [blockScroll]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-8" *ngIf="!!folderList">
      <p-dropdown appendTo="body" placeholder="{{'folders.selectFolder'|translate}}" [options]="folderList" [(ngModel)]="folderSelected"
        [autoWidth]="false" optionLabel="nombre">
        <ng-template let-fold pTemplate="selectedItem">
          <span class="{{!fold.value.codigoCarpetaPadre ? 'c21-bold' : ''}}">
            {{fold.label}}
          </span>
        </ng-template>
        <ng-template let-fold pTemplate="item">
          <span class="{{!fold.value.codigoCarpetaPadre ? 'c21-bold' : ''}}">
            {{fold.label}}
          </span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-4 c21-center" *ngIf="!!folderList">
      <button class="c21-button--third c21-button__med c21-button--next" [disabled]="!folderSelected" type="button" pButton (click)="addWorksToFolder()"
        pTooltip="{{'folders.addWorksToFolder'|translate}}" label="{{'folders.addWorksToFolder'|translate}}"></button>
    </div>
  </div>
</p-dialog>