@import 'variables';
.c21-panel__block-alert {
	min-height: 6em;
	/*max-height: 6em;*/
}

.c21-panel__min-height {
	min-height: 4em;
}

.c21-panel__body.c21-alertas-enviadas {
	min-height: 120px;
	padding: .5em 2em;
}

.c21-panel__body.c21-mis-archivos {
	min-height: 120px;
	padding: 0;
}

::ng-deep .c21-panel > .c21-panel--alert.ui-panel > .ui-panel-content-wrapper > .ui-panel-content {
	padding: 0;
}

::ng-deep c21-alerts c21-search-component > .c21-panel > .ui-panel > .ui-panel-titlebar {
	display: none;
}

::ng-deep c21-alerts c21-search-component > .c21-panel > .ui-panel {
	margin: 0;

	box-shadow: none;
}

.c21-header--line {
	width: calc(100% - 1em);
	height: 4px;
	margin-top: .5em;
	margin-bottom: 2px;
	margin-left: .5em;
	padding-bottom: 0;

//$c21-color-panel-header

	border-bottom: 1px solid $color-hr-background;
}

.c21-height-2em {
	height: 2em;
}

.c21-line-fix {
	line-height: 16px;

	padding-left: 10px;
}

::ng-deep c21-alerts .c21-dialog--max.c21-position-abs {
	z-index: 5;
	top: 89px !important;
	left: 2vw !important;

	width: 90vw;
}

::ng-deep c21-alerts .c21-dialog--max.c21-position-abs.ui-dialog.ui-widget .ui-dialog-content {
	height: 100% !important;
	padding: 0;
}

// ::ng-deep c21-alerts .c21-filter-panel .ui-g-nopad.ui-g-12.ng-star-inserted {
// 	display: none;
// }
.c21-paginator_margin {
	margin-top: .5em;
	margin-bottom: 1em;
}
