<!--#region "ALERTAS GUARDADAS" -->
<p-panel class="ui-g-12 ui-g-nopad c21-panel c21-panel--options" styleClass="c21-panel--alert">

  <!--#region "header" -->
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/title/disk.png" alt="Alerts">
          </span>
          {{'alerts.saved.header.title' | translate}}
        </div>
        <div class="ui-g-2 ui-sm-12">
          <p-dropdown *ngIf="!!objData.alerts.select.list" [options]="objData.alerts.select.list" optionLabel="nombre" [(ngModel)]="objData.alerts.select.selected"
            (onChange)="onChangeAlerts($event)" class="c21-alerts_header-dropdown" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-2 ui-sm-12">
          <div class="ui-inputgroup">
            <input type="text" class="c21-icon-margin" pInputText placeholder="{{ 'alerts.saved.header.search' | translate}}" (oninput)="onChangeAlerts()"
              [ngModel]="objData.alerts.term" (ngModelChange)="onChangeAlertsText($event)">
            <span class="ui-inputgroup-addon c21-right-addon">
              <i class="fa fa-search"></i>
            </span>
          </div>

        </div>
      </div>
    </div>
  </p-header>
  <!--#endregion "header" -->

  <div class="c21-panel__toolbar ui-g-12 ui-fluid ui-g-nopad">
    <div class="ui-g-2 ui-sm-6 ui-g c21-center--vertical">
      <span class="c21-paginator_results">
        {{paginator?.numeroResultados}} {{ 'shared.text.resultCount' | translate }}
      </span>
    </div>
    <div class="ui-sm-6 hidden-sm-up ui-g c21-flex-end">
      <button pButton type="button" class="c21-button__med c21-button--add c21-button--third" label="{{'alerts.saved.paginator.createAlert' | translate}}"
        (click)="createAlert()"></button>
    </div>
    <div class="ui-g-8  ui-sm-12" *ngIf="!!paginator">
      <div class="c21-paginator">
        <button class="c21-button__med c21-button__med--ico c21-button--first c21-button--secondary" [disabled]="(paginator.pagina===1)"
          [class.ui-state-disabled]="(paginator.pagina===1)" (click)="paginatorClick(1)" tabindex="-1">

        </button>
        <button class="c21-button__med c21-button__med--ico c21-button--prev c21-button--secondary" [disabled]="(paginator.pagina===1)"
          [class.ui-state-disabled]="(paginator.pagina===1)" (click)="paginatorClick(this.paginator.pagina-1)" tabindex="-1">
        </button>
        <span class="c21-paginator_pages">
          {{paginator?.pagina}} - {{paginator?.numeroPaginas }}
        </span>
        <button class="c21-button__med c21-button__med--ico c21-button--next c21-button--secondary" [disabled]="(paginator.pagina === paginator.numeroPaginas)"
          [class.ui-state-disabled]="(paginator.pagina === paginator.numeroPaginas)" (click)="paginatorClick(this.paginator.pagina+1)"
          tabindex="0">
        </button>
        <button class="c21-button__med c21-button__med--ico c21-button--last c21-button--secondary" [disabled]="(paginator.pagina === paginator.numeroPaginas)"
          [class.ui-state-disabled]="(paginator.pagina === paginator.numeroPaginas)" (click)="paginatorClick(this.paginator.numeroPaginas)"
          tabindex="0">
        </button>
      </div>
    </div>
    <div class="ui-g-2 hidden-xs-down ui-g c21-flex-end">
      <button pButton type="button" class="c21-button__med c21-button--add c21-button--third" label="{{'alerts.saved.paginator.createAlert' | translate}}"
        (click)="createAlert()"></button>
    </div>
    <div class="ui-g-12  c21-header--line"></div>
  </div>

  <div class="ui-g-12 ui-g ui-fluid">
    <div *ngFor="let alert of objData.alerts.list;" class="ui-g-6  ui-md-12 ui-lg-6 ui-sm-12">
      <div class="ui-g-12   c21-panel__block-alert">
        <div class="ui-g-4 ui-sm-12">
          <div class="ui-g-12 c21-text-black c21-ellipsis" [escape]="false" pTooltip="{{alert.descripcionPerfil}}" tooltipPosition="top">

            {{alert.nombrePerfil}}
          </div>
          <div class="ui-g-12 ui-g">
            <img src="assets/alert/main/saved_mail.png">
            <span class="c21-line-fix">{{ 'alerts.saved.notification.'+ alert.notificacion | translate}} </span>
          </div>
        </div>
        <div class="ui-g-4 ui-sm-12">
          <div class="ui-g-12 c21-ellipsis c21-height-2em" pTooltip="{{alert.emails? alert.emails.join(' ') :''}}" tooltipPosition="top">
            {{alert.emails}}
          </div>
          <div class="ui-g-12 ui-g">
            <img src="assets/alert/main/saved_frec.png">
            <span class="	c21-line-fix ">{{alert.frecuenciaNombre }}</span>
          </div>
        </div>
        <div class="ui-g-4 ui-sm-12 c21-ta-right">
          <button pButton pTooltip="{{'alerts.saved.edit' | translate}}" class="c21-margin-right c21-margin-left c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
            tooltipPosition="top" type="button" (click)="editAlert(alert)"></button>
          <button pButton pTooltip="{{'alerts.saved.deleteButton' | translate}}" class="c21-margin-right c21-margin-left c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
            tooltipPosition="top" type="button" (click)="deleteAlert(alert)"></button>
          <button pButton pTooltip="{{'alerts.saved.search' | translate}}" class="c21-margin-left c21-button--third c21-button__med c21-button__med--ico c21-button--search c21-margin-right"
            tooltipPosition="top" type="button" (click)="showAlert(alert)"></button>
        </div>
        <div class="ui-g-12 c21-hline c21-margin-top"></div>
      </div>

    </div>
    <div *ngIf="!!objData.alerts.list && objData.alerts.list.length === 0" class="ui-g-12">
      <span>{{'comun.dataNotAvailable'|translate}}</span>
    </div>
  </div>
</p-panel>
<!--#endregion "ALERTAS GUARDADAS" -->


<!--#region "ALERTAS ENVIADAS" -->
<p-panel class="ui-g-12 ui-md-12 ui-lg-6 ui-g-nopad c21-panel c21-panel--options " styleClass="c21-panel--alert">
  <!--#region "header" -->
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/alert/main/mail.png" alt="Alert Sent">
          </span>
          {{'alerts.send.header.title' | translate}}
        </div>
        <div class="ui-g-4 ui-sm-12">
          <p-dropdown *ngIf="!!objData.selectLastAlertsSent.list" [options]="objData.selectLastAlertsSent.list" optionLabel="nombre"
            [(ngModel)]="objData.selectLastAlertsSent.selected" appendTo="body" (onChange)="onChangeselectLastAlertsSent($event)"
            class="c21-alerts_header-dropdown" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <!--#endregion "header" -->
  <!--#region "body" -->
  <div class="c21-panel__toolbar ui-g-12 ui-fluid ui-g-nopad">
    <div class="ui-g-4 ui-sm-6 ui-g c21-center--vertical">
      <span class="c21-paginator_results ">
        {{paginatorSent?.numeroResultados}} {{ 'shared.text.resultCount' | translate }}
      </span>
    </div>
    <div class="ui-sm-6 ui-g c21-flex-end hidden-sm-up">
      <button pButton type="button" class="c21-button__med c21-button__med--ico c21-button--download c21-button--third" pTooltip="{{'alerts.send.download' | translate}}"
        (click)="downloadAlertSent()"></button>
    </div>
    <div class="ui-g-5  ui-sm-12" *ngIf="!!paginatorSent">
      <div class="c21-paginator">
        <button class="c21-button__med c21-button__med--ico c21-button--first c21-button--secondary" [disabled]="(paginatorSent.pagina===1)"
          [class.ui-state-disabled]="(paginatorSent.pagina===1)" (click)="paginatorSentClick(1)" tabindex="-1">

        </button>
        <button class="c21-button__med c21-button__med--ico c21-button--prev c21-button--secondary" [disabled]="(paginatorSent.pagina===1)"
          [class.ui-state-disabled]="(paginatorSent.pagina===1)" (click)="paginatorSentClick(this.paginatorSent.pagina-1)"
          tabindex="-1">
        </button>
        <span class="c21-paginator_pages">
          {{paginatorSent?.pagina}} - {{paginatorSent?.numeroPaginas }}
        </span>
        <button class="c21-button__med c21-button__med--ico c21-button--next c21-button--secondary" [disabled]="(paginatorSent.pagina === paginatorSent.numeroPaginas)"
          [class.ui-state-disabled]="(paginatorSent.pagina === paginatorSent.numeroPaginas)" (click)="paginatorSentClick(this.paginatorSent.pagina+1)"
          tabindex="0">
        </button>
        <button class="c21-button__med c21-button__med--ico c21-button--last c21-button--secondary" [disabled]="(paginatorSent.pagina === paginatorSent.numeroPaginas)"
          [class.ui-state-disabled]="(paginatorSent.pagina === paginatorSent.numeroPaginas)" (click)="paginatorSentClick(this.paginatorSent.numeroPaginas)"
          tabindex="0">
        </button>
      </div>
    </div>
    <div class="ui-g-3 ui-sm-2 ui-g c21-flex-end hidden-xs-down">
      <button pButton type="button" class="c21-button__med c21-button__med--ico c21-button--download c21-button--third" pTooltip="{{'alerts.send.download' | translate}}"
        (click)="downloadAlertSent()"></button>
    </div>
    <div class="ui-g-12  c21-header--line"></div>
  </div>

  <div class="c21-panel__body c21-alertas-enviadas">
    <div *ngFor="let alert of objData.lastAlertsSent.list; last as ultimo">
      <div class="ui-g-12 ui-g-nopad  ui-g c21-align-center c21-panel__min-height">
        <div class="ui-g-2 ui-sm-5 c21-ellipsis c21-highlight">{{alert.fechaLong | amDateFormat: lo.momentFormatDate }}</div>
        <div class="ui-g-4 ui-sm-7 c21-ellipsis">{{alert.perfil.nombrePerfil}}</div>
        <div class="ui-g-4 ui-sm-7 c21-ellipsis" pTooltip="{{alert.perfil.emails? alert.perfil.emails.join(' '):'' }}" tooltipPosition="top">{{alert.perfil.emails}}</div>
        <div class="ui-g-2  ui-sm-5  c21-ta-right">
          <button pButton pTooltip="{{'alerts.send.tooltip.resendAlert' | translate}}" class="c21-button__med c21-button__med--ico c21-button--resend c21-button--third c21-margin-right"
            type="button" (click)="resendAlert(alert )"></button>
          <button pButton pTooltip="{{'alerts.send.tooltip.alertListSent' | translate:{ num: alert.numeroObras} }}" class=" c21-button__med c21-button__med--ico c21-button--next c21-button--secondary c21-margin-left "
            type="button" (click)="getAlertListSent(alert)"></button>
        </div>
      </div>
      <div *ngIf="!ultimo" class="ui-g-12 c21-hline"></div>
    </div>
    <div *ngIf="!objData.lastAlertsSent.list ||  (!!objData.lastAlertsSent.list && objData.lastAlertsSent.list.length===0)" class="ui-g-12">
      <span>{{'comun.dataNotAvailable'|translate}}</span>
    </div>
  </div>
  <!--#endregion "body" -->
</p-panel>
<!--#endregion "ALERTAS ENVIADAS" -->


<!--#region "MIS ARCHIVOS" -->
<p-panel class="ui-g-12 ui-md-12 ui-lg-6 ui-g-nopad c21-panel" *ngIf="user.permisos?.mapPermisos.puedeVerArchivos">
  <!--#region "header" -->
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-8 ui-sm-12">
          <span class="c21-panel__title-icon">
            <img src="assets/alert/main/page.png" alt="Search">
          </span>
          {{'alerts.myFiles.header.title' | translate}}
        </div>
        <div class="ui-g-4 ui-sm-12">
          <p-dropdown *ngIf="!!objData.selectListFiles.list" [options]="objData.selectListFiles.list" optionLabel="nombre" [(ngModel)]="objData.selectListFiles.selected"
            appendTo="body" (onChange)="onChangeListFiles($event)" class="c21-alerts_header-dropdown" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <!--#endregion "header" -->

  <!--#region "body" -->
  <div class="c21-panel__body c21-mis-archivos">
    <div *ngFor="let file of objData.listFiles.list; last as ultimo">
      <div class="ui-g-12 ui-g-nopad c21-panel__min-height c21-baseline-center ui-g">
        <div class="ui-g-2 ui-sm-12 c21-ellipsis c21-highlight">{{file.fechaCreacion | amDateFormat: lo.momentFormatDate}}</div>
        <div class="ui-g-8  ui-sm-12 c21-ellipsis">{{file.nombre}}</div>
        <div class="ui-g-2  ui-sm-12 c21-ta-right">
          <!--#region "Descarga-Excel" -->
          <button pButton *ngIf="!file.descargaEmailPendiente" pTooltip="{{ 'alerts.myFiles.tooltip.downloadExcelFile'
            | translate}} " tooltipPosition="left" class="c21-button__med c21-button__med--ico c21-button--download c21-button--third c21-margin-right"
            type="button
          " (click)="downloadExcelFile(file) "></button>
          <button pButton *ngIf="!!file.descargaEmailPendiente" pTooltip="{{
            'alerts.myFiles.tooltip.downloadExcelFileAlreadySaved' | translate}} " tooltipPosition="left" class="c21-button__med c21-button__med--ico c21-button--download c21-button--warning c21-margin-right"
            type="button
          " (click)="downloadExcelFile($event, file) "></button>
          <!--#endregion "Descarga-Excel"  -->
          <button pButton pTooltip="{{ 'alerts.myFiles.tooltip.associatedToExcelFile' | translate}}" tooltipPosition="left" class="c21-button__med c21-button__med--ico c21-button--next c21-button--secondary c21-margin-left"
            type="button" (click)="showAlert(file.perfil)"></button>
        </div>
      </div>
      <div *ngIf="!ultimo" class="ui-g-12 c21-hline"></div>
    </div>
    <div *ngIf="!!objData.listFiles.list && objData.listFiles.list.length===0" class="ui-g-12">
      <span>{{'comun.dataNotAvailable'|translate}}</span>
    </div>
  </div>
  <!--#endregion "body" -->
</p-panel>
<!--#endregion "MIS ARCHIVOS" -->


<!--#region "MODAL-MiniSearchView" -->
<p-dialog [header]="miniSearchDialog.title" [(visible)]="miniSearchDialog.display" height="auto" [draggable]="false
          " [responsive]="true " appendTo="body" modal="true" styleClass="c21-dialog--max" [blockScroll]="true">
  <div class="ui-g-4 ui-g c21-center--vertical">
    <span class="c21-paginator_results ">
      {{miniSearchView.paginator.numeroResultados}} {{'shared.text.resultCount'|translate}}
    </span>
  </div>
  <div class="ui-g-8">
    <span class="c21-center">
      <c21-mini-paginator [paginatorFiller]="miniSearchView.paginator" (requestPage)="refreshMiniSearchViewer($event,
            miniSearchDialog.key)"></c21-mini-paginator>
    </span>
  </div>
  <div class="ui-g-12">
    <c21-mini-search-viewer [tableFiller]="miniSearchView.table"></c21-mini-search-viewer>
  </div>
</p-dialog>
<!--#endregion "MODAL-MiniSearchView" -->



<p-dialog header="{{'alerts.saved.assistant.modal.title'|translate}}" (onHide)="assistantCloses()" [(visible)]="assistantDialog.display "
  modal="true" width="auto" height="auto" [draggable]="false" [responsive]="true" styleClass="c21-dialog--max">
  <c21-alert-assistant></c21-alert-assistant>
</p-dialog>



<p-dialog header="{{ 'alerts.saved.assistant.modal.title'|translate}}" [(visible)]="c21EditAlert" [draggable]="false
          " [responsive]="false " [autoZIndex]="false" modal="true" height="-5" styleClass="c21-dialog--max c21-position-abs"
  (onHide)="createAlertCloses()">
  <c21-search-component [newAlertData]="newAlertData" isEditAlert="true" (alertSaved)="alertSaved()"></c21-search-component>
</p-dialog>

<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel="
            {{ 'confirmDialog.yesLabel' | translate}} " rejectLabel=" {{ 'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>