.c21-cards-layout {
	width: 200px;
	padding-bottom: 20px;
}

.c21-cards-layout img {
	width: 100px;
}

.c21-paymethod {
	width: 50px;
}

.c21-paymethod--layout {
	width: 100px;
	margin-left: -10px;
}
