<div class="ui-g-8 ui-sm-12 ui-md-7 ui-lg-8 ui-g-nopad" [ngSwitch]="step">
  <p-panel class="ui-md-12 ui-g-12 ui-g-nopad c21-panel" *ngSwitchCase="webShopTransitions.Shop">
    <p-header>
      <div class="c21-panel__header">
        <div class="c21-panel__title ui-g ui-fluid">
          <div class="ui-g-12">
            <span class="c21-panel__title-icon">
              <img src="assets/header/webshop.png" alt="Folders">
            </span>
            {{'webshop.main.webshop.title' | translate}}
          </div>


        </div>
      </div>
    </p-header>
    <div class="ui-g-12 ui-g c21-flex-end ">
      <button pButton type="button" class="c21-button--warning c21-button__med c21-button--help" iconPos="right" label="{{'search.alert.btnHelpNeeded'|translate}}"
        (click)="showHelp()"></button>
    </div>
    <div class="c21-nav-menu ui-g-12 ui-lg-3">

      <button *ngFor="let productType of productTypes" pButton type="button" class="c21-nav-button c21-button--dark" icon="fa-chevron-right"
        iconPos="right" (click)="onChangeView(productType)" label="{{productType.nombre |uppercase }}" [class.c21-nav-button--active]="productTypeSelected===productType"></button>
    </div>
    <div class="ui-g-12 ui-lg-9 c21-padding-bottom">
      <ng-container *ngFor="let product of productList">
        <div class="c21-hline ui-g-12 c21-margin-top--2x c21-padding-top--2x"></div>
        <div class="ui-g-12 c21-text-black c21-margin-bottom">
          <strong>{{product.nombre}}</strong>
        </div>
        <div class="ui-g-12 ui-g-nopad ui-fluid ui-g c21-center">
          <div class="ui-g-9  ui-g">
            <ng-container *ngIf="!product.productoDinamico">{{product.descripcion}}</ng-container>
            <ng-container *ngIf="product.productoDinamico">
              <ng-container *ngIf="product.listarTiposObra">
                <div class="ui-g-8 ui-sm-12 ui-g-nopad c21-padding-bottom ui-g c21-center--vertical">
                  {{'webshop.main.webshop.productWorkType' | translate}}
                </div>
                <div class="ui-g-4 ui-sm-12 ui-g-nopad c21-padding-bottom">
                  <p-dropdown appendTo="body" pTooltip="{{'webshop.main.webshop.productWorkTypeCombo' | translate}}" placeholder="{{'webshop.main.webshop.productWorkTypeCombo' | translate}}"
                    *ngIf="!!workTypeList" [options]="workTypeList" optionLabel="nombre" [(ngModel)]="product.selectedWorkType"
                    [autoWidth]="false" (onChange)="onChangeProduct(product)"></p-dropdown>
                </div>
              </ng-container>
              <ng-container *ngIf="product.listarPaises">
                <div class="ui-g-8 ui-sm-12 ui-g-nopad c21-padding-bottom ui-g c21-center--vertical">
                  {{'webshop.main.webshop.productCountry' | translate}}
                </div>
                <div class="ui-g-4 ui-sm-12 ui-g-nopad c21-padding-bottom">
                  <p-dropdown appendTo="body" pTooltip="{{'webshop.main.webshop.productCountryCombo' | translate}}" placeholder="{{'webshop.main.webshop.productCountryCombo' | translate}}"
                    *ngIf="!!countryList" [options]="countryList" optionLabel="nombre" [(ngModel)]="product.selectedCountry"
                    [autoWidth]="false" (onChange)="onChangeProduct(product)"></p-dropdown>
                </div>
              </ng-container>
              <ng-container *ngIf="product.listarRegiones">
                <div class="ui-g-8 ui-sm-12 ui-g-nopad c21-padding-bottom ui-g c21-center--vertical">
                  {{'webshop.main.webshop.productRegion' | translate}}
                </div>
                <div class="ui-g-4 ui-sm-12 ui-g-nopad c21-padding-bottom">
                  <p-dropdown appendTo="body" pTooltip="{{'webshop.main.webshop.productRegionCombo' | translate}}" placeholder="{{'webshop.main.webshop.productRegionCombo' | translate}}"
                    *ngIf="!!regionList" [options]="regionList" optionLabel="nombre" [(ngModel)]="product.selectedCountry"
                    [autoWidth]="false" (onChange)="onChangeProduct(product)"></p-dropdown>
                </div>
              </ng-container>

              <ng-container *ngIf="product.listarProvincias">
                <div class="ui-g-8 ui-sm-12 ui-g-nopad c21-padding-bottom ui-g c21-center--vertical">
                  {{'webshop.main.webshop.productProvince' | translate}}
                </div>
                <div class="ui-g-4 ui-sm-12 ui-g-nopad c21-padding-bottom">
                  <p-dropdown appendTo="body" pTooltip="{{'webshop.main.webshop.productProvinceCombo' | translate}}" placeholder="{{'webshop.main.webshop.productProvinceCombo' | translate}}"
                    *ngIf="!!provinceList" [options]="provinceList" optionLabel="nombre" [(ngModel)]="product.selectedCountry"
                    [autoWidth]="false" (onChange)="onChangeProduct(product)"></p-dropdown>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div class="ui-g-3 ui-g-nopad ui-g c21-flex-end c21-pad-right-fix" [class.c21-padding-bottom--2x]="product.productoDinamico">
            <span class="c21-center c21-line-button--ico c21-text-black c21-margin-right">
              <strong>{{product.precioBaseString}}</strong>
            </span>
            <button pButton class="c21-button--danger c21-button__med c21-button__med--ico c21-button--add" type="button" tooltipPosition="top"
              placeholder="Top" (click)="addProduct(product)" pTooltip="{{'webshop.main.webshop.addProcut'|translate}}"></button>
          </div>


        </div>
      </ng-container>
    </div>
  </p-panel>


  <p-panel class="ui-md-12 ui-g-12 ui-g-nopad c21-panel" *ngSwitchCase="webShopTransitions.Data">
    <p-header>
      <div class="c21-panel__header">
        <div class="c21-panel__title ui-g ui-fluid">
          <div class="ui-g-12">
            <span class="c21-panel__title-icon">
              <img src="assets/header/webshop.png" alt="Folders">
            </span>
            {{'webshop.main.confirm.title' | translate}}
          </div>


        </div>
      </div>
    </p-header>
    <form #myForm="ngForm" (ngSubmit)="saveCompanyData()">
      <div class="ui-g-3 ui-md-12 ui-lg-3 c21-nav-menu ui-sm-12">
        <button pButton type="button" class="c21-nav-button c21-button--dark c21-nav-button--active c21-pointer-none" label="{{'webshop.main.confirm.companyData'|translate}}"></button>
      </div>
      <div class="ui-g-9 ui-sm-12 ui-md-12 ui-lg-9">
        <c21-user-business [(company)]="company" #c21UserBusiness></c21-user-business>
      </div>
    </form>
    <div class="c21-hline ui-g-12"></div>

    <div class="ui-g-12 ui-g-nopad" *ngIf="!!basketList">
      <div class="ui-g-3 ui-md-12 ui-lg-3 c21-nav-menu ui-sm-12">
        <button pButton type="button" class="c21-nav-button c21-button--dark c21-nav-button--active c21-pointer-none" label="{{'webshop.main.confirm.details'|translate}}"></button>
      </div>

      <div class="ui-g-9 ui-md-12 ui-lg-9 ui-sm-12">
        <div class="ui-g-12" *ngFor="let products of basketList.productos">
          {{products.descripcionProducto? products.descripcionProducto : products.nombreProducto }}
        </div>
      </div>
    </div>

    <div class="c21-hline ui-g-12"></div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-3 ui-md-12 ui-lg-3 c21-nav-menu ui-sm-12">
        <button pButton type="button" class="c21-nav-button c21-button--dark c21-nav-button--active c21-pointer-none" label="{{'webshop.main.confirm.conditions'|translate}}"></button>
      </div>

      <div class="ui-g-9 ui-md-12 ui-lg-9 c21-center">
        <p-checkbox binary="true" class="ui-g-1" label="" tooltipPosition="top" pTooltip="{{
          'webshop.main.confirm.readed' | translate}}" [(ngModel)]="confirmCondition"></p-checkbox>
        <div class="ui-g-11">{{'webshop.main.confirm.conditionsHTML' | translate}}
          <a (click)="showModalCondition()">
            <strong>{{'webshop.main.confirm.conditionsHTML2' | translate}}</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="c21-hline ui-g-12 "></div>

    <div class="ui-g-12 ui-g-nopad" *ngIf="!!paymentMethods ">
      <div class="ui-g-3 ui-md-12 ui-lg-3 ui-sm-12 c21-nav-menu ">
        <button pButton type="button" class="c21-nav-button c21-button--dark c21-nav-button--active c21-pointer-none" label="{{
          'webshop.main.payMethod.title'|translate}} "></button>
      </div>

      <div class="ui-g-2 ui-md-12 ui-lg-2 ui-sm-12">
        {{'webshop.main.payMethod.choose'|translate}}
      </div>
      <div *ngFor="let method of paymentMethods" class="ui-lg-2 ui-sm-4 ui-md-4 ui-g  ui-g-2 ui-g c21-center--vertical">
        <p-radioButton name="pay" [value]="method" label="{{method.nombre}} " tooltipPosition="top" [(ngModel)]="payMethod" pTooltip="{{method.nombre}}"
          (ngModelChange)="onPayMethodChange() ">
        </p-radioButton>
        <div *ngIf="method.codigo === 6" class="c21-paymethod--layout">
          <img src="assets/webshop/cardV.png" class="c21-paymethod">
          <img src="assets/webshop/cardMC.png" class="c21-paymethod">
        </div>
        <img src="assets/webshop/cardP.png" *ngIf="method.codigo === 8" class="c21-paymethod">

      </div>
      <!-- <div class="c21-cards-layout ui-g">
        <div class="c21-cards-cc c21-center--vertical ui-g">
          <img src="assets/webshop/cardV.png">
          <img src="assets/webshop/cardMC.png">
        </div>
        <img src="assets/webshop/cardP.png">
      </div> -->

    </div>



  </p-panel>
</div>

<div class="ui-g-4  ui-sm-12 ui-md-5 ui-lg-4 ui-g-nopad" [ngSwitch]="step ">
  <p-panel class="ui-md-12 ui-g-12 ui-g-nopad c21-panel ">
    <p-header>
      <div class="c21-panel__header ">
        <div class="c21-panel__title ui-g ui-fluid ">
          <div class="ui-g-12 ">
            <span class="c21-panel__title-icon ">
              <img src="assets/header/webshop-basket.png" alt="Folders ">
            </span>
            {{'webshop.main.basket.title' | translate}}
          </div>


        </div>
      </div>
    </p-header>
    <c21-webshop-basket [basketList]="basketList" (change)="getBasket() "></c21-webshop-basket>
    <div class="ui-g-12 c21-center c21-margin-bottom ">
      <button pButton type="button" *ngSwitchCase="webShopTransitions.Shop" class="c21-button--danger c21-button__med
          c21-button--next" label="{{ 'webshop.main.basket.buy'|translate}}" (click)="proceedPurchase()"></button>
      <button pButton type="button" *ngSwitchCase="webShopTransitions.Data" class="c21-button--danger c21-button__med
          c21-button--next" label="{{ 'webshop.main.payMethod.confirm'|translate}}" (click)="finishPurchase()"></button>
    </div>
  </p-panel>


</div>

<form ngNoForm [action]="urlFormulario" *ngIf="!!parametersPay" method="post" name="formPay" id="formPay">

  <input *ngFor="let key of html.keys(parametersPay)" type="hidden" [name]="key" [value]="parametersPay[key]">

  <button pButton type="submit" class="c21-none" #btnPay></button>
</form>

<p-dialog [(visible)]="helpVisible" modal="true" width="700" height="auto" [draggable]="false" [responsive]="true" styleClass="c21-dialog--max">
  <form #helpForm="ngForm" (ngSubmit)="askHelp()" *ngIf="!!userHelp">
    <div class=" ui-g ui-fluid">
      <div class="ui-g-12 ui-fluid">
        {{'webshop.help.askForHelp'|translate}}
      </div>
      <div class="ui-g-12 ui-fluid">
        <input name="nombre" placeholder="{{'webshop.help.name'|translate}}" type="email" size="30" pInputText required [(ngModel)]="userHelp.nombre">
      </div>
      <div class="ui-g-12">
        <input name="email" placeholder="{{'webshop.help.email'|translate}}" type="email" size="30" pInputText required [(ngModel)]="userHelp.email">
      </div>
      <div class="ui-g-12 ui-fluid">
        <input name="telefonoContacto" placeholder="{{'webshop.help.telephone'|translate}}" type="email" size="30" pInputText required
          [(ngModel)]="userHelp.telefonoContacto">
      </div>
      <div class="ui-g-12 ui-fluid c21-conditions">
        {{'webshop.help.conditionsHTML' | translate}}
        <a (click)="showModalPrivacy()">
          <strong>{{'webshop.help.conditionsHTML2' | translate}}</strong>
        </a>

      </div>
    </div>

    <p-footer>
      <div class="c21-float-right">
        <button pButton type="submit" class="c21-button--danger c21-button__med c21-button--next" label="{{'webshop.help.buttonSubmit'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>

<c21-conditions [(conditionsVisible)]="conditionsVisible"></c21-conditions>
<c21-privacy [(privacyVisible)]="privacyVisible"></c21-privacy>



<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" [acceptLabel]="acceptLabel"
  [rejectLabel]="rejectLabel">
</p-confirmDialog>