/* mukta-vaani-200 - latin */

@font-face {
	font-family: 'Mukta Vaani';
	font-weight: 200;
	font-style: normal;

	src: url('assets/fonts/mukta-vaani-v4-latin-200.eot');

/* IE9 Compat Modes */
	src: local('Mukta Vaani ExtraLight'), local('MuktaVaani-ExtraLight'), url('assets/fonts/mukta-vaani-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('assets/fonts/mukta-vaani-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-200.woff') format('woff'), /* Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
	url('assets/fonts/mukta-vaani-v4-latin-200.svg#MuktaVaani') format('svg');
	/* Legacy iOS */
}

/* mukta-vaani-regular - latin */

@font-face {
	font-family: 'Mukta Vaani';
	font-weight: 400;
	font-style: normal;

	src: url('assets/fonts/mukta-vaani-v4-latin-regular.eot');

/* IE9 Compat Modes */
	src: local('Mukta Vaani Regular'), local('MuktaVaani-Regular'), url('assets/fonts/mukta-vaani-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('assets/fonts/mukta-vaani-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('assets/fonts/mukta-vaani-v4-latin-regular.svg#MuktaVaani') format('svg');
	/* Legacy iOS */
}

/* mukta-vaani-700 - latin */

@font-face {
	font-family: 'Mukta Vaani';
	font-weight: 700;
	font-style: normal;

	src: url('assets/fonts/mukta-vaani-v4-latin-700.eot');

/* IE9 Compat Modes */
	src: local('Mukta Vaani Bold'), local('MuktaVaani-Bold'), url('assets/fonts/mukta-vaani-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('assets/fonts/mukta-vaani-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-700.woff') format('woff'), /* Modern Browsers */
	url('assets/fonts/mukta-vaani-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('assets/fonts/mukta-vaani-v4-latin-700.svg#MuktaVaani') format('svg');
	/* Legacy iOS */
}
