@import '_variables';
$fontFamily: $c21-fontfamily,
sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: .35;
//Header
$headerBorderWidth: 1px;
$headerBorderColor: #D9D9D9;
$headerBgColor: #F6F7F9;
$headerTextColor: #1B1D1F;
$headerFontWeight: normal;
$headerIconTextColor: #1B1D1F;
//Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #FFFFFF;
$contentTextColor: $color-text;
//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #D6D6D6;
$stateDefaultBgColor: #FFFFFF;
$stateDefaultTextColor: #555555;
//Active State
$stateActiveBorderColor: #BEBEBE;
$stateActiveBgColor: #D6D6D6;
$stateActiveTextColor: #212121;
//Highlight State
$stateHighlightBorderColor: $color-secondary;
$stateHighlightBgColor: $color-secondary;
$stateHighlightTextColor: #FFFFFF;
//Focus State
$stateFocusBorderColor: #C0C0C0;
$stateFocusBgColor: #EEEEEE;
$stateFocusTextColor: #212121;
//Error State
$stateErrorBorderColor: #F44336;
$stateErrorBgColor: #F5554A;
$stateErrorTextColor: #CD0A0A;
//Hover State
$stateHoverBorderColor: #C0C0C0;
$stateHoverBgColor: $color-secondary;
$stateHoverTextColor: $color-text-clear;
//Forms
$inputBgColor: #FFFFFF;
$inputTextColor: #222222;
$invalidInputBorderColor: #F44336;
$inputGroupTextColor: #222222;
//@import 'node_modules/primeng/resources/themes/_theme';
/* _theme.scss*/

@mixin hover-element() {
	color: $stateHoverTextColor;
	border-color: $stateHoverBorderColor;
	background: $stateHoverBgColor;
	a {
		color: $stateHoverTextColor;
	}
}

body {
	font-family: $fontFamily;
	font-size: 14px; // padding-top: 5rem;

	color: $color-text; //color: red !important;
}

.ui-widget-header {
	background: $color-panel 0 repeat-x;
	background: $color-panel;
}

.c21-header-dropdown > div.ui-dropdown {
	width: 200px;
	margin-right: 20px;
}

.ui-widget-content {
	color: $contentTextColor; //border: $contentBorderWidth solid $contentBorderColor;
	background: $contentBgColor;
	a {
		font-weight: bold;

		color: $contentTextColor;
	}
}

.ui-state-highlight {
	color: $stateHighlightTextColor;
	border-color: $stateHighlightBorderColor;
	background: $stateHighlightBgColor;
	a {
		color: $stateHighlightTextColor;
	}
}

.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
	@include hover-element();
}

.ui-dropdown-panel .ui-dropdown-item {
	letter-spacing: 0;
}

.ui-dropdown .ui-dropdown-label {
	font-weight: normal;

	display: block;
	overflow: hidden;
	overflow: hidden;

	width: 100%;
	padding-top: .50em;
	padding-right: 1.5em;
	padding-left: .25em;

	white-space: nowrap;
	text-overflow: ellipsis;

	border: 0;
}

// .ui-fluid .ui-dropdown {
// 	width: 100%; // height: 100%;
// }
.ui-widget-header {
	background: $c21-color-panel-header 0 0 repeat-x;
	/* Old browsers */
}

.ui-accordion {
	.ui-accordion-header {
		border-top: 1px solid $headerBorderColor;
		background: $headerBgColor;
		a {
			color: $headerTextColor;
		}
		&:not(.ui-state-active):not(.ui-state-disabled):hover {
			background: #EDEDF0;
		}
		&.ui-state-active {
			border-right-color: transparent;
			border-bottom-color: transparent;
			border-left-color: transparent;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			background: #FFFFFF;
		}
	}
	.ui-accordion-content {
		border: 0 none;
	}
}

/* Tabview */

.ui-tabview {
	&.ui-widget-content {
		border: 0 none;
	}
	.ui-tabview-nav {
		background: transparent;
		 > li {
			&.ui-state-default {
				background: #F6F7F9;
			}
			&.ui-state-active {
				font-weight: normal;

				color: #555555;
				background: #FFFFFF;
			}
			&:not(.ui-state-active):not(.ui-state-disabled):hover {
				background: #EDEDF0;
			}
		}
	}
}

/* Spinner */

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover {
	color: #FFFFFF;
	border: 1px solid #1F89CE;
	outline: 0 none;
	background: #1F89CE;
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:active {
	color: #FFFFFF;
	border: 1px solid $color-secondary;
	background: $color-secondary;
}

.ui-slider {
	position: relative;

	text-align: left;

	border: none;
	background: #838688;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;

	width: 17px !important;
	height: 21px !important;

	cursor: default;

	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: none;
}

.ui-slider .ui-slider-range {
	font-size: .7em;

	position: absolute;
	z-index: 1;

	display: block;

	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #14A4FF;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .6) inset;
}

.ui-slider .ui-slider-handle.ui-state-active {
	background-position: -17px 0;
}

.ui-slider-horizontal {
	height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -2px !important;

	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;

	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.1em !important;

	margin-bottom: -.6em;
	margin-left: 0;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;

	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-progressbar {
	&.ui-progressbar-determinate {
		.ui-progressbar-value {
			border: 0 none;
			background: #8EC5FC;
		}
		.ui-progressbar .ui-progressbar-label {
			color: #222222;
		}
	}
	&.ui-progressbar-indeterminate {
		background: #8EC5FC;
		.ui-progressbar-value {
			border: 0 none;
			background-color: $stateHighlightBgColor;
		}
	}
}

.ui-dropdown .ui-dropdown-trigger {
	height: auto;
}

.ui-dropdown {
	& .ui-dropdown-trigger .fa-caret-down {
		font-size: 1.5em;

		padding-right: 20px;

		color: $color-text-light;
	}
}

.ui-radiobutton {
	margin-right: .25em;
	margin-bottom: .25em;
	.ui-radiobutton-box {
		display: block;

		box-sizing: border-box;
		margin: 0;

		border: 1px solid $grey-light;
		border-radius: 0;
		&.ui-state-active {
			color: $color-background;
			border: 1px solid none;
			background: $color-radiobutton-active;
		}
		&:hover {
			//border: 1px solid $color-radiobutton-active;
			box-shadow: 0 0 5px $color-radiobutton-active;
		}
		.ui-radiobutton-icon {
			&::before {
				content: '';
			}
		}
	}
}

.ui-chkbox-box.ui-state-active {
	color: #FFFFFF;
	border: 1px solid $color-secondary;
	background: $color-secondary;
}

.ui-chkbox-label {
	line-height: 1em;

	flex: 1; //	max-width: calc(100% - 30px);

	vertical-align: middle;
}

.c21-checkbox__cropped > .ui-chkbox-label {
	max-width: calc(100% - 30px);
}

.ui-chkbox .ui-chkbox-box {
	display: block;

	box-sizing: border-box;
	margin: 0;

	border: 1px solid $grey-light;
}

.ui-inputgroup .ui-chkbox,
.ui-inputgroup .ui-radiobutton {
	margin-right: inherit !important; //vertical-align: inherit !important;
}

.ui-panel .ui-panel-titlebar-icon {
	position: relative; //top: 5px;

	float: left;

	margin-top: 1px;
	margin-left: -25px;
}

.ui-chkbox-box.ui-state-focus {
	-webkit-box-shadow: 0 0 5px #1F89CE;
	-moz-box-shadow: 0 0 5px #1F89CE;
	box-shadow: 0 0 5px #1F89CE;
}

.ui-dropdown.ui-state-default {
	padding: .25em;

	color: $c21-color-panel-header;
	border: 1px solid $color-inputs-border;
	border-radius: $c21-border-radius;
	background: $color-background;
}

.ui-chkbox-icon {
	&::before {
		content: '';
	}
}

.ui-chkbox-box.ui-state-focus.ui-state-active {
	background: $color-secondary;
}

/* Inputs */

.ui-inputtext {
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s; // color: $color-text;

	color: black;
	border: 1px solid $color-inputs-border;
	border-radius: $c21-border-radius;
	background: $color-background;
}

.ui-inputtext::placeholder {
	color: $color-text-light;
}

.ui-placeholder {
	color: $color-text-light;
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
	-webkit-box-shadow: 0 0 5px #1F89CE;
	-moz-box-shadow: 0 0 5px #1F89CE;
	box-shadow: 0 0 5px #1F89CE;
}

/* InputSwitch */

.ui-inputswitch-on {
	color: #FFFFFF !important;
	background: $color-secondary !important;
}

.ui-paginator .ui-paginator-page.ui-state-active {
	color: #FFFFFF;
	border-color: $color-secondary;
	background: $color-secondary;
}

/* DataTable  */

.ui-datatable {
	th {
		&.ui-state-default {
			border-color: #D9D9D9;
			background: #EBEDF0;
		}
		&.ui-sortable-column:not(.ui-state-active):hover {
			border-color: #D9D9D9;
			background: #D3D5D8;
		}
		&.ui-state-active {
			color: #FFFFFF;
			background: $color-secondary;
		}
	}
	tbody {
		 > tr.ui-widget-content {
			//border-color: #D9D9D9;
			// &.ui-datatable-odd {
			// 	//background-color: #FAFAFB;
			// }
			&.ui-state-highlight {
				color: $color-text;
				background-color: $color-background;
			}
		}
	}
	tfoot {
		td {
			&.ui-state-default {
				border-color: #D9D9D9;
				background: #EBEDF0;
			}
		}
	}
}

/* Panel */

.ui-dialog {
	position: fixed;
}

.ui-panel.ui-widget {
	padding: 0;
	.ui-panel-titlebar.ui-corner-all {
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;

		-moz-border-radius-bottom-left: 0;
		-moz-border-radius-bottom-right: 0;
	}
	.ui-panel-titlebar {
		border-width: 0 0 1px 0;
	}
	.ui-panel-titlebar-icon span {
		position: relative;
		top: 1px;
	}
}

.ui-datatable thead th,
.ui-datatable tfoot td {
	text-align: left;
}

/* TreeTable */

.ui-treetable {
	th.ui-state-default {
		border-color: #D9D9D9;
		background: #EBEDF0;
	}
}

/* ButtonSet */

.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default {
	font-weight: normal;

	color: #555555;
	border: 1px solid #D6D6D6;
	background: #FFFFFF;
}

.ui-togglebutton.ui-button.ui-state-hover,
.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-hover,
.ui-selectbutton .ui-button.ui-state-focus {
	font-weight: normal;

	color: #212121;
	border: 1px solid #C0C0C0;
	background: #EEEEEE;
}

.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-focus.ui-state-active {
	-webkit-box-shadow: 0 0 5px #1F89CE;
	-moz-box-shadow: 0 0 5px #1F89CE;
	box-shadow: 0 0 5px #1F89CE;
}

.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
	color: #FFFFFF;
	border: 1px solid $color-secondary;
	background: $color-secondary;
}

.ui-multiselect {
	.ui-multiselect-label {
		background-color: #FFFFFF;
	}
}

.ui-dropdown.ui-state-focus,
.ui-multiselect.ui-state-focus {
	-webkit-box-shadow: 0 0 5px #1F89CE;
	-moz-box-shadow: 0 0 5px #1F89CE;
	box-shadow: 0 0 5px #1F89CE;
}

.ui-state-disabled,
.ui-widget:disabled {
	pointer-events: none;

	opacity: $disabledOpacity;
}

/* Growl */

.ui-growl-item-container.ui-state-highlight {
	&.ui-growl-message-info {
		border-color: #2196F3;
		background-color: #2196F3;
	}
	&.ui-growl-message-error {
		border-color: #F44336;
		background-color: #F44336;
	}
	&.ui-growl-message-warn {
		border-color: #FFB300;
		background-color: #FFB300;
	}
	&.ui-growl-message-success {
		border-color: #4CAF50;
		background-color: #4CAF50;
	}
}

/* TabMenu */

.ui-tabmenu {
	border: 0 none;
	.ui-tabmenu-nav {
		background: none;
		 > li {
			&.ui-state-default {
				background: #F6F7F9;
			}
			&.ui-state-active {
				font-weight: normal;

				color: #555555;
				background: #FFFFFF;
			}
			&:not(.ui-state-active):not(.ui-state-disabled):hover {
				background: #EDEDF0;
			}
		}
	}
}

/* Menus */

.ui-menu,
.ui-menu .ui-menu-child {
	color: #1B1D1F;
	border: 1px solid #D9D9D9;
	background: #F6F7F9 0 0 repeat-x;
	/* Old browsers */
	background: -moz-linear-gradient(top, #F6F7F9 0%, #EBEDF0 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F7F9), color-stop(100%, #EBEDF0));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F6F7F9 0%, #EBEDF0 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F6F7F9 0%, #EBEDF0 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #F6F7F9 0%, #EBEDF0 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #F6F7F9 0%, #EBEDF0 100%);
	/* W3C */
}

.ui-menu {
	.ui-menuitem {
		.ui-menuitem-link {
			&:hover {
				color: #FFFFFF;
				background-color: #A6A6A6;
			}
		}
		&.ui-menuitem-active {
			 > .ui-menuitem-link {
				color: #FFFFFF;
				background-color: #A6A6A6;
			}
		}
	}
}

/* PanelMenu */

.ui-panelmenu .ui-panelmenu-header.ui-state-active,
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
	color: #FFFFFF;
	border-color: $color-secondary;
	background: $color-secondary;
}

.ui-calendar.ui-calendar-w-btn input {
	border-right: 1;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
	border-right: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ui-calendar .ui-calendar-button {
	position: absolute;
	right: 0;

	width: 2em;
	height: 100%;

	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: $color-inputs-border;
	border-radius: $c21-border-radius;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: $color-background;
}

.ui-fluid .ui-calendar.ui-calendar-w-btn .ui-inputtext {
	width: calc(100%);
	padding-right: 2em;

	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: $color-inputs-border;
	border-radius: 5px;
}

/* DatePicker */

.ui-datepicker.ui-widget {
	padding: 0;
	.ui-datepicker-header {
		border-top: 0 none;
		border-right: 0 none;
		border-left: 0 none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		a {
			&:hover {
				border-width: 1px;
			}
		}
	}
	.ui-datepicker-calendar {
		margin: 0;
		thead th {
			padding: 8px;

			background-color: #F6F8FA;
		}
		td {
			padding: 0;

			border-bottom: 1px solid rgba(213, 213, 213, .5);
			a {
				padding: 8px;

				text-align: center;

				border: 0 none;
				&.ui-state-highlight {
					color: #212121;
					background-color: #D6D6D6;
				}
				&.ui-state-active {
					color: #FFFFFF;
					background-color: $color-secondary;
				}
			}
		}
		tr:last-child td {
			border-bottom: 0 none;
		}
	}
	.ui-timepicker {
		border-right: 0 none;
		border-bottom: 0 none;
		border-left: 0 none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	&.ui-datepicker-timeonly {
		.ui-timepicker {
			border-top: 0 none;
		}
	}
}

/* Steps */

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
	color: $color-panel-text;
}

/* Dialog */

.ui-dialog.ui-widget .ui-dialog-titlebar {
	padding: 0 1.5em;
	padding-top: 1em;

	color: black;
	background-color: $color-background;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
	font-size: 1.25em;

	display: none;
}

.ui-dialog.ui-widget .ui-dialog-content {
	padding: 1em 1.5em;
}

/* Schedule */

.fc {
	.fc-button-group {
		.ui-state-active {
			color: #FFFFFF;
			border: 1px solid $color-secondary;
			background: $color-secondary;
		}
	}
}

.ui-scrollpanel-wrapper {
	position: relative;
	z-index: 1;

	float: left;
	overflow: hidden;

	width: 100%;
	height: 100%;
	;
}

.ui-scrollpanel-content {
	position: relative;

	overflow: auto;
	overflow-y: scroll;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: calc(100% + 18px);
	height: calc(100% + 18px);
	padding: 0 0 0 0;
}

.ui-scrollpanel-bar {
	position: relative;
	z-index: 2;

	cursor: pointer;
	-webkit-transition: opacity .25s linear;
	transition: opacity .25s linear;

	opacity: 0;
	border-radius: 3px;
	background: $color-secondary;
}

.ui-scrollpanel-bar-x {
	display: none;
}

@media (max-width: 1024px) {
	.ui-scrollpanel-content {
		overflow-y: auto;

		width: calc(100%);
	}
	.ui-scrollpanel-bar {
		display: none;
	}
}

.ui-scrollpanel-bar-y {
	top: 0;

	width: 9px;
	margin-left: 10px;
}

.ui-scrollpanel-bar-x {
	bottom: 0;

	height: 9px;
}

.ui-scrollpanel-hidden {
	// display: none;
	visibility: hidden;
}

.ui-dropdown-trigger {
	& span:before {
		content: none;
	}
	.fa.fa-fw.fa-caret-down {
		font-size: 2em;

		width: 15px;
		height: 15px;
		padding-right: 0;

		background-image: url('assets/common/down-g.png');
	}
}

.ui-scrollpanel:active .ui-scrollpanel-bar,
.ui-scrollpanel:hover .ui-scrollpanel-bar {
	opacity: 1;
}

.ui-scrollpanel-grabbed {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-o-user-select: none;
}

.ui-dropdown-clear-icon {
	display: none;
}

.ui-progressbar {
	height: .4em;

	border-radius: 5px;
	background-color: $color-panel;
}

.ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
	background-color: $color-button-third;
}

.ui-tooltip {
	display: flex !important;
}

.hidden-xs-up {
	display: none !important;
}

.c21-scroll-fix {
	width: 100%;
}

@media (max-width: 640px) {
	.hidden-xs-down {
		display: none !important;
	}
}

@media (min-width: 641px) {
	.hidden-sm-up {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.hidden-sm-down {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.hidden-md-up {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.hidden-md-down {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.hidden-lg-up {
		display: none !important;
	}
}

@media (max-width: 1199px) {
	.hidden-lg-down {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-xl-up {
		display: none !important;
	}
}

.hidden-xl-down {
	display: none !important;
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}
}

.visible-print-inline {
	display: none !important;
}

@media print {
	.visible-print-inline {
		display: inline !important;
	}
}

.visible-print-inline-block {
	display: none !important;
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}

@media print {
	.hidden-print {
		display: none !important;
	}
}

@media ( max-width: 50em) {
	.ui-datatable-reflow thead th,
	.ui-datatable-reflow tfoot td {
		display: none !important;
	}
	.ui-datatable-reflow .ui-datatable-data > tr > td {
		display: block;
		float: left;
		clear: left;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100% !important;

		text-align: left;

		border: 0 none;
	}
	.ui-datatable-reflow .ui-datatable-data.ui-widget-content {
		border: 0 none;
	}
	.ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
		border-right: 0 none;
		border-left: 0 none;
	}
	.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
		font-weight: bold;

		display: inline-block;

		min-width: 30%;
		margin: -.4em 1em -.4em -.4em;
		padding: .4em;
	}
	.ui-datatable-reflow.ui-datatable-scrollable .ui-datatable-scrollable-body colgroup {
		display: block;
	}
}
