$white: #FFFFFF; //#FFFFFF-> body(back-ground) Font(Default 2)
$grey-light-clear: #E4E4E4; //#E5E5E5-> BUTTON un-Selected (Back-ground), Back-ground (Header-Panel, Menu-Left)
$grey-dark-light: #F7F7F7; //#f7f7f7
$grey-light: #BCBCBC; //#ABABAB-> BUTTON Selected, Font (input placeholder, Header Grid)
$grey-dark: #474747; //#474747-> Font (Default)#979797
$grey-disabled: #CCC6C6;
$grey-dimmed: #B3B3B3;
$grey-shadow: #DCDCDC;
$black-light: #909090;
$black-medium: #3D3D3D;
$black: #000000; //#000000
$blue-light: #9AD3DC; //#9AD3DC BUTTON (Back-ground)
$blue-dark: #1D4C66; //#1D4C66-> BUTTON (Back-ground), Menu Principal
$blue-med-dark: #8CC2C9;
$violet-light: #A88BB4; //#A88BB4 BUTTON (Back-ground)
$yellow-dark: #EACC51; //#F2CE44 BUTTON (Back-ground)
$red-dark: #E04E4E; //#E04D4E BUTTON (Back-ground)
$green-light: #26DA1D; //#26DA1D
$blue-dark-tender: #393185;
$color-primary: $blue-dark !default;
$color-secondary: $blue-light !default;
$color-text: $black-light !default;
$c21-color-panel-header: $grey-light-clear !default;
$color-text-light: $grey-light !default;
$color-text-light-clear: $grey-light-clear !default;
$color-text-clear: $white !default;
$color-panel: $grey-light-clear !default;
$color-background: $white;
$color-button: $grey-light-clear !default;
$color-button-danger: $red-dark;
$color-button-warning: $yellow-dark;
$color-button-connected: $green-light;
$color-button-disconnected: $red-dark;
$color-button__over: $blue-light;
$color-button__text: $white;
$color-button__text--dark: $black-light;
$color-button__text-over: $white;
$color-button-options: $blue-med-dark;
$color-button-disabled: $grey-disabled;
$color-button-secondary: $blue-med-dark;
$color-button-third: $violet-light;
$color-check-header: $grey-dark;
$color-check-body: $grey-light;
$color-inputs-border: $grey-light-clear;
$color-hr-background: $grey-shadow;
$color-overlay: $grey-dark;
$color-panel-secondary: $grey-dark-light;
$color-panel-text: $black-medium;
//$color-button-toggle: $grey-light-clear;
$color-tender: $blue-dark-tender;
$shadow-basic: 0 0 6px rgba(0, 0, 0, .4);
// $fa-font-path: '../node_modules/font-awesome/fonts';
//
$c21-menu-height: 78px;
$c21-menu-lateral-width: 75px;
$c21-menu-lateral-width_small: 30px;
$c21-button-border-radius: 4px;
$c21-md-width: 1024px;
//
$color-title-danger: $red-dark;
$color-radiobutton-active: $red-dark;
$c21-border-radius: 5px;
$c21-color-panel-header: $grey-light-clear;
$c21-color-fondo: $white;
$c21-text-black: $black;
// Validation
$c21-Validation-invalid: $red-dark;
// Table
$c21-table_text-header: $grey-light;
$c21-table_text-header-hover: $color-text;
$c21-table_row-hover: $grey-light-clear;
$c21-table_text-content: $black-light;
$c21-table_text-content-light: $grey-light;
$c21-fontfamily: 'Mukta Vaani';
