@import 'fonts';
@import 'variables';
@import './src/app/scss/general/general';
@import './src/app/scss/components/panel';
@import './src/app/scss/components/dialog';
@import './src/app/scss/components/button';
@import './src/app/scss/components/paginator';
@import './src/app/scss/components/list-item';
@import './src/app/scss/components/nav-menu';
@import './src/app/scss/components/data-table';
@import './src/app/scss/components/data-mosaic';
@import './src/app/scss/components/accordion';
@import './src/app/scss/components/checklist-panel';
@import './src/app/scss/components/filter-panel';
@import './src/app/scss/components/userstatus';
@import './src/app/scss/components/scrollbar';
@import './src/app/scss/components/sidebar';
@import './src/app/scss/components/input';
@import './src/app/scss/components/table';
@import './src/app/scss/general/print';
/* _styles.scss */

header.navbar {
	min-height: 78px;

	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

@mixin c21-cmb-button-color($fontColor: $color-button__text-over, $backColor:$color-button-danger) {
	color: $fontColor;
	border-color: $backColor;
	background-color: $backColor;
	&:hover {
		background-color: $backColor;
		box-shadow: none;
	}
	&:focus {
		background-color: $backColor;
		box-shadow: none;
	}
}

.c21-button__provider {
	& .ui-dropdown-label {
		@include c21-cmb-button-color($color-button__text-over, $color-button-warning);
	}
}

.c21-button__tender {
	& .ui-dropdown-label {
		@include c21-cmb-button-color($color-button__text-over, $color-tender);
	}
}

.c21-button__work {
	& .ui-dropdown-label {
		@include c21-cmb-button-color($color-button__text-over, $color-button-danger);
	}
}

.c21-panel__body {
	min-height: 120px;
	padding: 2em 2em;
	&.ui-g-nopad {
		padding: 0;
	}
}

// ConfirmDialog, p-dialog
.ui-widget-overlay {
	z-index: 1;

	opacity: .60;
	background: $color-overlay;

	filter: Alpha(Opacity=60);
}

// Messages Growl
.ui-growl {
	position: fixed;
	top: 140px;
	right: 30px;

	width: 25em;
}
