<div [class.c21-popup]="popupMode"></div>
<p-panel class="c21-panel ui-g-12 ui-g-nopad" [class.c21-panel__popup]="popupMode" [ngSwitch]="viewSearch">
  <!-- header -->
  <p-header>
    <div class="c21-panel__header ui-fluid ui-g">
      <div class="c21-panel__title ui-g-6 ui-sm-12">
        <span class="c21-panel__title-icon">
          <img src="assets/title/search.png" alt="Search">
        </span>
        {{'search.title.header' |translate|uppercase}}
      </div>
      <div class="ui-md-offset-4 ui-md-2 ui-sm-12" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.code != 'PROVIDERS'">
        <div class="">
          <input *ngIf="!viewSearch" type="text" pTooltip="{{'alerts.saved.header.search'|translate}}" placeholder="{{'search.filter.word'|translate}}"
            tooltipPosition="left" placeholder="Left" class="c21-icon-margin" pInputText [ngModel]="filtersParams['palabrasClave_0']"
            (oninput)="onChangeSearchKey()" (ngModelChange)="onChangeSearchKeyText($event)">

          <span *ngIf="!viewSearch" class="-addon c21-right-addon">
            <i class="fa fa-search"></i>
          </span>
        </div>

      </div>
    </div>
  </p-header>
  <!-- ./header -->
  <!-- FILTERS -->
  <div class="c21-filter-panel ui-g">
    <div *ngIf="viewSearch > 0" class="ui-g-nopad ui-g-12">
      <div class="ui-g c21-float-right">
        <span class="ui-g-1">
          <button *ngIf="!isEditAlert" pButton type="button" class="c21-button-small" (click)="onFilterView(0)" icon="fa-times"></button>
        </span>
      </div>
    </div>

    <!-- c21-alert-perfil -->
    <div class="ui-g-12 ui-g ui-fluid ui-g-nopad" *ngIf="!!saveAlert">
      <form #formAlertPerfil="ngForm" class="ui-g-12 c21-center ui-g-nopad c21-pad-right-fix c21-flex-col-min">
        <div class="c21-flex">
          <c21-alert-perfil [newAlertData]="newAlertData"></c21-alert-perfil>
        </div>
        <div class="c21-margin-help ">
          <button pButton type="button" class="c21-button--warning c21-button__med c21-button--help" iconPos="right"
            label="{{'search.alert.btnHelpNeeded'|translate}}" [routerLink]="['/alerts', 'assistant']"></button>
        </div>
      </form>
    </div>
    <!-- ./c21-alert-perfil -->
    <!-- H-LINE in Popup-saveAlert -->
    <div *ngIf="!!saveAlert" class="c21-hline ui-g-12 c21-padding-top c21-margin-top"></div>

    <div class="c21-filter_filters ui-g-10 ui-sm-12 ui-md-8 c21-center--vertical ui-g">
      <div class="" *ngIf="!viewSearch">
        <c21-search-filters [filters]="filtersParams" (onClick)="onFilterClick($event)" (onClickArray)="onFilterClickArrayProcess($event)"></c21-search-filters>
      </div>

      <div class="" *ngIf="viewSearch">
        <c21-search-filters [filters]="filtersParamsCopy" (onClick)="onFilterCopyClick($event)" (onClickArray)="onFilterCopyClickArrayProcess($event)"></c21-search-filters>

      </div>
    </div>
    <!-- Buttons Right -->
    <div class="ui-g-2 ui-sm-12 ui-md-4 c21-flex-end ui-g ">
      <!-- Buttons SaveAlert -->
      <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.code !== 'PROVIDERS' && !!saveAlert" pButton class="c21-button--third c21-button__med c21-button--save"
        type="button" (click)="createAlertWithCurrentFilters()" tooltipPosition="top" placeholder="Top" pTooltip="{{'search.filter.save'|translate}}"
        label="{{'shared.form.save'|translate}}" iconPos="right"></button>
      <!-- ./Buttons SaveAlert -->
      <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.code !== 'PROVIDERS' && !saveAlert" pButton class="c21-button--third c21-button__med c21-button__med--ico c21-button--save"
        type="button" (click)="toggleSaveAlert()" tooltipPosition="top" placeholder="Top" pTooltip="{{'search.filter.save'|translate}}"></button>

      <button pButton tooltipPosition="top" placeholder="Top" pTooltip="{{'search.filter.clearFilters'|translate}}"
        class="c21-filter_button c21-button--danger c21-button__med c21-button__med--ico c21-button--delete c21-margin-left--2x"
        type="button" (click)="resetAllFilters()"></button>
    </div>
    <!-- ./Buttons Right -->

  </div>
  <!-- ./FILTERS -->

  <!-- H-LINE -->
  <div *ngIf="!saveAlert" class="c21-hline ui-g c21-margin-top c21-padding-top"></div>

  <!-- PAGINATOR -->
  <div *ngSwitchCase="view.search" class="ui-g-12 ui-g-nopad">
    <div class="c21-paginator_container">
      <div class="ui-g-12 ui-g-nopad ui-g">

        <div class="ui-md-2 ui-sm-12 ui-g c21-center--vertical ">
          <span class="c21-paginator_results ">
            {{paginator.numeroResultados}} {{'shared.text.resultCount'|translate}}
          </span>
        </div>

        <div class="ui-md-5 ui-sm-12 ui-g c21-center--vertical">
          <div class="c21-paginator">
            <button class="c21-button__med c21-button__med--ico c21-button--first c21-button--secondary" [disabled]="isFirstPage"
              [class.ui-state-disabled]="isFirstPage" (click)="paginatorClick(1)" tabindex="-1">

            </button>
            <button class="c21-button__med c21-button__med--ico c21-button--prev c21-button--secondary" [disabled]="isFirstPage"
              [class.ui-state-disabled]="isFirstPage" (click)="paginatorClick(this.paginator.pagina-1)" tabindex="-1">
            </button>
            <span class="c21-paginator_pages">
              {{paginator?.pagina}} {{'shared.text.paginatorSeparator' | translate }} {{paginator?.numeroPaginas}}
            </span>
            <button class="c21-button__med c21-button__med--ico c21-button--next c21-button--secondary" [disabled]="isLastPage"
              [class.ui-state-disabled]="isLastPage" (click)="paginatorClick(this.paginator.pagina+1)" tabindex="0">
            </button>
            <button class="c21-button__med c21-button__med--ico c21-button--last c21-button--secondary" [disabled]="isLastPage"
              [class.ui-state-disabled]="isLastPage" (click)="paginatorClick(this.paginator.numeroPaginas)" tabindex="0">
            </button>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-5 c21-flex-end c21-paginator_buttons-container  ui-g">

          <button pButton class="  c21-button__med c21-button__med--ico c21-button--download  c21-button--third" type="button"
            (click)="openDialogExport()" tooltipPosition="top" pTooltip="{{'comun.exportSelected'|translate}}"></button>
          <button pButton pTooltip="{{'folders.addWorksToFolder'|translate}}" tooltipPosition="top" class=" c21-margin-left--2x c21-button__med c21-button__med--ico c21-button--folder c21-button--third"
            *ngIf="filtersParams['codigoTipoElementoBusqueda'].code !== 'PROVIDERS'" type="button" (click)="showFolderPopup()"
            tooltipPosition="top"></button>
          <button pButton [class.c21-hidden]="currentViewMosaic" pTooltip="{{'search.filter.columnsChange'|translate}}"
            class=" c21-margin-left--2x c21-margin-right--2x c21-button--warning c21-button__med c21-button__med--ico c21-button--cog "
            type="button" (click)="displayVisibleTableColumns(true)"></button>
          <button pButton class="c21-paginator_view-button c21-margin-left--2x" type="button" [disabled]="currentViewMosaic"
            (click)="changeView()" icon="fa-th-large" pTooltip="{{'search.filter.viewMosaic'|translate}}"
            tooltipPosition="top" placeholder="Top"></button>
          <button pButton class="c21-paginator_view-button c21-margin-left" type="button" [disabled]="!currentViewMosaic"
            (click)="changeView()" icon="fa-align-justify" pTooltip="{{'search.filter.viewGrid'|translate}}"
            tooltipPosition="top" placeholder="Top"></button>

        </div>

      </div>
    </div>
  </div>
  <!-- ./PAGINATOR -->

  <!-- CONTENT DIV -->
  <div class="ui-g-12 ui-g-nopad">
    <!-- app-search-panel-menu -->
    <div class="ui-g-12 ui-lg-2 ">
      <div class="c21-nav-menu c21-padding-bottom--2x">
        <p-dropdown [autoWidth]="false" [options]="menuItems.ITEMS" class="c21-nav-dropdown" optionLabel="label"
          (onChange)="onChangeMenuPhase()" [disabled]="isEditAlert && !!newAlertData?.codigoPerfil"
          [class.c21-button__provider]="filtersParams['codigoTipoElementoBusqueda']?.codigo === 3"
          [class.c21-button__work]="filtersParams['codigoTipoElementoBusqueda']?.codigo === 1"
          [class.c21-button__tender]="filtersParams['codigoTipoElementoBusqueda']?.codigo === 2" [(ngModel)]="filtersParams['codigoTipoElementoBusqueda']"></p-dropdown>
        <!-- LOCALIZACIÓN -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('location') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.localization)"
          label="{{'search.filter.btnLocalization'|translate}}" [class.c21-nav-button--active]="viewSearch===view.localization"></button>
        <!-- TIPO DE OBRA -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('type-of-work') !== -1" pButton
          type="button" class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.typeOfWork)"
          label="{{'search.filter.btnTypeOfWork'|translate}}" [class.c21-nav-button--active]="viewSearch===view.typeOfWork"></button>
        <!-- FASE -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('phasework') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.phaseWorks)"
          label="{{'search.filter.btnPhaseWorks'|translate}}" [class.c21-nav-button--active]="viewSearch===view.phaseWorks"></button>
        <!-- FASE -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('phasetender') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.phaseTenders)"
          label="{{'search.filter.btnPhaseTenders'|translate}}" [class.c21-nav-button--active]="viewSearch===view.phaseTenders"></button>
        <!-- EMPRESA -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('company') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.company)"
          label="{{'search.filter.btnCompany'|translate}}" [class.c21-nav-button--active]="viewSearch===view.company"></button>
        <!-- PRESUPUESTO -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('budget') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.filterBudget)"
          label="{{'search.filter.btnBudget'|translate}}" [class.c21-nav-button--active]="viewSearch===view.filterBudget"></button>
        <!-- OTROS -->
        <button *ngIf="filtersParams['codigoTipoElementoBusqueda']?.actions.indexOf('other') !== -1" pButton type="button"
          class="c21-nav-button c21-button--dark" icon="fa-chevron-right" iconPos="right" (click)="onFilterView(view.others)"
          label="{{'search.filter.btnOther'|translate}}" [class.c21-nav-button--active]="viewSearch===view.others"></button>

        <!-- Buscar -->
        <button *ngIf="!isEditAlert && viewSearch !== view.search" pButton type="button" class="c21-button--danger c21-button__med  c21-button--search c21-nav-button--last"
          (click)="search()" label="{{'search.filter.btnSearch'|translate}}"></button>
      </div>
      <!-- ./c21-nav-menu -->
    </div>
    <!-- ./app-search-panel-menu -->


    <div class="panel-content ui-g-12 ui-lg-10 ui-g-nopad">
      <!-- LOCALIZATION -->
      <div *ngSwitchCase="view.localization" class="ui-g-12">

        <div class="ui-g ui-fluid ui-g-12">

          <!-- MARKETS -->
          <div class="ui-g-12 ui-md-3">
            <div class="ui-g-12">
              <p-dropdown pTooltip="{{'search.filter.ddlMarket'|translate}}" placeholder="{{'search.filter.ddlMarket'|translate}}"
                (onChange)="onChangeMarket($event,'codigoMercado')" appendTo="body" optionLabel="nombre" [options]="markets"
                [(ngModel)]="filtersParamsCopy['codigoMercado']" [autoWidth]="false"></p-dropdown>
            </div>
          </div>
          <!-- ./MARKETS -->

          <!-- COUNTRIES -->
          <div *ngIf="!!localizationDS?.countries" class="ui-g-12 ui-md-3">
            <div class="">
              <p-panel [toggleable]="true" class="c21-checklist-panel">
                <p-header>
                  <p-checkbox name="groupAllCountries" binary="true" value="true" label="{{'search.filter.countries'|translate}}"
                    [ngModel]="isAllChecked('codigosPais',localizationDS.countries)" class="c21-checkbox__cropped"
                    (onChange)="onChangeAll($event,'codigosPais',localizationDS.countries,this.clickCountriesCheck)">
                  </p-checkbox>
                </p-header>
                <div *ngFor="let countryKey of html.keys(localizationDS.countries)" class="ui-g-12 ui-g-nopad c21-checklist_item">
                  <p-checkbox class="c21-checkbox__cropped" [value]="localizationDS.countries[countryKey]" [label]="localizationDS.countries[countryKey].nombre"
                    [(ngModel)]="filtersParamsCopy['codigosPais']" (onChange)="onChangeCheckbox('codigosPais',this.clickCountriesCheck)">
                  </p-checkbox>
                </div>
              </p-panel>
            </div>
          </div>
          <!-- ./COUNTRIES -->

          <!-- COMMUNITIES -->
          <div *ngIf="filtersParamsCopy['codigosPais']" class="ui-g-12 ui-md-3">
            <div *ngFor="let countryKey of filtersParamsCopy['codigosPais']" class="">
              <p-panel [toggleable]="true" class="c21-checklist-panel" *ngIf="countryKey.codigo === 72 || countryKey.codigo==1">
                <p-header>
                  <p-checkbox class="c21-checkbox__cropped" name="groupAllCountries" binary="true" value="true" [label]="countryKey.nombre"
                    [ngModel]="isAllChecked('codigosDivisionEstatalPrimerNivel',countryKey.communities)" (onChange)="onChangeAll($event,'codigosDivisionEstatalPrimerNivel',countryKey.communities,this.clickCommunitiesCheck)">
                  </p-checkbox>
                </p-header>
                <!-- {{countryKey |json}} -->
                <div *ngIf="!!countryKey.communities" class="ui-g">
                  <div *ngFor="let communityKey of html.keys(countryKey.communities)" class="ui-g-12 ui-g-nopad c21-checklist_item">
                    <p-checkbox class="c21-checkbox__cropped" [value]="countryKey.communities[communityKey]" [label]="countryKey.communities[communityKey].nombre"
                      [(ngModel)]="filtersParamsCopy['codigosDivisionEstatalPrimerNivel']" (onChange)="onChangeCheckbox('codigosDivisionEstatalPrimerNivel',this.clickCommunitiesCheck)">
                    </p-checkbox>
                  </div>
                </div>
              </p-panel>
            </div>
          </div>
          <!-- ./COMMUNITIES -->

          <!-- PROVINCES -->
          <div *ngIf="filtersParamsCopy['codigosDivisionEstatalPrimerNivel']" class="ui-g-12 ui-md-3">
            <div *ngFor="let comunityInCountryKey of filtersParamsCopy['codigosDivisionEstatalPrimerNivel']" class="">
              <p-panel *ngIf="!!comunityInCountryKey.subTipos" [toggleable]="true" class="c21-checklist-panel">
                <p-header>
                  <p-checkbox class="c21-checkbox__cropped" name="groupAllCountries" binary="true" value="true" [label]="comunityInCountryKey.nombre"
                    [ngModel]="isAllChecked('codigosDivisionEstatalSegundoNivel',comunityInCountryKey.subTipos)"
                    (onChange)="onChangeAll($event,'codigosDivisionEstatalSegundoNivel',comunityInCountryKey.subTipos)">
                  </p-checkbox>
                </p-header>

                <div *ngIf="!!comunityInCountryKey.subTipos" class="ui-g">
                  <div *ngFor="let provinceKey of html.keys(comunityInCountryKey.subTipos)" class="ui-g-12 ui-g-nopad c21-checklist_item">
                    <p-checkbox class="c21-checkbox__cropped" [value]="comunityInCountryKey.subTipos[provinceKey]"
                      [label]="comunityInCountryKey.subTipos[provinceKey].nombre" [(ngModel)]="filtersParamsCopy['codigosDivisionEstatalSegundoNivel']"
                      (onChange)="onChangeCheckbox('codigosDivisionEstatalSegundoNivel')">
                    </p-checkbox>
                  </div>
                </div>
              </p-panel>
            </div>
          </div>
          <!-- ./PROVINCES -->

        </div>
        <!-- ./ui-g ui-fluid -->

        <!-- ./ui-g-12 -->
      </div>
      <!-- ./LOCALIZATION -->

      <!-- TYPEOFWORK -->
      <div *ngSwitchCase="view.typeOfWork" class="ui-g-12">

        <div *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS' && !!filters.tipoDeObra.codigoObraPublicaPrivada.list"
          class="ui-g-12">
          <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
            <p-header>
              <p-checkbox name="groupAlltiposObraPublicaPrivada" binary="true" value="true" label="{{'search.filter.financiacion'|translate}}"
                [ngModel]="isAllChecked('codigoObraPublicaPrivada',filters.tipoDeObra.codigoObraPublicaPrivada.list)"
                class="c21-checkbox__cropped" (onChange)="onChangeAll($event,'codigoObraPublicaPrivada',filters.tipoDeObra.codigoObraPublicaPrivada.list)">
              </p-checkbox>
            </p-header>
            <div *ngFor="let tiposObraPublicaPrivada of filters.tipoDeObra.codigoObraPublicaPrivada.list" class="ui-g-12 ui-g-nopad c21-checklist_item">
              <p-checkbox name="tiposObraPublicaPrivada" [value]="tiposObraPublicaPrivada" [label]="tiposObraPublicaPrivada.nombre"
                [(ngModel)]="filtersParamsCopy['codigoObraPublicaPrivada']" class="c21-checkbox__cropped" (onChange)="onChangeCheckbox('codigoObraPublicaPrivada')">
              </p-checkbox>
            </div>
          </p-panel>
        </div>

        <div *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'TENDERS' && !!filters.tipoDeObra.codigoObraPublicaPrivada.list"
          class="ui-g-12">
          <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
            <p-header>
              <p-checkbox name="groupAlltipoLicitacion" binary="true" value="true" label="{{'search.filter.tipoLicitacion'|translate}}"
                [ngModel]="isAllChecked('codigoTipoLicitacion',filters.tipoDeObra.codigoTipoLicitacion.list)" class="c21-checkbox__cropped"
                (onChange)="onChangeAll($event,'codigoTipoLicitacion',filters.tipoDeObra.codigoTipoLicitacion.list)">
              </p-checkbox>
            </p-header>
            <div *ngFor="let tipoLicitacion of filters.tipoDeObra.codigoTipoLicitacion.list" class="ui-g-12 ui-g-nopad c21-checklist_item">
              <p-checkbox name="tipoLicitacion" [value]="tipoLicitacion" [label]="tipoLicitacion.nombre" [(ngModel)]="filtersParamsCopy['codigoTipoLicitacion']"
                class="c21-checkbox__cropped" (onChange)="onChangeCheckbox('codigoTipoLicitacion')">
              </p-checkbox>
            </div>
          </p-panel>
        </div>

        <div *ngIf="!!filters.tipoDeObra.tipoObra.list" class="ui-g-12 ui-g-nopad">
          <div class="ui-g ui-fluid">
            <!-- INITIAL-PHASES -->
            <div *ngFor="let tiposObra of filters.tipoDeObra.tipoObra.list" class="ui-md-4">
              <div class="">
                <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
                  <p-header>
                    <p-checkbox name="groupAllInitialPhases" binary="true" value="true" [label]="tiposObra.nombre"
                      [ngModel]="isAllChecked('codigoTipoObra',tiposObra.subTipos)" class="c21-checkbox__cropped"
                      (onChange)="onChangeAll($event,'codigoTipoObra',tiposObra.subTipos)">
                    </p-checkbox>
                  </p-header>
                  <div *ngFor="let obraSub of tiposObra.subTipos" class="ui-g-12 ui-g-nopad c21-checklist_item">
                    <p-checkbox name="groupPhases" [value]="obraSub" [label]="obraSub.nombre" [(ngModel)]="filtersParamsCopy['codigoTipoObra']"
                      class="c21-checkbox__cropped" (onChange)="onChangeCheckbox('codigoTipoObra')">
                    </p-checkbox>
                  </div>
                </p-panel>
              </div>
            </div>
            <!-- ./INITIAL-PHASES -->
          </div>
          <!-- ./ui-g ui-fluid -->
        </div>

        <!-- ./ui-g-12 -->
      </div>
      <!-- ./TYPEOFWORK -->

      <!-- COMPANY -->
      <div *ngSwitchCase="view.company" class="ui-g-12">
        <div class="ui-g ui-fluid">
          <ng-container *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS'">
            <div class="ui-md-4">
              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.withOrWithoutContractor'|translate}}"
                placeholder="{{'search.filter.withOrWithoutContractor'|translate}}" [options]="filters.otros.codigoConOSin.list"
                [(ngModel)]="filtersParamsCopy['codigoConOSinContratista']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigoConOSinContratista')"></p-dropdown>
            </div>
            <div class="ui-md-4">
              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.withOrWithoutArchitect'|translate}}"
                placeholder="{{'search.filter.withOrWithoutArchitect'|translate}}" [options]="filters.otros.codigoConOSin.list"
                [(ngModel)]="filtersParamsCopy['codigoConOSinArquitecto']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigoConOSinArquitecto')"></p-dropdown>
            </div>
            <div class="ui-md-4">
              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.withOrWithoutEngineer'|translate}}"
                placeholder="{{'search.filter.withOrWithoutEngineer'|translate}}" [options]="filters.otros.codigoConOSin.list"
                [(ngModel)]="filtersParamsCopy['codigoConOSinIngeniero']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigoConOSinIngeniero')"></p-dropdown>
            </div>
          </ng-container>
          <div *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'PROVIDERS'" class="ui-md-4">
            <!-- FAKE  -->
            <div *ngIf="!!filters.empresa.tipoProveedor.list">
              <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
                <p-header>

                  <p-checkbox name="groupAllTipoEmpresa" binary="true" value="true" label="{{'search.filter.typeOfCompany'|translate}}"
                    class="c21-checkbox__cropped" [ngModel]="isAllChecked('codigosTipoProveedor',filters.empresa.tipoProveedor.list)"
                    (onChange)="onChangeAll($event,'codigosTipoProveedor',filters.empresa.tipoProveedor.list)">
                  </p-checkbox>
                </p-header>
                <div *ngFor="let empresa of filters.empresa.tipoProveedor.list" class="ui-g-12 ui-g-nopad c21-checklist_item">
                  <p-checkbox name="groupPhases" [value]="empresa" [label]="empresa.nombre" [(ngModel)]="filtersParamsCopy['codigosTipoProveedor']"
                    class="c21-checkbox__cropped" (onChange)="onChangeCheckbox('codigosTipoProveedor')">
                  </p-checkbox>
                </div>
              </p-panel>
            </div>
          </div>
          <ng-container *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS' || filtersParams['codigoTipoElementoBusqueda'].code === 'PROVIDERS'">
            <div class="ui-md-4">
              <input type="text" pTooltip="{{'search.filter.providerName'|translate}}" placeholder="{{'search.filter.providerName'|translate}}"
                pInputText [(ngModel)]="filtersParamsCopy['nombreProveedor']" />
            </div>
            <div class="ui-md-4">

              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.stateDivisionMatrix'|translate}}" placeholder="{{'search.filter.stateDivisionMatrix'|translate}}"
                [options]="filters.empresa.codigosDivisionEstatalMatriz.list" [(ngModel)]="filtersParamsCopy['codigosDivisionEstatalMatriz']"
                optionLabel="nombre" (onChange)="onComboChange($event, 'codigosDivisionEstatalMatriz')"></p-dropdown>

            </div>
          </ng-container>
          <ng-container *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'TENDERS'">
            <div class="ui-md-12">
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.adjudicatario'|translate}}" placeholder="{{'search.filter.adjudicatario'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['adjudicatario']" />
              </div>
            </div>
            <div class="ui-md-12">
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.organismoLicitador'|translate}}" placeholder="{{'search.filter.organismoLicitador'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['organismoLicitador']" />
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- ./COMPANY -->

      <!-- FILTER BUDGET  -->
      <div *ngSwitchCase="view.filterBudget" class="ui-g-12">
        <!--*ngIf="budget">-->

        <div class="ui-g-12">
          <div class="ui-g ui-fluid">
            <div class="ui-g-4 ui-md-4 ui-sm-12">
              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.from'|translate}}" placeholder="{{'search.filter.from'|translate}}"
                [options]="budget" [(ngModel)]="filtersParamsCopy['presupuestoMin']" optionLabel="nombre" (onChange)="onComboChange($event, 'presupuestoMin')"></p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-12 ">
              <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.to'|translate}}" placeholder="{{'search.filter.to'|translate}}"
                [options]="budget" [(ngModel)]="filtersParamsCopy['presupuestoMax']" optionLabel="nombre" (onChange)="onComboChange($event, 'presupuestoMax')"></p-dropdown>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-12  c21-center--vertical ui-g">
              <p-checkbox binary="true" label="{{'search.filter.presupuestoCero'|translate}}" [ngModel]="filtersParamsCopy['presupuestoCero']"
                (onChange)="onFilterCheckChange($event, 'presupuestoCero')">
              </p-checkbox>
            </div>

          </div>
          <!-- ./ui-g ui-fluid -->

        </div>
        <!-- ./panel-content ui-g-nopad  -->
      </div>
      <!-- ./FILTER BUDGET -->

      <!-- PHASE-WORKS -->
      <div *ngSwitchCase="view.phaseWorks" class="ui-g-12">
        <div *ngIf="!!phases" class="ui-g-12">
          <div class="ui-g ui-fluid">
            <!-- INITIAL-PHASES -->
            <div *ngFor="let initialPhaseIndex of html.keys(phases)" class="ui-md-4">

              <div class="">
                <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
                  <p-header>
                    <p-checkbox name="groupAllInitialPhases" binary="true" value="true" [label]="phases[initialPhaseIndex].nombre"
                      [ngModel]="isAllChecked('codigoTipoHitoObra',phases[initialPhaseIndex].subTipos)" class="c21-checkbox__cropped"
                      (onChange)="onChangeAll($event,'codigoTipoHitoObra',phases[initialPhaseIndex].subTipos)">
                    </p-checkbox>
                  </p-header>
                  <div *ngFor="let phaseChilds of phases[initialPhaseIndex].subTipos" class="ui-g-12 ui-g-nopad c21-checklist_item">
                    <p-checkbox name="groupPhases" [value]="phaseChilds" [label]="phaseChilds.nombre" [(ngModel)]="filtersParamsCopy['codigoTipoHitoObra']"
                      class="c21-checkbox__cropped" (onChange)="onChangeCheckbox('codigoTipoHitoObra')">
                    </p-checkbox>
                  </div>
                </p-panel>
              </div>

            </div>
            <!-- ./INITIAL-PHASES -->

          </div>
          <!-- ./ui-g ui-fluid -->
        </div>
        <!-- ./ui-g-12 -->
      </div>
      <!-- ./PHASE-WORKS -->

      <!-- PHASE-TENDERS -->
      <div *ngSwitchCase="view.phaseTenders" class="ui-g-12">
        <div *ngIf="!!phasesTender" class="ui-g-12">
          <div class="ui-g ui-fluid">
            <!-- INITIAL-PHASES -->
            <div class="ui-md-4">
              <div class="">
                <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
                  <p-header>
                    <p-checkbox name="groupAllInitialPhasesTender" binary="true" value="true" label="{{'search.filter.phaseTender'|translate}}"
                      [ngModel]="isAllChecked('codigoFaseLicitacion',phasesTender)" class="c21-checkbox__cropped"
                      (onChange)="onChangeAll($event,'codigoFaseLicitacion',phasesTender)">
                    </p-checkbox>
                  </p-header>
                  <div *ngFor="let phaseTenderChilds of phasesTender" class="ui-g-12 ui-g-nopad c21-checklist_item">
                    <p-checkbox class="c21-checkbox__cropped" name="groupPhasesTender" [value]="phaseTenderChilds"
                      [label]="phaseTenderChilds.nombre" [(ngModel)]="filtersParamsCopy['codigoFaseLicitacion']"
                      (onChange)="onChangeCheckbox('codigoFaseLicitacion')">
                    </p-checkbox>
                  </div>
                </p-panel>
              </div>
            </div>
            <!-- ./INITIAL-PHASES -->
          </div>
          <!-- ./ui-g ui-fluid -->
        </div>
        <!-- ./ui-g-12 -->
      </div>
      <!-- ./PHASE-TENDERS -->

      <!-- OTHERS  -->
      <div *ngSwitchCase="view.others" class="ui-g-12">
        <p-accordion class="c21-accordion-change-icon" [multiple]="true">

          <p-accordionTab header="{{filtersParams['codigoTipoElementoBusqueda'].code === 'PROVIDERS'? ('search.filter.providers.publication'|translate)  : filtersParams['codigoTipoElementoBusqueda'].code === 'TENDERS'?('search.filter.tenders.publication'|translate):('search.filter.works.publication'|translate)}}"
            *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('publication') !== -1" [selected]="true">

            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <p-calendar [locale]="lo" [(ngModel)]="filtersParamsCopy['fecha']" [showIcon]="true" pTooltip="{{'search.filter.fromDate'|translate}}"
                  dateFormat="{{lo.formatDate}}" placeholder="{{'search.filter.fromDate'|translate}}"></p-calendar>
              </div>
              <div class="ui-md-4">
                <p-calendar [locale]="lo" dateFormat="{{lo.formatDate}}" pTooltip="{{'search.filter.toDate'|translate}}"
                  placeholder="{{'search.filter.toDate'|translate}}" [(ngModel)]="filtersParamsCopy['fechaHasta']"
                  [showIcon]="true"></p-calendar>
              </div>
              <div *ngIf="filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS' || filtersParams['codigoTipoElementoBusqueda'].code === 'TENDERS'"
                class="ui-md-4">
                <p-dropdown [autoWidth]="false" *ngIf="!!filters.otros.codigoFiltroPerfilEstado.list" pTooltip="{{'search.filter.inAll'|translate}}"
                  placeholder="{{'search.filter.inAll'|translate}}" [autoWidth]="false" [options]="filters.otros.codigoFiltroPerfilEstado.list"
                  tooltipPosition="left" placeholder="Left" [(ngModel)]="filtersParamsCopy['codigoFiltroPerfilEstado']"
                  optionLabel="nombre" (onChange)="onComboChange($event, 'codigoFiltroPerfilEstado')"></p-dropdown>
              </div>
            </div>

          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.contactInformation'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('contactInformation') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div *ngIf="!!filters.otros.codigoConOSin.list" class="ui-md-4">
                <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.withOrWithoutEmail'|translate}}" placeholder="{{'search.filter.withOrWithoutEmail'|translate}}"
                  [options]="filters.otros.codigoConOSin.list" [(ngModel)]="filtersParamsCopy['codigoConOSinEmail']"
                  optionLabel="nombre" (onChange)="onComboChange($event, 'codigoConOSinEmail')"></p-dropdown>
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.localizationPrecise'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('localizationPrecise') !== -1"
            [selected]="true">

            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <input type="text" pTooltip="{{'search.filter.locality'|translate}}" placeholder="{{'search.filter.locality'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['localidad']" />
              </div>
              <div class="ui-md-4">
                <input type="text" pTooltip="{{'search.filter.postcode'|translate}}" placeholder="{{'search.filter.postcode'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['codigoPostal']" />
              </div>
              <div class="ui-md-4">
                <input type="text" pTooltip="{{'search.filter.postcodeMax'|translate}}" placeholder="{{'search.filter.postcodeMax'|translate}}"
                  tooltipPosition="left" placeholder="Left" pInputText [(ngModel)]="filtersParamsCopy['codigoPostalMaximo']" />
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.identification'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('workIdentification') !== -1"
            [selected]="true">
            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <input type="text" pTooltip="{{'search.filter.name'|translate}}" placeholder="{{'search.filter.name'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['nombreObra']" />
              </div>
              <div class="ui-md-4">
                <input type="text" pTooltip="{{'search.filter.reference'|translate}}" placeholder="{{'search.filter.reference'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['referencia']" />
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.identificationOfContest'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('identificationOfContest') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.object'|translate}}" placeholder="{{'search.filter.object'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['nombreObra']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.reference'|translate}}" placeholder="{{'search.filter.reference'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['referencia']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.expedient'|translate}}" placeholder="{{'search.filter.expedient'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['numeroExpediente']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.bulletin'|translate}}" placeholder="{{'search.filter.bulletin'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['denominacionBoletin']" />
              </div>
            </div>

          </p-accordionTab>
          <p-accordionTab header="{{'search.filter.classification'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('classification') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.group'|translate}}" placeholder="{{'search.filter.group'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['clasificacionGrupo']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.subgroup'|translate}}" placeholder="{{'search.filter.subgroup'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['clasificacionSubgrupo']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.category'|translate}}" placeholder="{{'search.filter.category'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['clasificacionCategoria']" />
              </div>
              <div class="ui-md-3">

                <p-checkbox binary="true" label="{{'search.filter.classificationNotRequiredOrWithoutData'|translate}}"
                  [ngModel]="filtersParamsCopy['incluirClasificacionNoRequerida']" (onChange)="onFilterCheckChange($event, 'incluirClasificacionNoRequerida')"
                  class="c21-checkbox__cropped">
                </p-checkbox>
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.typeOfWork' |translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('typeOfWork') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <p-dropdown [autoWidth]="false" pTooltip="{{filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS'? ('search.filter.newWork'|translate)  : ('search.filter.typeOfTenders'|translate)}}"
                  placeholder="{{'search.filter.newWork'|translate}}" [options]="filters.otros.codigoTipoTrabajoObra.list"
                  [(ngModel)]="filtersParamsCopy['codigoTipoTrabajoObra']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigoTipoTrabajoObra')"></p-dropdown>
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.classWork' |translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('classWork') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <p-dropdown [autoWidth]="false" pTooltip="{{filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS'? ('search.filter.newWork'|translate)  : ('search.filter.classWork'|translate)}}"
                  placeholder="{{'search.filter.classWork'|translate}}" [options]="filters.otros.codigoTipoClaseTrabajo.list"
                  [(ngModel)]="filtersParamsCopy['codigoTipoClaseTrabajo']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigoTipoClaseTrabajo')"></p-dropdown>
              </div>
            </div>
          </p-accordionTab>


          <p-accordionTab header="{{'search.filter.workSurface'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('workSurface') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-4">
                <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.surfaceAreaRange'|translate}}" placeholder="{{'search.filter.surfaceAreaRange'|translate}}"
                  [options]="filters.otros.codigoRangoSuperficieTerreno.list" [(ngModel)]="filtersParamsCopy['codigoRangoSuperficieTerreno']"
                  optionLabel="nombre" (onChange)="onComboChange($event, 'codigoRangoSuperficieTerreno')"></p-dropdown>
              </div>
              <div class="ui-md-4">
                <p-dropdown [autoWidth]="false" pTooltip="{{'search.filter.surfaceWorkRange'|translate}}" placeholder="{{'search.filter.surfaceWorkRange'|translate}}"
                  [options]="filters.otros.codigoRangoSuperficieConstruccion.list" [(ngModel)]="filtersParamsCopy['codigoRangoSuperficieConstruccion']"
                  optionLabel="nombre" (onChange)="onComboChange($event, 'codigoRangoSuperficieConstruccion')"></p-dropdown>
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.roomsAndFloors'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('roomsAndFloors') !== -1"
            [selected]="false">
            <div class="ui-g ui-fluid">
              <div class="ui-md-3">
                <input type="number" pTooltip="{{'search.filter.numberApartmentsMinimum'|translate}}" placeholder="{{'search.filter.numberApartmentsMinimum'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['numeroViviendasMinimo']" />
              </div>
              <div class="ui-md-3">
                <input type="number" pTooltip="{{'search.filter.numberApartmentsMaximum'|translate}}" placeholder="{{'search.filter.numberApartmentsMaximum'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['numeroViviendasMaximo']" />
              </div>
              <div class="ui-md-3">
                <input type="number" pTooltip="{{'search.filter.numberFloorsMinimum'|translate}}" placeholder="{{'search.filter.numberFloorsMinimum'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['numeroPlantasMinimo']" />
              </div>
              <div class="ui-md-3">
                <input type="number" pTooltip="{{'search.filter.numberFloorsMaximum'|translate}}" placeholder="{{'search.filter.numberFloorsMaximum'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['numeroPlantasMaximo']" />
              </div>
            </div>
          </p-accordionTab>

          <p-accordionTab header="{{'search.filter.excludeTypesOfWorks'|translate}}" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('excludeTypesOfWorks') !== -1"
            [selected]="false">

            <div *ngIf="!!filters.otros.codigoTipoObraExcluir.list" class="ui-g ui-fluid">
              <!-- INITIAL-PHASES -->
              <div *ngFor="let tiposObra of filters.otros.codigoTipoObraExcluir.list" class="ui-md-4">
                <div class="">
                  <p-panel [toggleable]="true" class="c21-checklist-panel" styleClass="ui-md-12 c21-title">
                    <!-- Encabezado -->
                    <p-header>
                      <p-checkbox name="groupAllExcludeTypesOfWorks" binary="true" value="true" [label]="tiposObra.nombre"
                        [ngModel]="isAllChecked('codigoTipoObraExcluir',tiposObra.subTipos)" class="c21-checkbox__cropped"
                        (onChange)="onChangeAll($event,'codigoTipoObraExcluir',tiposObra.subTipos)">
                      </p-checkbox>
                    </p-header>
                    <!-- ./Encabezado -->
                    <!-- Cuerpo -->
                    <div *ngFor="let obraSub of tiposObra.subTipos" class="ui-g-12 ui-g-nopad c21-checklist_item">
                      <p-checkbox name="groupExcludeTypesOfWorks" [value]="obraSub" [label]="obraSub.nombre"
                        [(ngModel)]="filtersParamsCopy['codigoTipoObraExcluir']" class="c21-checkbox__cropped"
                        (onChange)="onChangeCheckbox('codigoTipoObraExcluir')">
                      </p-checkbox>
                    </div>
                    <!-- ./Cuerpo -->
                  </p-panel>
                </div>
              </div>
              <!-- ./INITIAL-PHASES -->
            </div>
          </p-accordionTab>

          <!-- keywordsAndTags & keyword-->
          <p-accordionTab header="{{filtersParams['codigoTipoElementoBusqueda'].code === 'WORKS'? ('search.filter.keywordsAndTags'|translate)  : ('search.filter.keyword'|translate)}}"
            *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('keywords') !== -1" [selected]="false">

            <div class="ui-g ui-fluid">
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClave_0']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClave_1']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClave_2']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText tooltipPosition="left" placeholder="Left" [(ngModel)]="filtersParamsCopy['palabrasClave_3']" />
              </div>
            </div>
            <div class="ui-g ui-fluid" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('keywordsTags') !== -1 && !!filters.otros.selectPalabrasClave.list">
              <div class="ui-md-3">
                <p-dropdown [autoWidth]="false" [pTooltip]="filters.otros.selectPalabrasClave.list[0].nombre"
                  [placeholder]="filters.otros.selectPalabrasClave.list[0].nombre" [options]="filters.otros.selectPalabrasClave.l1.list"
                  [(ngModel)]="filtersParamsCopy['codigosEtiquetasPalabraClave1']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigosEtiquetasPalabraClave1')"></p-dropdown>
              </div>
              <div class="ui-md-3">
                <p-dropdown [autoWidth]="false" [pTooltip]="filters.otros.selectPalabrasClave.list[1].nombre"
                  [placeholder]="filters.otros.selectPalabrasClave.list[1].nombre" [options]="filters.otros.selectPalabrasClave.l2.list"
                  [(ngModel)]="filtersParamsCopy['codigosEtiquetasPalabraClave2']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigosEtiquetasPalabraClave2')"></p-dropdown>
              </div>
              <div class="ui-md-3">
                <p-dropdown [autoWidth]="false" [pTooltip]="filters.otros.selectPalabrasClave.list[2].nombre"
                  [placeholder]="filters.otros.selectPalabrasClave.list[2].nombre" [options]="filters.otros.selectPalabrasClave.l3.list"
                  [(ngModel)]="filtersParamsCopy['codigosEtiquetasPalabraClave3']" optionLabel="nombre" (onChange)="onComboChange($event, 'codigosEtiquetasPalabraClave3')"></p-dropdown>
              </div>
            </div>
            <div class="ui-g ui-fluid" *ngIf="filtersParams['codigoTipoElementoBusqueda']?.otherActions.indexOf('keywordsExclude') !== -1">
              <div class="ui-md-3">
                <span>{{'search.filter.excludeKeywords'|translate}}</span>
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClaveExcluir_0']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClaveExcluir_1']" />
              </div>
              <div class="ui-md-3">
                <input type="text" pTooltip="{{'search.filter.word'|translate}}" placeholder="{{
                  'search.filter.word'|translate}}"
                  pInputText [(ngModel)]="filtersParamsCopy['palabrasClaveExcluir_2']" />
              </div>
            </div>

          </p-accordionTab>

        </p-accordion>
      </div>
      <!--./OTHERS  -->
      <!-- Vista Tabla -->
      <div *ngIf="(!currentViewMosaic && viewSearch===view.search)" class="ui-g-12">
        <p-dataTable [value]="constructionProvidersElemento" [responsive]="true" [lazy]="true" loadingIcon="fa-spinner"
          (onSort)="getWorksSortedBy($event)" (onRowClick)="redirectToWorksheetWithData($event)" [sortField]="sortingColumn ? sortingColumn.attribute : ''"
          [sortOrder]="sortingDirection ? sortingDirection.codigo : ''" emptyMessage="{{'comun.dataNotAvailable'|translate}}">
          <!-- (onRowClick)="redirectToWorksheetWithData($event)" -->
          <!-- CheckBox -->
          <!-- bodyStyleClass="{{ !!car.carpeta ? 'c21-disabled' :''}}" -->

          <p-column>
            <ng-template pTemplate="header">
              <p-checkbox [ngModel]="checkedAll" binary="true" (ngModelChange)="checkAll($event)"></p-checkbox>
            </ng-template>
            <ng-template let-col let-car="rowData" pTemplate="body">

              <p-checkbox data-checkselection="true" [disabled]="!!car.carpeta" [class.c21-none]="!!car.carpeta" binary="true"
                [class.c21-disabled]="!!car.carpeta" [value]="!!car.checked" [(ngModel)]="car.checked" (onChange)="checked(car)"></p-checkbox>

              <button pButton class="c21-button c21-button__med c21-button__med--ico c21-button--rowdata c21-button--folder-b c21-cursor-default c21-folder-fix"
                *ngIf="!!car.carpeta" pTooltip="{{'search.mosaic.folderAssinged' |translate}}"></button>

            </ng-template>
          </p-column>



          <!-- ./CheckBox -->

          <!-- Resto de Campos -->
          <p-column *ngFor="let pcol of columnsVisibleTable" bodyStyleClass="c21-clickable" [field]="pcol.attribute"
            [header]="pcol.text" sortable="true" [style]="pcol.cssStyle">

            <ng-template let-colObj let-rowObj="rowData" pTemplate="body">

              <!-- Imagen 50x50 -->
              <span *ngIf="colObj.field==='urlImagen' && !!rowObj.urlImagen">
                <img [src]="rowObj.urlImagen" onError="this.src='assets/shared/search-default.png' ;" style="width:50px;
                  height: 50px;">
              </span>
              <span *ngIf="colObj.field==='urlImagen' && !rowObj.urlImagen">
                <img src="assets/shared/search-default.png" style="width: 50px; height: 50px;">
              </span>
              <!-- ./ Imagen 50x50 -->

              <!-- Resto de Campos con TEMPLATE -->
              <span *ngIf="colObj.field ==='fase'">
                {{rowObj.fase}}
                <p>({{rowObj.fechaFase | amDateFormat: lo.momentFormatDate}})</p>
              </span>

              <span *ngIf="colObj.field !== 'urlImagen' && colObj.field !== 'fase'">{{rowObj|viewerConverter: colObj}}</span>
              <!-- ./Resto de Campos con TEMPLATE -->

            </ng-template>

          </p-column>

          <!-- ./Resto de Campos -->

        </p-dataTable>
      </div>
      <!-- ./Vista Tabla -->

      <!-- Vista Mosaico -->
      <div *ngIf="(currentViewMosaic && (viewSearch===view.search))" class="ui-g-12 ui-g-nopad">
        <p-dataGrid class="c21-data-mosaic" [value]="constructionProvidersElemento" [lazy]="true">

          <p-header>
            <p-dropdown class="c21-header-dropdown" pTooltip="{{'search.mosaic.selectOrderColumn'|translate}}"
              placeholder="{{'search.mosaic.selectOrderColumn'|translate}}" [autoWidth]="false" (onChange)="getWorksSortedBy()"
              optionLabel="text" [options]="columnsVisibleTable" [(ngModel)]="sortingColumn" pTooltipPosition="top"></p-dropdown>

            <p-dropdown class="c21-header-dropdown" pTooltip="{{'search.mosaic.selectOrderDirection'|translate}}"
              placeholder="{{'search.mosaic.selectOrderDirection'|translate}}" [autoWidth]="false" (onChange)="getWorksSortedBy()"
              optionLabel="nombre" [options]="sortingList" [(ngModel)]="sortingDirection" pTooltipPosition="top"></p-dropdown>

          </p-header>

          <ng-template let-row pTemplate="item">

            <div class="ui-g-nopad ui-g-12 ui-md-4">
              <div class="c21-data-mosaic_template">
                <p-panel>

                  <!-- Panel-Header-->
                  <span class="c21-data-mosaic_panel-header">
                    <!-- Imagen 220x160 -->
                    <a (click)="redirectToWorksheet(row)">
                      <img [src]="row.urlImagenGrande? row.urlImagenGrande :  
                      'https://www.construdata21.com/cont/themes/cd21/img/sinimagenAngular.png'"
                        onError="this.src='https://www.construdata21.com/cont/themes/cd21/img/sinimagenAngular.png';">
                    </a>
                  </span>
                  <!-- ./Panel-Header-->

                  <!-- ./Panel-Body -->
                  <div class="c21-data-mosaic_panel-body ui-g-nopad ui-g">
                    <div class="c21-data-mosaic_checkbox ui-g-nopad ui-g ui-g-12">

                      <!-- <p-checkbox name="group1" placeholder="Top" label="{{row.nombre}}" inputId="checkMyId" [value]="row" [(ngModel)]="worksSelection"></p-checkbox> -->

                      <button pButton class="c21-button c21-button__med c21-button__med--ico c21-button--rowdata c21-button--folder-b c21-cursor-default"
                        *ngIf="!!row.carpeta" pTooltip="{{'search.mosaic.folderAssinged' |translate}}" tooltipPosition="top"></button>
                      <span class="c21-title-mosaic " pTooltip="{{row.nombre}}" tooltipPosition="top" *ngIf="!!row.carpeta">{{row.nombre}}
                      </span>
                      <p-checkbox *ngIf="!row.carpeta" data-checkselection="true" label="{{row.nombre}}" [disabled]="!!row.carpeta"
                        binary="true" class="c21-center-align c21-ellipsis ui-g-12 ui-g-nopad" [class.c21-disabled]="!!row.carpeta"
                        [value]="!!row.checked" [(ngModel)]="row.checked" (onChange)="checked(row)" pTooltip="{{row.nombre}}"
                        tooltipPosition="top"></p-checkbox>


                    </div>
                    <div pTooltip="{{row.divisionEstatal1}}, {{row.divisionEstatal2}}, {{row.divisionEstatalPais}}"
                      tooltipPosition="top" class="c21-data-mosaic_location c21-ellipsis ui-g-nopad ui-g-12">
                      {{row.divisionEstatal1}}, {{row.divisionEstatal2}}, {{row.divisionEstatalPais}}
                    </div>
                    <div pTooltip="{{row.promotora}}" tooltipPosition="top" class="c21-data-mosaic_forwarder c21-ellipsis">
                      {{row.promotora}}
                    </div>
                    <!-- Budget line -->
                    <div class="c21-data-mosaic_budget-container ui-g-nopad ui-g-12">
                      <div class="c21-data-mosaic_budget-details ui-g-nopad ui-g-6">
                        <img class="c21-data-mosaic_icon-size" src="assets/search/mosaic/fase/{{row.tipoElemento.codigo}}_{{row.codigoFase}}.png"
                          tooltipPosition="top" pTooltip="{{row.fase}}">
                        <span>({{row.fechaFase|date:'dd/MM/yy'}})</span>
                      </div>
                      <div class="c21-data-mosaic_budget-details c21-ellipsis ui-g-nopad ui-g-6">
                        <img class="c21-data-mosaic_icon-size" pTooltip="{{'search.mosaic.budget' |translate}}"
                          tooltipPosition="top" src="assets/search/mosaic/Presupuesto.png">
                        <span>{{row.presupuesto}}{{!!row.presupuesto?' €':''}}</span>
                      </div>
                    </div>
                  </div>
                  <!-- ./Panel-Body -->

                  <!-- Panel-Footer -->
                  <div class="c21-data-mosaic_panel-footer ui-g">
                    <div class="c21-data-mosaic_details-container ui-g-nopad ui-g-12 ui-g ui-fluid ">

                      <div class="c21-data-mosaic_horizontal-rule ui-g-nopad ui-g-12"></div>

                      <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                        <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Superficie.png" pTooltip="{{'search.mosaic.superficie' |translate}}"
                          tooltipPosition="bottom">
                        <span>{{row.superficie}}{{!!row.superficie?' m²':''}}</span>
                      </div>
                      <div class="ui-g-nopad ui-g-8">
                        <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                          <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Habitaciones_viviendas.png"
                            pTooltip="{{'search.mosaic.numeroViviendas' |translate}}" tooltipPosition="bottom">
                          <span>{{row.numeroViviendas}}</span>
                        </div>
                        <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                          <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Pisos_alturas.png" pTooltip="{{'search.mosaic.numeroPisos' |translate}}"
                            tooltipPosition="bottom">
                          <span>{{row.numeroPisos}}</span>
                        </div>
                        <div class="c21-data-mosaic_detail c21-ellipsis ui-g-nopad ui-g-4">
                          <img class="c21-data-mosaic_icon-size" src="\assets\search\mosaic\Duracion.png" pTooltip="{{'search.mosaic.duracion' |translate}} "
                            tooltipPosition="bottom">
                          <span>{{row.duracion}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./Panel-Footer -->

                </p-panel>
              </div>
            </div>
          </ng-template>

        </p-dataGrid>
      </div>
      <!-- ./Vista Mosaico -->

    </div>
    <!-- ./panel-content ui-g-nopad -->

  </div>
  <!-- ./CONTENT DIV -->

</p-panel>

<!--#region "dialogAddToFolder" -->
<c21-works-to-folder *ngIf="worksTofolderModal.display" [worksData]="worksTofolderModal" (displayNone)="closeWorksToFolder()"></c21-works-to-folder>

<p-dialog modal="true" width="400" header="{{'comun.exportSelected' | translate}}" [(visible)]="dialogExport">
  {{'comun.futureExport' | translate}}
  <!-- <p-footer>
    <button type="button" pButton icon="fa-close" (click)="dialogExport=false" label="{{'comun.close' |translate}}" class="c21-button--third"></button>
  </p-footer> -->
</p-dialog>

<!--#region "ConfirmDialog" -->
<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" appendTo="body"
  [acceptLabel]="'Si'" [rejectLabel]="'No'"></p-confirmDialog>
<!--#endregion "ConfirmDialog" -->

<c21-visible-table-columns *ngIf="visibleTableColumnsData.display" [incoming]="visibleTableColumnsData" (save)="displayVisibleTableColumns($event)"></c21-visible-table-columns>