@import 'variables';
// OTROS
.c21-popup {
	position: fixed;
	z-index: -11;

	overflow: hidden;

	width: 125vw;
	height: 110vh;
	margin: -100px;

	background-color: rgba(0, 0, 0, .5);
}

.c21-pad-right-fix {
	padding-right: .5em;
}

::ng-deep.c21-panel__popup {
	 > div > .ui-panel-titlebar {
		display: none;
	}
}

.c21-button__med.c21-button__med--ico.c21-folder-fix {
	width: 12px;
	min-width: 12px;
	max-width: 12px;
}

//Es el botón de buscar de la pantalla del buscador, no debería existir en ningún otro sitio
.c21-nav-button--last {
	margin-right: 49px; // margin-top: 20px;

margin-left: 20px;
}

// ./OTROS
.c21-flex {
	flex: 1;
}

.c21-margin-help {
	margin-right: 45px;
}

@media (max-width: 767px) {
	.c21-flex-col-min {
		flex-direction: column;
	}
	.c21-margin-help {
		margin-right: 0;
	}
}
