<p-panel class="ui-g-nopad c21-panel" [class.c21-collapsed]="collapsed">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-7 c21-ellipsis">
          <span class="c21-panel__title-icon">
            <img src="assets/header/h_act.png" alt="Activity">
          </span>
          {{'home.main.activity.title' | translate}}
        </div>

        <div class="ui-g-5">
          <p-dropdown [options]="selectActivity" appendTo="body" optionLabel="nombre" [(ngModel)]="selectActivitySelected" (onChange)="onChange()"
            [autoWidth]="false"></p-dropdown>
        </div>
      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x c21-nodata"  *ngIf="!collapsed  && !activities">
    {{'home.noData' | translate}}
  </div>
  <div *ngIf="!collapsed && activities">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.totalAccess' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numAccesosTotales}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numAccesosTotalesPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numAlertasEnviadas' | translate}}

      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numAlertasEnviadas}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numAlertasEnviadasPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numObrasConsultadas' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numObrasConsultadas}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numObrasConsultadasPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numObrasGuardadasCartera' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numObrasGuardadasCartera}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numObrasGuardadasCarteraPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numObrasAgendadasMes' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numObrasAgendadasMes}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numObrasAgendadasMesPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numErroresNotificados' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numErroresNotificados}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numErroresNotificadosPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-8">
        {{'home.main.activity.numComentariosInternos' | translate}}
      </div>
      <div class="ui-g-4 c21-ta-right">
        <strong>{{activities.numComentariosInternos}}</strong>
      </div>
      <div class="ui-g-11">
        <p-progressBar [value]="activities.numComentariosInternosPorcentaje" [showValue]="false"></p-progressBar>
      </div>
    </div>
  </div>

  <div class="ui-g-12 c21-center c21-padding-top--2x c21-padding-bottom--2x">

    <button type="button" class="c21-button__med c21-button__med--ico c21-button--third" [class.c21-button--downw]="collapsed"
      [class.c21-button--upw]="!collapsed" (click)="changeCollapsed()">
    </button>

  </div>
</p-panel>