<c21-masonry-grid class="c21-masonry" [useAnimation]="false" [useImagesLoaded]="false">
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-last-updates> </c21-last-updates>
    </ng-masonry-grid-item>

    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-home-schedule></c21-home-schedule>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-home-chart></c21-home-chart>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">

        <c21-home-activity></c21-home-activity>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-home-alert *ngIf="mapPermisos.puedeVerBloqueAlertas"></c21-home-alert>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-home-accounts *ngIf="mapPermisos.puedeVerBloqueComerciales"></c21-home-accounts>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="ui-g-6 ui-lg-4 ui-sm-12">
        <c21-home-comments></c21-home-comments>
    </ng-masonry-grid-item>
</c21-masonry-grid>


<p-confirmDialog acceptButtonStyleClass="c21-button--danger" rejectButtonStyleClass="c21-button--third" acceptLabel=" {{'confirmDialog.yesLabel' | translate}}"
    rejectLabel=" {{'confirmDialog.noLabel' | translate}}">
</p-confirmDialog>