::ng-deep c21-home-component .c21-panel__daily {
	height: 45vh;
	padding: 0;
}

.c21-brick {
	width: 450px;
}

::ng-deep .c21-nodata {
	height: 45vh;
}

//  ::ng-deep  .c21-collapsed .c21-nodata {
// 	 display:none;
//  }
::ng-deep .c21-masonry .c21-panel > .ui-panel {
	min-height: 50vh;
	margin: 10px;
	margin-bottom: 5px;
}

::ng-deep .c21-masonry .c21-panel.c21-collapsed > .ui-panel {
	min-height: 0;
}

@media screen and (max-width: 40em) {
	::ng-deep .c21-masonry .c21-panel > .ui-panel {
		min-height: 40vh;
		margin: 5px;
	}
	::ng-deep c21-home-component .c21-panel__daily {
		height: 35vh;
	}
}

@media screen and (max-width: 64.062em) {
	::ng-deep .c21-masonry .c21-panel > .ui-panel {
		min-height: 25vh;
		margin: 3px;
	}
	::ng-deep c21-home-component .c21-panel__daily {
		height: 30vh;
	}
}

// .c21-masonry {
// }
// .c21-masonry {
// 	columns: 4;
// 	column-gap: 1em;
// }
// .c21-brick {
// 	/* No cross browser 'break-inside' property being supported yet: */
// 	display: inline-block;
// 	margin-bottom: 1em;
// 	-webkit-column-break-inside: avoid;
// 	page-break-inside: avoid;
// 	break-inside: avoid;
// }
