.c21-font-basket {
	font-size: .93em;
}

.c21-flex-1 {
	flex: 1;

	min-width: 100px;

	text-align: right;
}

.c21-products {
	display: flex;

	justify-content: space-between;
	align-items: flex-start;
}
