<div *ngIf="!basketList || !basketList.productos ||basketList.productos.length === 0" class="ui-g-12 c21-margin-top--2x c21-center c21-margin-bottom--1_5x">
  <span>{{'webshop.main.basket.noData'|translate}}</span>
</div>

<div *ngIf="!!basketList && !!basketList.productos && basketList.productos.length > 0" class="ui-g-12 ui-g c21-padding-top--2x c21-font-basket ">
  <div *ngFor="let prodBasket of basketList.productos" class="ui-g-offset-1 ui-g-10 ui-g-nopad c21-margin-bottom--1_5x c21-bold c21-products">
    <img src="assets/common/small/cross.png" (click)="delProduct(prodBasket.codigoProducto)" class="c21-clickable">
    <span class="c21-ellipsis c21-clickable c21-margin-left" (click)="delProduct(prodBasket.codigoProducto)" tooltipPosition="top"
      pTooltip="{{'webshop.main.webshop.removeProduct'|translate}} {{prodBasket.nombreProducto}}">{{prodBasket.nombreProducto}}</span>
    <span class="c21-float-right c21-bold c21-flex-1">{{prodBasket.netoString}}</span>
  </div>
  <div class="ui-g-offset-1 c21-hline ui-g-10 c21-margin-bottom"></div>

  <div class="ui-g-offset-1 ui-g-10 ui-g-nopad c21-margin-bottom--1_5x">
    {{'webshop.main.basket.subTotal' |translate}}
    <span class="c21-float-right c21-bold">{{basketList.subTotalString}}</span>
  </div>
  <div class="ui-g-offset-1 ui-g-10 ui-g-nopad c21-margin-bottom--1_5x">
    {{'webshop.main.basket.iva' |translate}}
    <span class="c21-float-right c21-bold">{{basketList.ivaString}}</span>
  </div>
  <div class="ui-g-offset-1 ui-g-10 ui-g-nopad c21-margin-bottom--1_5x" *ngIf="basketList.descuento > 0">
    {{'webshop.main.basket.discccount' |translate}}
    <span class="c21-float-right c21-bold">{{basketList.descuentoString}}</span>
  </div>
  <div class="ui-g-offset-1 ui-g-10 ui-g-nopad c21-margin-bottom--1_5x">
    {{'webshop.main.basket.total' |translate}}
    <span class="c21-float-right c21-bold c21-text-black">
      <strong>{{basketList.totalString}}</strong>
    </span>
  </div>


</div>