<p-panel class="ui-g-12 ui-g-nopad c21-panel">
  <p-header>
    <div class="c21-panel__header">
      <div class="c21-panel__title ui-g ui-fluid">
        <div class="ui-g-10">
          <span class="c21-panel__title-icon">
            <img src="assets/header/notifications.png" alt="Folders">
          </span>
          {{'notifications.main.title' | translate}}
        </div>

        <div class="ui-g-2 ui-sm-12">
          <p-dropdown *ngIf="!!selectNotifications" appendTo="body" [options]="selectNotifications" optionLabel="nombre" [(ngModel)]="selectNotificationsSelected"
            (onChange)="onChange()" [autoWidth]="false"></p-dropdown>
        </div>

      </div>
    </div>
  </p-header>
  <div class="ui-g-12 c21-center c21-padding-bottom--2x c21-padding-top--2x" *ngIf="!notifications">
    {{'home.noData' | translate}}
  </div>
  <div *ngFor="let not of notifications" class="ui-g-12">
    <div class="c21-center">
      <div class="ui-g-8 c21-list-item__title c21-ellipsis">
        <span class="c21-highlight c21-margin-right">{{not.fecha | amDateFormat: lo?.momentFormatDate}}</span>
        <span class="c21-bold" [escape]="false" pTooltip="{{ not.texto}}" tooltipPosition="top"> {{not.texto}}</span>
      </div>
      <div class="ui-g-4 c21-ta-right ui-g-nopad">

        <button pButton pTooltip="{{'' | translate}}" class="c21-margin-right c21-button--secondary c21-button__med c21-button__med--ico c21-button--next"
          (click)="redirectTo(not.path)" tooltipPosition="top" type="button"></button>
      </div>
    </div>
    <div class="ui-g-12 c21-hline c21-margin-top"></div>

  </div>

</p-panel>