<div class="ui-g-12 c21-list-item ui-g ui-g-nopad">
  <div class="ui-g-12 ui-g c21-center">
    <div class="c21-button-line c21-list-item__title c21-ellipsis c21">
      <span class="c21-highlight c21-margin-right">{{schedule.fechaAviso | amDateFormat: lo?.momentFormatDate}}</span>
      <span class="c21-bold " tooltipPosition="top" pTooltip="{{schedule.title}}"> {{schedule.title}}</span>
    </div>
    <div class="c21-button-block ">
      <button pButton pTooltip="{{'schedule.card.edit' | translate}}" class="c21-margin-left c21-margin-right c21-button--warning c21-button__med c21-button__med--ico c21-button--edit"
        (click)="editSchedule()" tooltipPosition="top" type="button"></button>
      <button pButton pTooltip="{{'schedule.card.deleteButton' | translate}}" class="c21-margin-left c21-margin-right c21-button--danger c21-button__med c21-button__med--ico c21-button--delete"
        (click)="deleteSchedule()" tooltipPosition="top" type="button"></button>
      <button pButton pTooltip="{{'schedule.card.moreInfo' | translate}}" class="c21-margin-left c21-button--secondary c21-button__med c21-button__med--ico"
        [class.c21-button--upw]="moreInfo" [class.c21-button--downw]="!moreInfo" (click)="toggleMoreInfo()" tooltipPosition="top"
        type="button" *ngIf="!isShortView"></button>
      <button pButton pTooltip="{{'comun.text.goToWork' | translate}}" class="c21-margin-left c21-button--secondary c21-button__med c21-button__med--ico c21-button--next"
        (click)="redirectToWork(schedule.codigoTipoElemento, schedule.codigoElemento)" tooltipPosition="top" type="button"
        *ngIf="isShortView"></button>
    </div>
  </div>
  <div class="ui-g-12 " *ngIf="!isShortView">
    <strong>{{'schedule.card.obra' | translate}}</strong> {{schedule.obra.nombre}}</div>
  <div class="ui-g-12 " *ngIf="!isShortView">
    <strong>{{'schedule.card.empresa' | translate}}</strong> {{schedule.proveedor.empresa}}</div>
  <div class="ui-g-12  c21-list-item__detail" [hidden]="!moreInfo" *ngIf="!isShortView">

    <p *ngIf="!!schedule.fechaAviso">
      <strong>{{'schedule.card.fechaAviso' | translate}}</strong> {{schedule.fechaAviso | amDateFormat: lo?.momentFormatDateWithHour}}
    </p>
    <p *ngIf="!!schedule.telefonos">
      <strong>{{'schedule.card.telefonos' | translate}}</strong> {{schedule.telefonos}} </p>
    <p *ngIf="!!schedule.descripcion">
      <strong>{{'schedule.card.descripcion' | translate}}</strong> {{schedule.descripcion}} </p>
  </div>
  <div class="ui-g-12 c21-hline c21-padding-top c21-margin-top"></div>
</div>


<p-dialog appendTo="body" header="{{'schedule.editor.title'|translate}}" [(visible)]="showEdit.visible" modal="true" height="480"
  [draggable]="false" [responsive]="true">
  <c21-schedule-editor #c21ScheduleEditor [(modal)]="showEdit" (onSave)="onEdit()"></c21-schedule-editor>

</p-dialog>