<form #myFormUser="ngForm" (ngSubmit)="saveUserData()">

    <div class="ui-g ui-fluid " *ngIf="!!usuario">
        <div class="ui-g-12 c21-block-title c21-padding-bottom--2x">
            {{'account.user.user' |translate }}
        </div>

        <div class="ui-g-12 ui-md-3">
            <input name="nombre" [(ngModel)]="usuario.nombre" type="text" required pInputText pTooltip="{{ 'account.user.name' | translate}}"
                placeholder="{{ 'account.user.name' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="cif" [(ngModel)]="usuario.apellidos" type="text" pInputText required pTooltip="{{ 'account.user.apellidos' | translate}}"
                placeholder="{{ 'account.user.apellidos' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="telefonoUsuario" [(ngModel)]="usuario.telefonoUsuario" type="text" required pInputText pTooltip="{{ 'account.user.telephone' | translate}}"
                placeholder="{{ 'account.user.telephone' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="emailUsuario" [(ngModel)]="usuario.emailNuevo" type="text" required pInputText pTooltip="{{ 'account.user.email' | translate}}"
                placeholder="{{ 'account.user.email' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="login" [(ngModel)]="usuario.login" type="text" required pInputText pTooltip="{{ 'account.user.login' | translate}}"
                placeholder="{{ 'account.user.login' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="password" [(ngModel)]="usuario.password" type="password" pInputText pTooltip="{{ 'account.user.password' | translate}}"
                placeholder="{{ 'account.user.password' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input name="confirmacionPassword" [(ngModel)]="usuario.confirmacionPassword" type="password" pInputText pTooltip="{{ 'account.user.confirmacionPassword' | translate}}"
                placeholder="{{ 'account.user.confirmacionPassword' | translate}}">
        </div>
        <div class="ui-g-12 ui-md-3">
            <p-dropdown name="lang" placeholder="{{'account.user.language'|translate}}" pTooltip="{{'account.user.language'|translate}}"
                [options]="languages" [(ngModel)]="usuario.idioma" optionLabel="nombre" [autoWidth]="false" appendTo="body"></p-dropdown>
        </div>

        <div class="ui-g-12 c21-center c21-margin-top--2x">
            <button pButton type="submit" class="c21-button--third c21-button__med c21-button--save" label="{{'shared.form.save' | translate }}"></button>
        </div>

    </div>
</form>
<div class="ui-g-12 c21-hline c21-margin-top--2x c21-padding-top--2x"></div>

<form #myForm="ngForm" (ngSubmit)="saveCompanyData()" *ngIf="user && user.permisos.mapPermisos.puedeVerEmpresa">
    <div class="ui-g-12 c21-block-title c21-padding-bottom--2x">
        {{'account.user.business' |translate }}
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <c21-user-business [(company)]="company" #c21UserBusiness></c21-user-business>
    </div>
    <div class="ui-g-12 c21-center c21-margin-top--2x">
        <button pButton type="submit" class="c21-button--third c21-button__med c21-button--save" label="{{'shared.form.save' | translate }}"></button>
    </div>
</form>