<span *ngIf="html.keys(filters).length === 4">{{'search.filter.noFiltersSelected'|translate}}</span>

<span *ngFor="let btnChange of html.keys(filters)">
  <ng-container *ngIf="fixedFilters.indexOf(btnChange) === -1 && filters[btnChange] !== ''">

    <ng-container *ngIf="html.isString(filters[btnChange])">
      <button pButton type="button" class="c21-button-small" (click)="onFilterClick(btnChange)" icon="fa-close" label="{{'search.model.' +btnChange|translate:{ value: filters[btnChange] } }}"></button>
    </ng-container>

    <ng-container *ngIf="!html.isString(filters[btnChange]) && (html.isNumber(filters[btnChange]) || html.isBoolean(filters[btnChange]))">
      <button pButton type="button" class="c21-button-small" (click)="onFilterClick(btnChange)" icon="fa-close" label="{{'search.model.' +btnChange|translate:{ value: filters[btnChange] } }}"></button>
    </ng-container>

    <ng-container *ngIf="!html.isString(filters[btnChange]) && !(html.isNumber(filters[btnChange]) || html.isBoolean(filters[btnChange])) && html.isDate(filters[btnChange])">
      <button pButton type="button" class="c21-button-small" (click)="onFilterClick(btnChange)" icon="fa-close" label="{{'search.model.' +btnChange|translate:{ value: filters[btnChange]|date:'dd/MM/yyyy'} }}"></button>
      <!--{{btnChange}} -- {{filters[btnChange]|date: 'dd/MM/yyyy'}}-->
    </ng-container>

    <ng-container *ngIf="!html.isString(filters[btnChange]) && !html.isDate(filters[btnChange]) && !(html.isNumber(filters[btnChange]) || html.isBoolean(filters[btnChange]))">

      <ng-container *ngIf="!!filters[btnChange]?.length;else filterObject">
        <ng-container *ngIf="!filters[btnChange][0].parentName">
          <button pButton type="button" class="c21-button-small c21-bold" (click)="swapHidden(btnChange)" icon="{{ hiddenFilters.indexOf(btnChange) > -1 ? 'fa-angle-double-left' : 'fa-angle-double-right' }}"
            label="{{'search.model.compact.'+btnChange | translate }}" iconPos="right" *ngIf="filters[btnChange].length > 1"></button>
          <ng-container *ngIf="filters[btnChange].length === 1 ||  hiddenFilters.indexOf(btnChange) > -1">
            <ng-container *ngFor="let val of filters[btnChange]">
              <button pButton type="button" class="c21-button-small" (click)="onFilterClickArray(btnChange,val)" icon="fa-close" label="{{filters[btnChange].length === 1 ? ('search.model.'+btnChange | translate:{value: val.nombre } ) : val.nombre }}">
              </button>
            </ng-container>

            <!-- 
              <ng-container *ngIf="!!val.parentName">
              <button pButton type="button" class="c21-button-small" (click)="onFilterClickArray(btnChange,val)" icon="fa-close" label="{{val.parentName + ': ' + val.nombre}}">
              </button>
            </ng-container> 
          -->
          </ng-container>

        </ng-container>
        <ng-container *ngIf="filters[btnChange][0].parentName">
          <ng-container *ngFor="let valParentName of filters[btnChange] | filterParentName">
            <button pButton type="button" class="c21-button-small c21-bold" (click)="swapHidden(btnChange+valParentName)" icon="{{ hiddenFilters.indexOf(btnChange+valParentName) > -1 ? 'fa-angle-double-left' : 'fa-angle-double-right' }}"
              label="{{valParentName | uppercase }}" iconPos="right" *ngIf="checkFilterCollapse(btnChange,valParentName).length > 1"></button>
            <ng-container *ngIf="checkFilterCollapse(btnChange,valParentName).length === 1 ||  hiddenFilters.indexOf(btnChange+valParentName) > -1">
              <ng-container *ngFor="let val of getFiltersByParentName(btnChange, valParentName)">

                <button pButton type="button" class="c21-button-small" (click)="onFilterClickArray(btnChange,val)" icon="fa-close" label="{{checkFilterCollapse(btnChange,valParentName).length === 1 ? valParentName+ ': '+val.nombre : val.nombre }}">
                </button>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>

      </ng-container>

      <ng-template #filterObject>
        <button *ngIf='!!filters[btnChange]' pButton type="button" class="c21-button-small" (click)="onFilterClick(btnChange)" icon="fa-close"
          label="{{'search.model.'+btnChange | translate:{value: filters[btnChange].nombre } }}
         ">
        </button>
      </ng-template>

    </ng-container>

  </ng-container>
</span>